[2015-08-24 20:33] ScottKillen opened #1 "Problem with new versioning scheme"
Please see https://github.com/MinecraftModArchive/Dendrology/issues/39 and the attached logs...

The new versioning scheme has broken compatibility with some mods...including Ancient Trees...

Technically, players should not have to upgrade their other mods to use the new version of chisel, right? There has been no API change...

Might I suggest appending CT to the _end_ of the version string...th

[2015-08-24 20:35] tterrag1098 commented on #1
Yeah we're not sure what to do there. On the one hand, if we continue using normal version numbers, we'll ~~crash~~ clash with Cricket's chisel. But on the other, we have this problem. What do you suggest?

[2015-08-24 20:37] ruyanve opened #2 "Client crash with Ancient Trees"
Hey there, using Chisel-CT2.5.0.1. in combination with Ancient Trees 1.6.2 resulted a client crash at start up.
Scott pointed me your way...
https://github.com/MinecraftModArchive/Dendrology/issues/39

Sorry for the short post, I'm in a hurry and may forget otherwise ;-)
cheers

[2015-08-24 20:37] #2 closed, assigned to nobody

[2015-08-24 20:38] ruyanve commented on #2
duplicate of #1

[2015-08-27 15:22] ruyanve commented on #1
The error still persists with version 2.9.0
The mod dendrology (Ancient Trees) requires mod versions [chisel@[2.4.0.38,)] to be available

[2015-08-27 15:37] tterrag1098 commented on #1
Arg, that's my bad. I'll put up a hotfix shortly.

[2015-08-27 15:44] #1 closed, assigned to nobody

[2015-08-27 15:45] tterrag1098 commented on #1
Fixed in 2.9.0.3

[2015-08-27 16:33] ruyanve commented on #1
Worked like a charm! Cheers!!

[2015-08-27 17:07] ScottKillen commented on #1
:+1:

[2015-08-28 04:13] lilmoefow commented on #1
is 2.9.0.3 suposed to fix compatibility with More Chisels aswell, or only ancient trees? Cause i'm still getting crashes with More Chisels enabled.

http://pastebin.com/j18iwdK3

[2015-08-28 04:16] TehNut commented on #1
TehNut/MoreChisels#25

[2015-08-28 04:19] lilmoefow commented on #1
Cool thanks. When you replied to me yesterday about fixing it i wasn't sure if it was gonna be on your end on chisels :P i probably should have looked a bit harder through your github to see how far along you were

[2015-09-02 13:31] kimfy opened #3 "[Request/Suggestion] Allow in-world chiseling in creative mode"
Right now you can't chisel blocks in world while in creative, well you can but it breaks the block you're targetting.
Version: 2.9.0.3

[2015-09-03 09:11] Stormalisk opened #4 "Suggestion for woolen clay textures"
So after this whole big cast of drama blowing over, I've been wanting to show some textures I have made for the woollen clay. I like the idea of colored builds and really like to see the block get some love in the form of these variants:

![allwoolclay](https://cloud.githubusercontent.com/assets/14106817/9654705/6b807e12-51fa-11e5-8425-596533606b5b.png)

-Left/Right columns:
--1st is original wool

[2015-09-03 09:14] tterrag1098 commented on #4
This would fit well with the plans I have for a "Paintbrush" tool. I find that using a chisel to color things is a bit silly :D.

[2015-09-03 09:16] Stormalisk commented on #4
Guessing your talking about the sunny variant, yea i'd love to see an actual yellow (and yea chiselling the color is kinda silly but just throwing it out there).

Thanks for the label, not sure if I'm able to add it myself. (new to this site)

[2015-09-03 13:48] tehFoxx0rz opened #5 "Transparent malfunctioning fan not animated"
As the title says, the transparent malfunctioning fan (in the technical blocks) currently appears exactly the same as the still one.  I tried to see if I could fix this with a resource pack texture, but it doesn't look like the malfunctioning transparent one actually has its own texture (the variant of the opaque one looks pretty neat though).

And while I'm here, I'll just say it'd be great to se

[2015-09-04 04:36] Drullkus commented on #4
I'm the artist and I approve of these images.﻿

On Sep 03, 2015, at 02:16 AM, Stormalisk notifications@github.com wrote:

[2015-09-04 05:57] tterrag1098 commented on #4
@Drullkus the only problem is the amount of IDs it would use. We'd need an ID for each variation. And one more if we use the "sunny" variant.

[2015-09-04 06:34] TheCricket commented on #4
or add it to existing woolen clay

[2015-09-04 06:34] TheCricket commented on #4
then you only need 1 new id

[2015-09-04 06:38] tterrag1098 commented on #4
@TheCricket huh? There's 16 colors \* 6 variations. So we either need 1 ID per color or one ID per variation.

[2015-09-04 17:16] Barhandar opened #7 "Allow JSON defined variations of existing blocks"
For example, I'd like to have Railcraft's blocks (bloodstained, quarried, abyssal...) to be chiselable without having to install a mod or wait for updates. Or any arbitrary set of decorative blocks, such as Botania's metamorphic stones, or MFR's bricks.

[2015-09-04 17:18] tterrag1098 commented on #7
This is planned, but at the moment you can add variations with ModTweaker.

[2015-09-04 17:53] Yulife commented on #7
[Documentation for it if you need it!](http://minetweaker3.powerofbytes.com/wiki/ModTweaker:Chisel_2_Support)

[2015-09-04 21:10] ephys opened #8 "Compat is adding end stones variants to the wrong group"
The end stone group is "end_Stone" but compatibility is adding blocks to the "end_stone" group, resulting in two different groups.

https://github.com/Chisel-Team/Chisel/blob/1.7/dev/src/main/java/team/chisel/Features.java#L707
https://github.com/Chisel-Team/Chisel/blob/74cdb6355c501cc30a88b3c99a72b3a22f0a98e8/src/main/java/team/chisel/compat/Compatibility.java#L92

[2015-09-04 21:13] #8 closed, assigned to nobody

[2015-09-05 01:01] TheCricket commented on #4
we already have woolen clay
edit: nvm I am dumb

[2015-09-05 04:49] Stormalisk commented on #4
@Cricket, ha-ha its alright man.

@tterrag, I thought they could be added as damage values to the woollenclay. However, I am assuming it won't be that easy?

[2015-09-05 04:51] tterrag1098 commented on #4
The woolen clay already uses all 16 for the colors...

[2015-09-05 04:53] Stormalisk commented on #4
Right silly me, yea that answers that. I suppose each variant having their own Id and the colors be damage values would be the best option?

[2015-09-05 04:58] tterrag1098 commented on #4
The only option the way I see it. Question is whether we want to do it or not.

[2015-09-05 04:59] tterrag1098 commented on #8
Love inconsistent naming...need to go through and clean everything up _sigh_

[2015-09-05 05:05] Stormalisk commented on #4
Totally up to you guys, I'm really giant fan of this mod ( pun? Heh ) and I'd be ecstatic to see my contribution if you're willing.

Also, if you're worried about ids casing performance issues I've seen geostrata from Reika add roughly 30 extra ids (ore support for his blocks) and not cause any issue for my toaster of a computer.

[2015-09-05 05:11] TehNut commented on #4
It's not about performance issues. It's about how there's a very limited number of ID's.

[2015-09-05 05:23] Stormalisk commented on #4
@TehNut was trying to help with moral but yea.

How much could Chisel theoretically put in?

[2015-09-05 06:01] TheCricket commented on #4
Assuming its in a modpack or nah?

[2015-09-05 06:10] tterrag1098 commented on #4
There are 4096 block IDs period. This is for all mods + vanilla to share.

[2015-09-05 06:11] TheCricket commented on #4
So technically we could have over 3000*16 blocks if you have a chisel oriented pack

[2015-09-05 06:12] tterrag1098 commented on #4
Could. But won't.

---

Let's keep this conversation focused on the issue, btw

[2015-09-05 06:13] TheCricket commented on #4
Hence technically :P

[2015-09-05 06:14] TheCricket commented on #3
I can do this tomorrow

[2015-09-05 06:51] Stormalisk commented on #4
I've also seen mods have damage values on ids much higher than 16, all of the variant could be damage values if its a concern. Though it would be abit messy? I'm not too sure.

[2015-09-05 10:57] Stormalisk commented on #4
Now that I think about it, that may only apply to items.

[2015-09-05 22:59] BBoldt opened #9 "Some aluminum stairs have no textures"
As seen here:
![](http://i.imgur.com/LXN6cWD.png)

and here:
![](http://i.imgur.com/UXz1nSi.png)
- Chisel-2.9.0.3

[2015-09-05 23:00] TheCricket commented on #9
Known its just something I need to fix with the StairMaker

[2015-09-05 23:01] BBoldt commented on #9
Okay, might as well have it open as an issue on github though in case anyone else comes looking here.

[2015-09-06 03:11] Drullkus opened #10 "Moving FeatureAdds to client downloading instead of per-release"
So I'm thinking we add a way to add new blocks to Chisel directly by similar methods of iChun's hats mod.

Instead of releasing new blocks through new chisel versions, we could shift them to client downloading on launch. We could have a server that collects all new code and images from this repo every 24 hours, at 4AM EST/1AM PST. Clients can request the manifest from this server and if they diffe

[2015-09-06 03:15] yrsegal commented on #10
your BlockCarvable would need to use NBT, then, so new blocks would just be missing texture. And new blocks could have the client ping the DL server...

[2015-09-06 03:16] Drullkus commented on #10
Um, what do you mean?

[2015-09-06 03:17] Prospector commented on #10
What happens if this fails? IE: no internet access.

[2015-09-06 03:17] TheCricket commented on #10
its more work then its worth imo

[2015-09-06 03:19] yrsegal commented on #10
You don't want client crashes if you see a new block on a server, do you? So, you'd have to use NBT. Pretty much no way around it. And if a block isn't in the registry for chiselables, it could check the server that has the block json for updates.

[2015-09-06 03:19] Drullkus commented on #10
@TheDoctorSoda  What do you mean? The game should be able to launch normally?

[2015-09-06 03:20] Prospector commented on #10
This seems like it could cause a mess. What if a client without certain blocks (for some reason) joins a server with the blocks?

[2015-09-06 03:20] Drullkus commented on #10
@yrsegal The client can ping the game server it's about to connect to as to what blocks are diff. If differrent the client is told to re-dl and close.

[2015-09-06 03:21] yrsegal commented on #10
@Drullkus that would be an elegant solution. or it could just re-dl on a mismatch, and then try to reconnect. (think that answers @TheDoctorSoda's concerns too)
On second fail to match, it could stop trying to connect.

[2015-09-06 03:22] tterrag1098 commented on #10
Downloading unconfirmed data from servers is a **_HORRIBLE**_ idea.

[2015-09-06 03:23] Drullkus commented on #10
@tterrag1098 Our Content server only, not the game servers... I'm not that stupid :P

[2015-09-06 03:24] Prospector commented on #10
I feel like some people will have issues installing a mod that downloads data from any servers...

[2015-09-06 03:25] Drullkus commented on #10
They can opt-out via configs... :P

[2015-09-06 03:25] tterrag1098 commented on #10
It's still unconfirmed. What if the server is compromised?

Opt-out of what? All of chisel?

Sorry but this is a tried-and-failed idea, it's far too much effort and too error prone.

[2015-09-06 03:26] Drullkus commented on #10
We could allow downloads for manual content additions.

[2015-09-06 03:28] Prospector commented on #10
I'm sorry but I completely agree with @tterrag1098 here. Good thought, Bad idea.

[2015-09-06 03:29] Drullkus commented on #10
@tterrag1098 I'm kinda thinking about AWS though. AWS seems pretty good for this function.

[2015-09-06 03:30] TehNut commented on #10
Another agree-er with @tterrag1098. It would be very cool if it could work, but too many things can go wrong.

[2015-09-06 03:31] tterrag1098 commented on #10
AWS would differ from a normal VPS how? Also it's yet another out-of-pocket cost (potentially terabytes of bandwidth per month downloading textures).

[2015-09-06 03:31] Drullkus commented on #10
Hmm. Alright. I might experiment with this with an addon. Otherwise, case closed :\

[2015-09-06 03:31] #10 closed, assigned to nobody

[2015-09-06 03:32] Prospector commented on #10
If you can somehow pull this off, I'd use it. But personally, I don't see this happening without issues.

[2015-09-06 03:32] Drullkus commented on #10
I'm planning on writing a chisel addon featuring models, so I may follow a bit close to ichun's tracks as to hats

[2015-09-06 03:42] TheCricket commented on #9
Done

[2015-09-06 03:48] Drullkus commented on #10
@tterrag1098 Amazon S3﻿ has specialized services specific to just doing content delivery and nothing more.

On Sep 05, 2015, at 08:31 PM, tterrag1098 notifications@github.com wrote:

[2015-09-06 03:56] TheCricket commented on #3
done

[2015-09-06 08:00] Barhandar opened #12 "Immibis' Connected Glass glassifies Transparent Technical blocks"
That is, instead of their correct texture they display as (connected) glass. Not sure if it's your issue or Immibis's.

[2015-09-06 08:25] TheCricket commented on #12
"glassifies"
Screenshots maybe?

[2015-09-06 11:06] asiekierka commented on #12
Overrides the renderer, somehow.

[2015-09-06 14:36] ghost commented on #12
I think it does this to regular Chisel glass too. I removed Connected Glass since then though, so I can't get any screenshots atm.

[2015-09-06 19:55] Glassmaker opened #13 "Chisel's GUI Text issue when NEI not present"
With NEI

![With NEI](https://cloud.githubusercontent.com/assets/5352172/9706283/8c5faac6-54e9-11e5-800e-3d0dbd7c98bf.png)

Without NEI

![Without NEI](https://cloud.githubusercontent.com/assets/5352172/9706286/abdfe67c-54e9-11e5-9aad-1c8049c0f510.png)

Effected Versions: 2.3 - 2.9.
Not effected version: 2.2.
Tested forge versions: 1291, 1408, 1448.

[2015-09-06 23:46] minecreatr commented on #13
Not able to repeat in forge version 1481, might be a forge bug?

[2015-09-07 00:44] kimfy commented on #3
Awesome

[2015-09-07 01:37] Drullkus commented on #13
Forge tends to have... Font texture issues if on Mac and if the splash screen is enabled. Driver thing. Fixable by turning off the splash screen. I cried too when I learned this :(

[2015-09-07 03:13] Glassmaker commented on #13
@minecreatr just tested it with forge 1481, it happens, make sure you have only the chisel in the hotbar, otherwise it will render correctly.

@Drullkus I have tested it with 1291 to rule out the splash screen.

[2015-09-11 08:59] accessdenied0 opened #14 "[Suggestion/Enhancement] Gauges and individually Damage"
Hello dear Chisel-developing-team,

While I was building a hydroelectric power station, I got few ideas for blocks which I would very much like to see in chisel:
- some pressure gauges (still, broken and animated)
- some overgrown, rusty and mossy copper/metal blocks

I want to apologize if this was already planed.

Additional I want to ask if there is a possible chance for adding a options to dis

[2015-09-12 16:42] FreneticScribbler commented on #14
rusty/mossy metal blocks...interesting idea _steals for own mod_

[2015-09-12 16:49] FreneticScribbler opened #15 "[Suggestion] Add electrum block variants"
Constantan and Electrum metal series would be very neat!

[2015-09-12 17:20] gabor7d2 opened #16 "Futura Block is a little bit strange"
The `chisel:futura:5` block (Uber Wavy) looks a little bit weird in some situations. I think it's not connecting correctly because you can't specify the textures in 4 picture in this case, but I don't really understand modding, so maybe not. Or maybe it is intended as it is.

Screenshot:
![2015-09-12_19 16 15](https://cloud.githubusercontent.com/assets/12859334/9832675/d2050b28-5982-11e5-97ab-e21a

[2015-09-12 17:24] gabor7d2 opened #17 "Obsidian Chisel does not show the Block that is in it"
The Obsidian Chisel does not show the item that is currently in it, as other Chisels show it.

Screenshot:
![2015-09-12_19 22 54](https://cloud.githubusercontent.com/assets/12859334/9832710/c2c9a910-5983-11e5-8025-4b9360d7c8a4.png)

Chisel Version: **2.9.0.3**

If you need modlist, logs, or anything like that, tell me. Thanks for the help!

[2015-09-12 20:14] gabor7d2 opened #18 "EMC Support for ProjectE does not work"
In the previous versions of Chisel 2 (2.5.0), the EMC Registration for ProjectE worked. I think it is not working because you changed the Mod ID from `Chisel2` to `Chisel`. It does work in Equivalent Exchange 3, I tested it. I don't want to Custom EMC in all the Chisel things manually.
Sorry if I wrote the Chisel versions and branches etc. incorrectly, but these versions became very confusing to m

[2015-09-12 20:27] TehNut commented on #18
The modid for Chisel has literally never changed. Not even from the original version that AM released.

[2015-09-12 20:38] TheCricket commented on #18
There was never Project E compatibility. I think the whole mod was a bad idea so I never added support for it

[2015-09-12 21:21] accessdenied0 commented on #14
Hey @warlordjones,

sure go for it, I'm still a bit confused which version I should use... I personally would go with the version with the better support... I was already thinkin' about to do the graphics for my self and contribute here... maybe I'll do tomorrow.

access_denied

[2015-09-13 07:02] Yulife commented on #15
I think mr_hazard wanted his Japanese Castle blocks to be implemented as well :)

[2015-09-13 08:39] gabor7d2 commented on #18
Okay, you are right. But in 2.5 I saw EMC values for most of the things, I may check it later. But can I ask you another question: Why there is 2 version branches then, like the `Chisel` with `235279` ID and the `Chisel 2` with `225236`? Because I don't understand for example that the latest `Chisel 2` version does fixes the false repeating issue when opening a chisel, but the latest `Chisel` does

[2015-09-13 08:45] tterrag1098 commented on #18
https://github.com/sinkillerj/ProjectE/blob/f7e188294cf10c9df842f7b4da4a3ce6567ffa2d/src/main/java/moze_intel/projecte/emc/mappers/Chisel2Mapper.java#L39

*facepalm*

[2015-09-13 09:28] gabor7d2 commented on #18
Okay, so I just have to wait for they to merge the pull request :smile:

[2015-09-13 09:41] FreneticScribbler commented on #15
That too, but that's not quite IE related :P

[2015-09-13 20:34] wackoamd1 opened #19 "special effects on facades not showing"
the special color effects like on water blocks or futura blocks are invisible on facades.

conduit facades from ender io or the cable facades from ae2 dont show the special color.

if u "paint" the facade with the waterblocks the icon of the facade shows the correct color setting but assoon as u place the facade it turns see through or completely blue ( in case of the water blocks)

 this is on 1.

[2015-09-14 04:47] Drullkus commented on #16
Oh, I know the problem... It's on my bucket list, haven't gotten around to it >.>

[2015-09-14 04:48] Drullkus commented on #15
Electrum, sure. Constantan isn't a common metal, no.

[2015-09-14 04:50] Drullkus commented on #14
@warlordjones Oi!

I'm doing them >:C

[2015-09-14 05:13] accessdenied0 commented on #14
@Drullkus

I was hoping for <3

[2015-09-14 05:59] FreneticScribbler commented on #14
Too late, already implemented in my own mod :P

[2015-09-14 09:01] Drullkus commented on #14
Doesn't mean I can't implement it in chisel too :3

[2015-09-14 13:08] FreneticScribbler commented on #14
Didn't say it did :)

[2015-09-14 20:23] gabor7d2 commented on #18
A New Update came out for ProjectE that fixed the problem. Thanks for your help! :smile:

[2015-09-14 20:23] #18 closed, assigned to nobody

[2015-09-16 05:46] 1n5aN1aC opened #20 "Chisel 2.9.1 Crashes on Server-side when loading."
Crash Report:  http://pastebin.com/vFMMXPkh

Appears server is trying to do something that is only provided client-side:

java.lang.NoClassDefFoundError: net/minecraft/client/renderer/texture/IIconRegister

[2015-09-16 20:40] SanAndreaP opened #21 "Crash with Morph (BlockConcrete ClassCastException)"
Minecraft: 1.7.10
Forge: 10.13.4.1492
Chisel: 2.9.1.6
Morph: 0.9.2

So, when I try morphing into another creature, the game crashes with following error message:

[code]

Here's the complete log:
https://gist.github.com/SanAndreasP/b5ccf89c4f4324f80ba4

[2015-09-16 20:42] tterrag1098 commented on #21
@iChun wat r u doin

I'll add in some safeguards for this kind of thing, though I'm not sure how exactly it could happen.

[2015-09-16 20:44] SanAndreaP commented on #21
okay, cool. I'll try not to morph until a fix is out. Thanks :)

[2015-09-17 16:02] iChun commented on #21
I create a fake player (EntityOtherPlayerMP) for use of rendering and I call it's onUpdate function so stuff like particles and such would be spawned. EntityOtherPlayerMP doesn't extend EntityPlayerSP, the only instance of EntityPlayerSP is normally the minecraft player.

[2015-09-18 18:07] gigabit101 opened #22 "Crash when using chisel in world"
This dose not happen all the time and it seems to be more if holding shift
http://pastebin.com/PKRPRXgt

[2015-09-19 00:58] lilmoefow opened #23 "Client side Concrete crash"
Not sure how it happened. I have not made any concrete and there is none placed around me in the world. I was just standing on top of an Ancient Warfare Light Torque Shaft when the crash occurred.

http://pastebin.com/gzj6i9Es

[2015-09-19 01:09] tterrag1098 commented on #23
Duplicate of #21

[2015-09-19 01:09] #23 closed, assigned to nobody

[2015-09-19 01:38] lilmoefow commented on #23
I dont have Morph on the server or any of Ichuns mods so is it actually a duplicate??

[2015-09-19 01:40] tterrag1098 commented on #23
It's the same exact error, which has already been patched. Next release will fix it.

[2015-09-19 01:43] lilmoefow commented on #23
alright thanks

[2015-09-20 11:15] hilburn commented on #22
The code at fault is:

https://github.com/Chisel-Team/Chisel/blob/1.7/dev/src/main/java/team/chisel/item/chisel/ChiselController.java#L90

In java `-1 % 2 == -1`

You'd need to do: `idx = (i + variations.length - 1) % variations.length;` or: `if (--i < 0) i+= variations.length;`

[2015-09-21 00:31] TheCricket commented on #22
My bad

[2015-09-22 20:17] TheCricket commented on #17
We have known about this for a long time, Its just never been a priority

[2015-09-26 19:12] CorneliusCornbread opened #24 "Optifine - connected texture chisel block not appearing at all"
The connected texture on any block doesn't show up when a block update happens but it can be fixed when you reload the world. I have updated optifine chisel and it still happens. Plz halp.
![2015-09-26_13 41 38](https://cloud.githubusercontent.com/assets/8294697/10119309/6a072cb4-6458-11e5-9385-6b7b9c4b6804.png)

[2015-09-26 19:14] TheCricket commented on #24
its optifines fault, the mod sucks just don't use it

[2015-09-26 19:17] CorneliusCornbread commented on #24
Then would you mind at least where I can report this bug to optifine?

[2015-09-26 19:19] TheCricket commented on #24
I don't know where you would do that because I never used it. If you are someone who thinks they can't run a pack without optifine then you can't run the pack at all. IMO

[2015-09-26 19:22] CorneliusCornbread commented on #24
Well having a world with over 50 chunk updates per second I think optifine would help, and you really don't give two shits on helping me do you? And I'm sorry I trying to fix something is a problem, just because a mod has problems doesn't mean that it's a bad mod. Funny thing is it's only on your connected texture blocks hmm sound more like a chisel problem.

[2015-09-26 19:24] TheCricket commented on #24
Funny thing is optifine has never worked with chisel, We write code for Minecrafts rendering system. Not my fault Optifine rewrites the render system. You are correct I will not help fix your optifine problem. Because its optifine not chisel at all

[2015-09-26 19:31] #24 closed, assigned to nobody

[2015-09-28 11:25] Mysteryem opened #25 "build.gradle fails when using netbeans (working directory != project directory)"
This is rather minor, but build.gradle fails on line 166 due to line 162 https://github.com/Chisel-Team/Chisel/blob/1.7/dev/build.gradle#L162 using `new File('changelog')` as the working directory for netbeans is %netbeans install path%\bin. Changing it to use `file('changelog')` fixes this problem as file() is evaluated relative to the project directory and not the working directory. See 15.1 at

[2015-09-28 21:20] BBoldt opened #26 "[Suggestion] More carpet types"
@Drullkus pls :pray:

Some suggestions:

Berber:
![](https://upload.wikimedia.org/wikipedia/commons/d/d0/Swatches_of_berber_carpet.jpg)

Shag:
![](http://www.campbellsloft.com/images/categories/rug_208_1_4.jpg)

Casino:
![](http://www.bestonlinegambling.com/wp-content/uploads/2014/04/CasinoCarpet.jpg)

The shining:
![](http://blog.iso50.com/wp-content/uploads/2008/05/b84782bfb1be52d7b711161aa6cddf

[2015-09-28 21:27] Nonsanity commented on #26
Vibrant patterns, like the last two, are one thing. But getting a nice, subdued, realistic texture that feels like carpet and can go from wall-to-wall in a big room without looking like optical noise pollution or moire-patterning too badly... That's the goal. :)

[2015-09-29 03:01] Drullkus commented on #26
@BBoldt Just because of that emoticon... YES I WILL ADD MORE CARPETS

[2015-09-30 17:17] SkeletonPunk opened #27 "[Suggestion] More Nether Brick Variants"
Made some nether brick textures last night for no reason, then a friend suggested I bring it here as a suggestion. These textures were designed to be the same block but have a random texture based on location using the variant system in 1.8's blockstate jsons.

![netherbrick](https://cloud.githubusercontent.com/assets/8498022/10203267/ce3aeaf4-6769-11e5-8940-c23dadba2051.png)
![2015-09-30_11 50 27

[2015-09-30 19:15] minecreatr commented on #27
@Drullkus ^

[2015-09-30 19:30] tterrag1098 commented on #27
I like these textures, but the way you have it set up is not how chisel does randomized textures. It can only work in a square layout (2x2 or 3x3) and you have 5.

[2015-09-30 19:34] SkeletonPunk commented on #27
I can modify them if necessary.

[2015-09-30 19:54] SkeletonPunk commented on #27
![netherbrick](https://cloud.githubusercontent.com/assets/8498022/10204741/56ac0532-6772-11e5-99b5-3b74a80cfbc5.png)

[2015-09-30 21:41] Drullkus commented on #27
_Approving intensifies_

On Sep 30, 2015, at 12:54 PM, SkeletonPunk notifications@github.com wrote:

—
Reply to this email directly or view it on GitHub.

[2015-09-30 21:44] tterrag1098 commented on #27
That texture is possible to work with. Drullkus you can add it if you like.

[2015-09-30 22:02] Drullkus commented on #27
I'll put a tiny modification and then ship it.

[2015-10-01 18:44] starg09 opened #28 "Geostrata Smooth Quartz can be chiseled to vanilla Quartz"
So, recently Reika enabled chiseling GeoStrata blocks. While it works properly with the cobblestone (which helps a lot to avoid a full inventory while mining), it seems like Chisel decided it's "Smooth Quartz", which is an Overworld variant, and really easy to find, can be converted to the vanilla, more rare Quartz block. This is an exploit which can seriously affect the progression with some othe

[2015-10-01 18:48] tterrag1098 commented on #28
If @ReikaKalseki is registering it in the ore dictionary as quartz then this will happen. Otherwise, we have no specific code for doing this.

[2015-10-01 18:57] starg09 commented on #28
I just checked, and yes, it seems to be that it indeed does that. Sorry for bothering :)

I'll close this here then, as it's not on your side.

[2015-10-01 18:57] #28 closed, assigned to nobody

[2015-10-01 22:24] ReikaKalseki commented on #28
...I do?

[2015-10-02 04:31] tterrag1098 opened #29 "Feature Request - Stairs"
_From @aldra2012 on December 25, 2014 8:14_

i was wondering if you could add grimstone stairs, or even more stairs. Btw love everything you have done with chisel keep up the great work!

_Copied from original issue: Chisel-2/Chisel-2#69_

[2015-10-02 04:31] tterrag1098 commented on #29
_From @TheCricket on December 25, 2014 16:29_

Ok

[2015-10-02 04:31] tterrag1098 commented on #29
_From @Adaptivity on January 13, 2015 12:40_

Also, would be cool to see smooth variants of vanilla stairs.

[2015-10-03 01:38] 1n5aN1aC commented on #20
....I guess you fixed this in https://github.com/Chisel-Team/Chisel/commit/ce44355dcfb71c9e2c519cee5a3296f95f2a451b

Sorta wish someone had said something, We've been waiting for it to be fixed.

[2015-10-03 01:38] #20 closed, assigned to nobody

[2015-10-03 01:40] tterrag1098 commented on #20
My bad, I forgot to reference the issue. But it was in the changelog.

[2015-10-03 23:18] squarism commented on #24
Anyone wondering beyond what's been said here ...
`Video Settings -> Chunk Loading: Default`
fixed it for me with optifine installed (sry to hear it's annoying @TheCricket)  :partly_sunny:

[2015-10-04 00:42] TheCricket commented on #24
Once you hear it for the 100th time you just kinda ignore the issues and say geez another optifine peasant

[2015-10-04 01:59] tterrag1098 commented on #29
This is from the old repo...mostly was just testing out migrating. I won't be doing any more.

[2015-10-04 02:05] tterrag1098 commented on #25
Why not make a PR for this?

[2015-10-04 02:33] tterrag1098 commented on #9
This was fixed in ab6fab4e64153fd06c8ae41f6940a876ed879266

[2015-10-04 02:34] tterrag1098 commented on #22
Er...whoops

[2015-10-04 02:35] tterrag1098 commented on #21
This was fixed in 3fb1fc3972afd457573e91d2e4dbe0f7a65dbdd0

[2015-10-04 02:35] #21 closed, assigned to nobody

[2015-10-04 02:36] tterrag1098 commented on #19
Try updating EnderIO. Also AE2 facades will never work with these kinds of blocks, it's not feasible. This is an issue for those respective mods, not us.

[2015-10-04 02:36] #19 closed, assigned to nobody

[2015-10-04 02:45] tterrag1098 commented on #13
Confirmed myself, I'll have to look into this.

[2015-10-04 06:34] tterrag1098 commented on #27
I added the texture, but I don't want to add a whole new block for one variant

[2015-10-04 12:08] VermillionX commented on #26
Don't forget Tatami Mats!

[2015-10-04 12:15] VermillionX opened #30 "[Suggestion] Roof Blocks"
There's currently no dedicated roof blocks. There's not even any in other mods, at least not without an OP tech/magic mod attached to it.
As is such the reason for my suggestions: Roof Tiles in various styles and colors.

Below are a few example textures I threw together. They're not really the right style, but they're what I came up with.
![roof10](https://cloud.githubusercontent.com/assets/10645

[2015-10-04 17:26] AlexPlus117 opened #31 "API jar is a requested download on Curse Voice Launcher"
Hi, I'm using Curse Voice Launcher to make modpack, so it tells me to update your mod, but it downloads the api jar, instead of downloading the real mod jar, so can you remove the API and the other jars, which aren't the mod itself, from your files list, please?

[2015-10-04 17:38] TehNut commented on #31
Those are there for a reason...

[2015-10-04 17:41] TheCricket commented on #31
Those are optional jars for developers so that they can better use chisel. They shouldn't be pulled by curse. Also api is the only "non mod" file there the others are just versions you can't use

[2015-10-04 17:42] TheCricket commented on #30
They are very bright, but I would like to see some more classic and medieval type stuff

[2015-10-04 17:43] minecreatr commented on #30
I have been working on this since I saw your request on curseforge @VermillionX :)

[2015-10-04 17:48] minecreatr opened #32 "[Suggestion] World Gen Chisel Buildings"
Just an idea, maybe add some buildings/houses that use chisel blocks as worldgen.

[2015-10-04 17:51] AlexPlus117 commented on #31
Ok, but at least can you put the mod itself as the latest release? Curse downloads the latest jar that finds here, which is the API, at the moment:
![immagine2](https://cloud.githubusercontent.com/assets/8421361/10269238/41d0e4ea-6ad1-11e5-9ea6-7dc9db086460.png)

[2015-10-04 17:52] TheCricket commented on #31
The main jar is the release, the others are sub-jars

[2015-10-04 17:54] TheCricket commented on #32
I did have the idea for chisel'd dungeons be something for a separate mod but maybe a villager house would be cool

[2015-10-04 17:56] AlexPlus117 commented on #31
I know it, but if I click the download button, it automatically downloads the API:
![immagine](https://cloud.githubusercontent.com/assets/8421361/10269259/e696ae10-6ad1-11e5-9369-1537fa85d8e8.png)
I had to download the mod manually, but Curse tells me I should upgrade your mod again.

[2015-10-04 17:57] AlexPlus117 commented on #31
Here's the result:

[2015-10-04 17:59] AlexPlus117 commented on #31
If I click the download button, here's what happens:
![immagine2](https://cloud.githubusercontent.com/assets/8421361/10269281/6d919704-6ad2-11e5-90a7-51a38b6a1730.png)

[2015-10-04 18:23] TheCricket commented on #31
Thats curses fault

[2015-10-04 19:33] AlexPlus117 commented on #31
I sent them a ticket, but somehow the problem's gone.

[2015-10-04 19:43] tterrag1098 commented on #32
Sounds like addon material, I'm not sure this fits in the base mod.

[2015-10-04 20:32] TheCricket commented on #32
Yeah ofc

[2015-10-04 22:54] Drullkus commented on #32
I like the idea, but I'd also agree with this being addon material :)

[2015-10-04 22:55] Drullkus commented on #30
I like the third and fourth textures as well as the last one.

[2015-10-04 22:58] Drullkus commented on #24
xD

[2015-10-04 23:59] tterrag1098 commented on #30
Are all these 16x?

[2015-10-05 00:07] VermillionX commented on #30
Yes, they are 16x.
I did a bunch of other ones but they weren't as "normal" (Thatch as well). (3 other below)
![roof6](https://cloud.githubusercontent.com/assets/10645298/10271092/d0e7a8b8-6b61-11e5-9354-7b78f8f8458b.png)
![roof7](https://cloud.githubusercontent.com/assets/10645298/10271091/d0e72c62-6b61-11e5-9022-3222530e3cf5.png)
![roof13](https://cloud.githubusercontent.com/assets/10645298/1027

[2015-10-05 06:47] Drullkus opened #33 "Update Notification Tab & Info Tab"
We should add an update notifier into the Chisel GUI... It'll help the users know that there's an update to Chisel but non-invasively unlike _most_ mods who use the in-game chat...

[2015-10-05 06:48] Drullkus commented on #33
I'm thinking we could do a slide-out tab for this (Kinda like the Thermal Expansion Tabs, for their Redstone Control/Augments/Machine Side Config)

[2015-10-05 06:49] Drullkus commented on #33
One other thing we could consider is adding another tab above the update tab that gives a short info on how the Chisel is used. It'll be short because using the Chisel is easy.

[2015-10-05 12:31] ghost opened #34 "[1.7.10] ThermalExpansion Cache Dupe Chisel"
https://youtu.be/xUGbq7IuMDw

[2015-10-05 14:02] tterrag1098 commented on #34
This was definitely fixed. What version are you on?

[2015-10-05 14:14] ghost commented on #34
I do not use this version, I created a notification of a possible dupe.
I use Chisel2 and created a ticket there: https://github.com/Chisel-2/Chisel-2/issues/418

[2015-10-05 14:24] tterrag1098 commented on #34
It was fixed there too. Again, what version?

[2015-10-05 14:27] ghost commented on #34
Chisel2-2.5.0.43

[2015-10-06 20:12] mikeloeven opened #35 "[Suggestion] Stair Recipies for Chisled Stone patterns"
This has more than likely already been suggested however i would like to be able to make cosmetic stairs from chiseled stone variations

[2015-10-07 05:48] LlubNek opened #36 "chisel 1.8 0.0.1 test results (missing textures, invalid outputs, etc)"
I tested chisel in minecraft 1.8 with forge 11.14.3.1512 and NEI 1.0.5.104 (and dependencies).  These are the results:

Chisel 3 1.8 0.0.1 bugs:
- All items/blocks added by chisel are missing ENUS localised names and descriptions except White Antiblock
- Missing textures:
  - `chisel:itemChisel`
  - `chisel:end_stone:0`
  - `chisel:fantasy1:5` top
  - `chisel:gold_block:0`
  - `chisel:factory:16 -

[2015-10-07 05:49] Drullkus commented on #36
Chisel 1.8 isn't exactly ready for use, it's in alpha

[2015-10-10 06:42] Drullkus opened #37 "asdf"
@tterrag1098 fix pls :pray:

![https://dl.dropboxusercontent.com/s/gptppfgkx3e641y/Screen%20Shot%202015-10-09%20at%2011.39.19%20PM.png](https://dl.dropboxusercontent.com/s/gptppfgkx3e641y/Screen%20Shot%202015-10-09%20at%2011.39.19%20PM.png)

I've already nuked the project and regradled everything, still broke

[2015-10-10 06:57] Drullkus commented on #37
Fixed via @6e65f80

[2015-10-10 06:58] #37 closed, assigned to nobody

[2015-10-10 23:21] Stormalisk commented on #35
Right now, a good option for this is immibis's microblocks or carpenter's blocks.

[2015-10-12 02:05] VermillionX opened #38 "Texture issues"
Noticed this earlier: The Rusted Vent Technical block has the inner textures turned sideways. The non-rusted version is fine though.
![2015-10-12_14 23 09](https://cloud.githubusercontent.com/assets/10645298/10420524/6119b9cc-70f2-11e5-8a9b-13bf41546ca0.png)

And although not actually a bug, Large Bricks are missing mortar between the two lower bricks, resulting in a really ugly tiling effect.
![2

[2015-10-12 02:36] Drullkus commented on #35
Honestly, all of my yes with @Stormalisk's response

[2015-10-12 07:27] tterrag1098 commented on #31
This has been fixed by the curse team

[2015-10-12 07:27] #31 closed, assigned to nobody

[2015-10-12 07:28] tterrag1098 commented on #17
Obsidian chisel's future is uncertain, I may not be keeping it around.

[2015-10-13 01:21] TheCricket commented on #17
Why get rid of it?

[2015-10-14 01:49] Kris1432 opened #40 "Give Presents Animations"
Idea to have the presents open and close like vanilla chests

[2015-10-14 11:41] ljfa-ag opened #41 "Transparent technical blocks probably shouldn't be glass"
Transparent technical blocks don't drop anything when they're broken without silk touch. Their material is Material.glass even though stone and iron is not really glass :p

They are instances of BlockGlass, which can mess up other mods' expectations on them. For instance, with my glass shards mod, they will actually drop shards. Now I can easily special-case that on my side, but maybe they shouldn

[2015-10-14 15:01] Drullkus opened #42 "Offset Gizmo invisible on CTM-V blocks when holding Offset tool, but it still works"
Title explains all. :P

[2015-10-14 15:04] Drullkus commented on #42
Nice. Nabbed the number #42 :P

[2015-10-14 20:09] tterrag1098 commented on #41
Agreed, they shouldn't be glass material. I didn't even realize they were.

[2015-10-14 20:10] tterrag1098 commented on #13
Fixed in 2.9.2.X

[2015-10-14 20:10] #13 closed, assigned to nobody

[2015-10-14 20:10] tterrag1098 commented on #3
Done in 2.9.2.X

[2015-10-14 20:10] #3 closed, assigned to nobody

[2015-10-14 20:10] tterrag1098 commented on #22
Fixed in 2.9.2.X

[2015-10-14 20:10] #22 closed, assigned to nobody

[2015-10-16 10:22] MySt1k commented on #34
It's horrible. The problem is not completely resolved. It is enough to use the selected version without this check on a client and DUP will be possible.

[2015-10-16 15:23] tterrag1098 commented on #42
Fixed via f26edd340d4a42fb4421a3f2372ae8cd3ac6fe1b

[2015-10-16 15:41] gabor7d2 opened #43 "Upper Slabs have Unnamed names"
The Upper Slabs from Chisel (Marble and Limestone) have Unnamed names, as shown on the screenshot. Ignore the `Unnamed Block, report to mod author.`, some mod does that. And also I think these Upper Slabs should not be shown in NEI.

Sorry if this an intended feature or an already known issue.

Screenshots:
![2015-10-16_17 38 45](https://cloud.githubusercontent.com/assets/12859334/10546197/e59461e

[2015-10-17 07:54] Drullkus opened #44 "Wot happen"
http://pastebin.com/DnHZJGip @tterrag1098 fix pls :pray:

[2015-10-17 08:30] Drullkus commented on #44
Chatlog http://pastebin.com/RDtaXSGA from #MinecraftForge

[2015-10-18 01:35] Drullkus commented on #41
Potentially related to #12

[2015-10-18 02:01] Drullkus commented on #44
@tterrag1098 Still not fixed, please test before you actually declare as fixed D:

Different crash > http://pastebin.com/aKfCt5j3

[2015-10-20 18:53] #42 closed, assigned to tterrag1098

[2015-10-20 18:53] tterrag1098 commented on #44
#blamedrullkus

[2015-10-20 18:53] #44 closed, assigned to tterrag1098

[2015-10-20 18:58] InkDragon opened #45 "[suggestion] support for tinkers construct + natura"
Any chance support for tinkers construct metals or natura woods might be added?

[2015-10-20 23:27] Drullkus commented on #45
Aluminium, Bronze, Copper, Tin blocks have been already added long ago and accessible through oredict.

Natura will be put into consideration.

[2015-10-20 23:41] InkDragon commented on #45
Was looking for the Others such as Cobalt, ardite, manyullyn
Thank you for considering natura

[2015-10-21 00:35] Drullkus commented on #45
Cobalt - Perhaps

I don't see other mods seeing Ardite and Manyullyn though.

[2015-10-21 05:47] tterrag1098 opened #46 "Limestone texture revamp"
A lot of the limestone textures (of which some are 1:1 with cobble textures) need CTM, it's very odd as a player when a block has no CTM but the same kind of texture on another block does.

Birdstone as well.

[2015-10-21 05:47] #43 closed, assigned to nobody

[2015-10-21 05:49] tterrag1098 commented on #38
This was half-fixed in a4b0dfd32cc588378de5053ca0201df3e24d23b6 right @Drullkus ?

[2015-10-21 05:49] #34 closed, assigned to nobody

[2015-10-21 05:49] #25 closed, assigned to nobody

[2015-10-21 05:53] tterrag1098 opened #47 "Add Blockpacks API"
This will allow for modular chisel downloads and easy creation of blockpacks by third parties.

Details to come.

[2015-10-21 06:22] Drullkus commented on #38
Yes

[2015-10-21 06:30] Drullkus commented on #27
Added in commit c05b85d

[2015-10-21 06:32] #27 closed, assigned to nobody

[2015-10-21 06:34] Drullkus commented on #33
@tterrag1098 What do you think?

[2015-10-21 06:36] tterrag1098 commented on #33
I'm not generally a fan of update notifications, but if it's merely a GUI sidebar (with a ONE TIME dismiss) then maybe.

[2015-10-21 06:50] Drullkus commented on #33
I mean just a tab on the Chisel GUI. So it's out of your face unless you click on it.

[2015-10-21 22:45] Drullkus opened #48 "Prismarine World Generation"
Thinking about having underwater "crystals" of (rough) Prismarine. Also maybe make the block fishable (retrievable by fishing rod).

[2015-10-23 07:02] SkeletonPunk opened #49 "[Suggestion] Dark Prismarine Lantern"
![screenshot 399](https://cloud.githubusercontent.com/assets/8498022/10686387/679fb304-7918-11e5-9fec-c8155c466bd3.png)
Well then, here ya go.
![sea_lantern](https://cloud.githubusercontent.com/assets/8498022/10686438/f69a8142-7918-11e5-8c7b-49f96e37ced2.png)
I did end up adding a bit more noise, but I am not too sure if it's enough.
Here is the actual animation(pre-noise)
https://gfycat.com/Chubb

[2015-10-23 20:12] TheCricket commented on #38
that commit message...

[2015-10-23 20:18] Drullkus commented on #38
10/10

[2015-10-28 13:45] Stormalisk opened #50 "Odd compatability with ganymedes woodstuff mod"
As the title says, chests from woodstuff are interchangeable with the chisel. I am wondering if this can be changed.

[2015-10-28 15:51] Choonster commented on #50
This is because both WoodStuff Chests and Chisel Presents are registered as "chest" in the Ore Dictionary. I don't think there's any way to disable this without using something like MineTweaker to remove WoodStuff Chests from the Ore Dictionary or register them under a different name.

[2015-10-28 22:21] melekaiah commented on #24
optifine is one really popular mod you know. if you keep hearing about optifine issues, it means, that your mod is getting very much attention, its been one of the staples of my own modpacks for quite some time. optifine however is acutally needed by quite a few players as well to help run it a bit faster.

couldnt you talk to the optifine devs and figure it out rather than just dismiss it?.

as p

[2015-10-28 22:33] Drullkus commented on #24
We're **NOT** dealing with Optifine's crap. You bring it to them.

[2015-10-28 22:34] Drullkus commented on #24
If you can't run the modpack without optifine yet you can with Optifine, you shouldn't be running the modpack in the first place.

[2015-10-28 22:40] Stormalisk commented on #50
Yes, I know.

I am wondering if a solution could be done between Ganymedes and the chisel team.

Right now being able to chisel the chests is kinda hacky, and I want to disable it. I don't really want to download minetweaker just for it.

[2015-10-28 23:04] Drullkus opened #51 "Aurora Blocks coloring Renderer"
I have the code from Benimatic for the renderer.

Thank you, Benimatic! :D

[2015-10-29 02:06] Drullkus commented on #49
Will possibly implement Prismarine Lamps and add this as one of the variants

[2015-10-30 12:43] Bogdan-G opened #52 "no craft-chisel for End stone?"
Hello. Version: 2.9.3.9 (release folder)
MC 1.7.10; Forge 1517; Opti, FC, etc
Vanilla End stone not add GUI-chisel:
![image](http://imgur.com/cbSixS3.png)
but chiseled end stone can edit:
![image](http://imgur.com/1QKyFJh.png)

although the texture of the end stone have been added 3 months ago:
https://github.com/Chisel-Team/Chisel/commit/c1389d9de02be36e362cb733e79a40c189fcec2a https://github.com

[2015-10-30 12:58] Bogdan-G commented on #9
Version 2.9.3.9, bug return:
![1](http://imgur.com/mpZ4i2G.png)
![2](http://imgur.com/IhzJq2L.png)

[2015-10-30 17:07] BBoldt commented on #9
This issue never went away.

[2015-10-30 20:16] Drullkus commented on #52
Issue already fixed a few weeks ago, is available in the 3.0 dev branch.

[2015-10-30 20:22] tterrag1098 commented on #52
That's not fixed

[2015-10-30 21:01] Drullkus commented on #52
![screen shot 2015-10-30 at 2 00 38 pm](https://cloud.githubusercontent.com/assets/5010174/10857975/b1f0b394-7f0e-11e5-95bb-0309295345a8.png)

[2015-10-30 23:41] tterrag1098 commented on #52
NOT. RELEASED.

[2015-10-31 01:43] TheCricket commented on #9
Waat

[2015-10-31 02:58] Drullkus commented on #9
GOOD JOB

Sent from my iPhone

[2015-10-31 14:04] gdude2002 commented on #36
Has there been any progress on a 1.8 version? I'm not entirely sure how big the API changes were, but it does look like a big job.

[2015-10-31 15:41] minecreatr commented on #36
There has been some progress. The Current 1.8 release is a pre alpha and is very buggy. At the moment all it has really is the rendering engine and some core blocks. The next update is going to be a big one, hence why it is taking so long. Sorry about all the bugs, but yes we are working on an update.

[2015-11-01 03:53] Drullkus opened #53 "Prospective Mod Blocks to be chiseled"
- Generic
  - Basalt
  - Cobalt
- Botania - Tristaric
  - Elementium -
  - Manasteel
  - Terrasteel
  - Livingrock
  - Livingstone
  - Shimmerwood - Botania:shimmerwoodPlanks
  - Shimmerrock - Botania:shimmerrock
  - Bifrost - Botania:bifrostPerm
  - Alfglass - Botania:elfGlass
  - Managlass - Botania:manaGlass
- TwilightForest
  - TFTowerwood
  - TFUnderbrick
  - Castlebrick things

[2015-11-03 07:39] Drullkus opened #54 "Add an API hook for determining if a block/item has a chisel group as well as returning the said group"
@tterrag1098 pls :pray:

[2015-11-03 09:15] Drullkus opened #55 "Carving.chisel.getGroup(block,metad) crashes on tile.doorWood"
Trust me, it's weird. Try smacking a chisel on a door.

[code]

[2015-11-03 14:45] tterrag1098 commented on #54
Um, `getGroup` ?

[2015-11-03 14:45] #54 closed, assigned to tterrag1098

[2015-11-03 16:02] Drullkus commented on #54
Yes. It works...ish. See #55

Sent from my iPhone

[2015-11-03 17:10] tterrag1098 commented on #55
This is because doors have no proper Itemblock form, so it crashes when using stack.getItem()

[2015-11-04 02:42] Cypher121 opened #56 "Dark Oak Planks are utter f***ing garbage."
They don't even match the color of real planks!
![2015-11-03_18 30 26](https://cloud.githubusercontent.com/assets/8020624/10928118/9005a182-825a-11e5-8acb-4ddca6c3cebc.png)

[2015-11-04 02:42] Drullkus commented on #56
Can agree. Will retexture for 3.0 release along with all other wooden variants.

[2015-11-04 02:44] alexbegt commented on #56
Needs more Info, crash log, and a 3 page essay on why this should be changed. LOL I don't even work here why am I saying this. <3

[2015-11-04 02:45] Drullkus commented on #56
@alexbegt lol what 3 page essay? I've chiseled an essay on three stone tablets.

[2015-11-08 23:18] Leigionairciam opened #58 "Crash"
Everytime I try and start the game with forge on 1.8 it just crashes

[2015-11-09 00:11] Choonster commented on #58
The 1.8 version is still in early development, but if you want the problem fixed you should post the crash report.

[2015-11-09 00:20] Drullkus commented on #58
Crashlog pls

[2015-11-09 00:29] Drullkus opened #59 "Futura Glowey renderer."
Suggested over 6 months ago. 10/10 would continue waiting.

[2015-11-09 07:23] srs-bsns opened #60 "NPE With AE2 & B:DecorativeQuartzBlocks=false"
Ver: Chisel-2.9.3.9, appliedenergistics2-rv3-alpha-9

In AppliedEnergistics2.cfg, if B:DecorativeQuartzBlocks=false, the game crashes during init:

[code]

[2015-11-09 07:25] TheCricket commented on #60
You should also be disabling the chisel feature as well. That is a dependency

[2015-11-10 23:41] chezpaul opened #61 "Material with ID already exists type error"
I'm getting a bunch of material with ID already exists type error on my server log:

http://pastebin.com/XHdkQ0af

Running Latest version with Cauldron 1.7.10 1492.155

[2015-11-13 19:45] Cronosus opened #62 "[ENH] Broken glass, connected textures for glass"
Hello
Only sugestion:
- some broken glases (for horror themed buildings example. :) )
- connected textures for glass blocks .. looks better

[2015-11-13 19:47] chezpaul commented on #61
Same issue with KCauldron 1.7.10 1517.168 in case it helps

[2015-11-13 20:57] Drullkus commented on #61
Try not using Cauldron

[2015-11-13 20:57] Drullkus commented on #62
Will investigate connected vanilla glass

[2015-11-13 21:07] chezpaul commented on #61
That's a super smart remark. And just to be as smart as you are, I'll answer that I'm not using Cauldron.
Try to figure that one out.

[2015-11-13 21:08] Drullkus commented on #61
Well, we could use the log without Cauldron in the set up.

[2015-11-13 21:13] chezpaul commented on #61
I have over 150 mods and never had that type of error before I installed Chisel, going on a year and a half. Is there a way I can check those ID's?

[2015-11-13 21:14] Drullkus commented on #61
Can we have the _full_ log?

[2015-11-13 21:20] Drullkus commented on #61
If we get the full log, we can determine what the problem is.

[2015-11-13 21:23] TehNut commented on #61
You never once said that you tried without Cauldron. You also never provided a log from without Cauldron.

And it wasn't a "super smart remark". It was him asking you to try without the unsupported hack you had installed. So get off your high horse.

[2015-11-13 21:26] chezpaul commented on #61
I said I was using KCauldron, not cauldron.
My whole server is based on KCauldron, why would I try the mod with it? I couldn't even open my world.
It makes no sense.

Anyway, thanks for trying to help.
Here's my full log

http://pastebin.com/1ANF4zTu

[2015-11-13 21:26] TehNut commented on #61
KCauldron _is_ Cauldron.

[2015-11-13 21:27] chezpaul commented on #61
Yes and no...is Chisel 2 the same as Chisel 1?
Some people might say yes and other would say no. I bet you would say no.

[2015-11-13 21:28] tterrag1098 commented on #61
Stop playing semantics. Any variant of bukkit+forge is UNSUPPORTED. Test without it and see if it still happens.

[2015-11-13 21:47] chezpaul commented on #61
Same error running same mods in Forge 1.7.10 1517
http://pastebin.com/eM71QEzz

[2015-11-13 21:48] chezpaul commented on #61
Is there a trick to get in your error log the [NAME OF MOD] in front of every line?
That's kinda cool.

[2015-11-13 21:50] tterrag1098 commented on #61
Do you have any chisel blocks manually added to FMP? That is automatic now.

[2015-11-13 21:51] chezpaul commented on #61
I doubt it but possible. Which config would that be? I don't see a config for it.

[2015-11-13 21:52] tterrag1098 commented on #61
microblocks.cfg

[2015-11-13 21:53] chezpaul commented on #61
I remember editing this cfg on the recommendation of someone but going back to it being blank because it added a bunch of unrelated errors.

This is what it is right now:

#Configuration file for adding microblock materials for aesthetic blocks added by mods
#Each line needs to be of the form <name>:<meta>
#<name> is the unlocalised name or registry key of the block/item enclosed in quotes. NEI ca

[2015-11-13 21:55] tterrag1098 commented on #61
Ok well someone/something is adding chisel blocks to FMP manually. It's not really a problem though, it's a harmless error.

[2015-11-13 21:55] #61 closed, assigned to nobody

[2015-11-13 21:57] chezpaul commented on #61
k cool thanks

[2015-11-16 05:43] Shahelion opened #63 "Geostrata interaction broken"
Chiselling between cobble variants: works, but apparently is not intended.

Chiselling between patterns of a single stone type: intended, but does not work.

https://github.com/ReikaKalseki/Reika_Mods_Issues/issues/384

[2015-11-17 13:55] JasonMcRay opened #64 "Chiseling chest gives Ender Chest"
I dont think i need to explain this more. You can chisel normal wooden chest into vanilla Ender Chest.

Chisel: 2.9.3.9
InfiTech 2 Modpack

[2015-11-17 14:06] JasonMcRay commented on #64
I have found out that the vanilla Ender Chest has a "chest" oredictionary tag same as wooden chest. Trying to pinpoint the mod causing this

[2015-11-17 14:16] JasonMcRay commented on #64
Wasnt that hard. OpenComputers are registering Ender Chest and Vanilla Wooden Chest as chest in oreDictionary. I have asked why they are doing it. https://github.com/MightyPirates/OpenComputers/issues/1528

[2015-11-17 14:34] #64 closed, assigned to nobody

[2015-11-20 19:28] Drullkus commented on #15
Electrum, along with some other metals, have been added in 1990de3. Cupronickel will be considered later.

[2015-11-20 20:03] tterrag1098 commented on #15
Once again, don't close issues until they are _released_.

[2015-11-21 01:16] Drullkus commented on #15
Whoops.

[2015-11-27 04:05] vagaprime opened #67 "[Suggestion] Hardened Clay and wool textures"
I was hoping to see some chisel textures for hardened clay and wool like you find in the conquest texture back.

[2015-11-27 18:21] tehFoxx0rz commented on #56
Acacia planks too...

[2015-11-27 18:39] tehFoxx0rz opened #68 "Creative mode pick block on ice type blocks returns metadata of 0"
Seems to happen with the basic blocks, pillars, and the stairs, for both normal ice and packed ice versions.

[2015-11-27 19:49] Drullkus commented on #56
@tehFoxx0rz How about all of them :P

[2015-11-27 20:18] BBoldt commented on #56
I really like the way @ScottKillen did them for Unity:

https://github.com/CyanideX/Unity/pull/35#issuecomment-103356680

Not a pic of the dark oak there but you get the idea. :P

[2015-11-27 21:48] ScottKillen commented on #56
Thanks, @BBoldt ! :grinning:

[2015-11-27 22:11] Drullkus commented on #56
Hey @ScottKillen, yes, if you'd permit, we'd love to use your wood textures in chisel :3

[2015-11-28 01:58] BBoldt commented on #56
Also while you're at it, check out the chisel item textures for Unity, made by @Yulife.

:smile:

[2015-11-28 02:05] ScottKillen commented on #56
I am absolutely fine with that. Thanks for the honor!

[2015-11-28 05:05] TheCricket commented on #56
@Cypher121 Well fuck you too then, at least I tried making textures back when it was just me. You could be nice and say hey the dark oak textures need an update I think they could be improved instead of being rude.

[2015-11-28 05:53] Cypher121 commented on #56
@TheCricket lol, it was a joke between me and @Drullkus in IRC. And they really don't match original colors, do they?

[2015-11-28 06:02] TheCricket commented on #56
No they don't but I made them a year ago when I had really bad eyes

[2015-11-28 06:10] Drullkus commented on #56
Can confirm with @Cypher121

[2015-11-30 07:04] VermillionX commented on #53
Might want to consider adding Railcraft's building blocks to the list (Sandy/Bloodstained/Frostbound/Quarried/Abyssal Stone). They could really do with some extra options.

[2015-11-30 10:47] tehFoxx0rz commented on #56
@Drullkus I find the others fine; they're smooth-shaded and matched the vanilla plank colours. I mean, if you guys want to retexture them all that's up to you, but only the acacia and dark oak ones are in need of some reworking imo (and different from the others).

[2015-11-30 17:17] Drullkus commented on #56
They're not the quality that I can make them to be.

[2015-11-30 17:51] TheCricket commented on #56
because I made them

[2015-11-30 17:58] Drullkus commented on #56
I'm talking about all of them, not just the ones you made

[2015-11-30 17:59] alexbegt commented on #56
LADY'S LETS NOT FIGHT PLEASE? <3

[2015-11-30 17:59] Drullkus commented on #56
I don't want to fight.

[2015-11-30 22:48] LuigiHutch opened #69 "Crash when clicking in the Auto-Chisel GUI with Upgrades Disabled"
Chisel-2.9.3.9

See title ^: https://gist.github.com/LuigiHutch/7c10faa82eb3d76a73e3

[2015-11-30 23:08] tterrag1098 commented on #69
Thanks, that's an oversight with disableable features. Will fix soon.

[2015-12-06 13:06] LuigiHutch commented on #69
Fixed :D

[2015-12-06 13:06] #69 closed, assigned to tterrag1098

[2015-12-06 20:51] #52 closed, assigned to nobody

[2015-12-06 20:51] #60 closed, assigned to nobody

[2015-12-07 00:47] Drullkus opened #70 "Chiseling TEs in-world will make TE lose data."
See chiseling present chests in-world.

[2015-12-12 19:52] vagaprime commented on #62
@Drullkus  I know there is a way to do a connected texture for vanilla glass since Optifine has a setting that does just that.

[2015-12-12 19:53] tterrag1098 commented on #62
@vagaprime Optifine is a hack, it probably replaces the rendering code for glass completely. Not an option.

[2015-12-12 19:57] vagaprime commented on #62
True.

[2015-12-12 21:16] Sunconure11 opened #71 "Forge multipart and textures"
It appears some blocks, such as marble, when you use multipart on them, have some issues with missing textures.

[2015-12-13 10:29] LuigiHutch opened #72 "Add a way to obtain these two vanilla blocks in survival"
Im not sure how feasable this would be but, please as a way to obtain these two blocks in survival:

![2015-12-13_10 12 07](https://cloud.githubusercontent.com/assets/9326429/11766505/94b25e9a-a182-11e5-9aa5-70bd44e27941.png)
- These blocks are: minecraft:log 12 and minecraft:double_stone_slab 8.
- The wood block on the left is the variant where is has the bark all the way round it.
- I know facto

[2015-12-13 17:06] LuigiHutch opened #73 "Slabs show twice in NEI, Slabs for the top half and Slabs for the bottom half"
Chisel: 2.9.4.10
NEI: 1.0.5.118

Slabs show twice in NEI, Slabs for the top half of the block and Slabs for the bottom half of the block.

See Image:
![2015-12-13_17 03 22](https://cloud.githubusercontent.com/assets/9326429/11768124/7b791d36-a1bb-11e5-8e67-c14202d770d2.png)

 -LuigiHutch

[2015-12-13 17:08] LuigiHutch opened #74 "Slabs able to be placed inside the player"
Chisel: 2.9.4.10

Chisel Slabs are able to be placed inside the player which can lead to some bad side affects. See GIF:
http://www.gfycat.com/DifferentBlackandwhiteGander

 -LuigiHutch

[2015-12-14 01:17] Lonemind opened #75 "Item Deletion Upon Shift Left-Click"
When a block is already in the chisel and you hold an item on your cursor then shift left-click the contained item to switch them out the contained item is ejected and deleted instead of being returned to your inventory.

[2015-12-15 19:23] T145 commented on #71
I have experienced the same issue. I did some testing with the latest FMP and the earliest you can let modded MC load at now (1.1.1.321), and neither helped. I also went back to Cricket's Chisel 2 and performed the same tests, and recieved the same results:

![bug](http://i1064.photobucket.com/albums/u370/MegaT145/Bugs/Chisel%20amp%20FMP%20conflict.png)

[INpureCore](http://www.curse.com/mc-mods/m

[2015-12-16 20:18] tterrag1098 commented on #58
This is undoubtedly fixed (I have tested the new code on both client and server and it launches fine)

[2015-12-16 20:19] tterrag1098 commented on #36
We've rewritten most of the stuff this issue concerns. What hasn't been done will be incorporated into a todo list soon.

[2015-12-16 20:19] #36 closed, assigned to minecreatr

[2015-12-16 20:27] tterrag1098 opened #80 "1.9 TODO"
- [x] Fix resource reloads not reloading texture/face jsons
- [x] Add a way to infer multiple textures for types that need it
- [ ] 3D Chisel model
- [ ] Separate client and server code
- [x] Add R\* texture types
- [ ] Add blockpacks
- [ ] Internalize block factory
- [x] Add callback to access block object
- [x] Fix unloc name generation
- [x] Allow for Vanilla block model ovverides

[2015-12-16 20:31] tterrag1098 commented on #71
There is nothing we can do to fix this.

[2015-12-16 20:31] #71 closed, assigned to nobody

[2015-12-26 09:30] Vexatos opened #81 "Presents spamming log with exceptions"
Only happens on Multiplayer: http://pastebin.com/R2fYumQD

You probably shouldn't call [`sendToDimension`](https://github.com/Chisel-Team/Chisel/blob/1.7/dev-3.0/src/main/java/team/chisel/block/tileentity/TileEntityPresent.java#L80) on the client side. I guess a `!worldObj.isRemote` check in `connectTo` should suffice to fix this.

[2015-12-26 12:33] tehFoxx0rz commented on #72
I've made Chisel groups for all logs in my personal pack with Minetweaker, with all their rotations in including this one, basically turning the chisel into a log rotating tool on top of a way to get this log form.  Functionality like that could be neat.

[2015-12-26 12:40] tehFoxx0rz opened #82 "Glass panes don't connect to the backs of stairs"
Unlike vanilla's: https://dl.dropboxusercontent.com/u/66131226/2015-12-26_12.26.27.png

Chisel's (same with stained ones and iron bars as well): https://dl.dropboxusercontent.com/u/66131226/2015-12-26_12.25.48.png

Oops, fixed link.

[2015-12-26 19:33] tterrag1098 commented on #82
That's the same link twice

[2015-12-30 09:33] Inari-Whitebear opened #83 "Markdown maintainer links broken"
The links in the README.md are wrong, so you get sent to https://github.com/Chisel-Team/Chisel/blob/1.7/dev/github.com/tterrag1098 instead of http://github.com/tterrag1098 when clicking.

[2015-12-30 20:40] #83 closed, assigned to nobody

[2015-12-31 05:29] hron84 opened #84 "[Enhancement] Chiseled bookshelves should support enchantment tables"
Based on our [previous coversation](https://twitter.com/tterrag1098/status/680469578569224192) chiseled bookshelves should provide their books for enchantment tables (both for vanilla and modded ones, like EnchantingPlus. OpenBlocks, or MFR)

[2015-12-31 05:38] Drullkus commented on #84
I'm in full support of this.

[2015-12-31 05:56] Drullkus commented on #84
This has existed for quite a while, I don't even seriously know when this was actually added, but it was definitely added before Aug 18th.

[2015-12-31 05:56] #84 closed, assigned to tterrag1098

[2015-12-31 05:58] tterrag1098 commented on #84
Turns out this was even in AUTOMATIC_MAIDEN's code, so, whoops.

[2016-01-02 15:12] Drullkus commented on #72
I added chiselablility for the double_stone_slab:0 as well as double_stone_slab:8 in commit 8d35125.

[2016-01-04 22:11] Shahelion commented on #17
Is the Obsidian Chisel different in any way from the Diamond Chisel?

[2016-01-04 22:14] Drullkus commented on #17
It does everything the demand chisel does but has half the durability IIRC.

Sent from my iPhone

[2016-01-04 22:14] Shahelion opened #85 "Chisel'd Obsidian Harvest Level"
Currently, only vanilla obsidian has the "obsidian" mining level required, the chisel variants only require a pickaxe.
![2016-01-04_14 13 48](https://cloud.githubusercontent.com/assets/6917535/12102106/85564020-b2ed-11e5-8ffb-f4c612770d16.png)
![2016-01-04_14 13 50](https://cloud.githubusercontent.com/assets/6917535/12102107/85567798-b2ed-11e5-9480-3580797d6084.png)
![2016-01-04_14 13 52](https://

[2016-01-05 06:21] Drullkus opened #86 "Smacking a paint frame with a Chisel changes its appearance"

[2016-01-05 07:18] Drullkus opened #87 "Chiselable Snow"
![http://i2.kym-cdn.com/photos/images/facebook/000/103/256/i-fucking-love-cocaine.jpg](http://i2.kym-cdn.com/photos/images/facebook/000/103/256/i-fucking-love-cocaine.jpg)

[2016-01-05 19:27] MyNameIsKodos opened #88 "[Feature Request] Batteries from the Technical Block series should be two blocks tall"
I'd like to see the MegaCell batteries be two blocks tall, so you could make realistic looking batteries.  The reason being, I had an idea for a build that involved having them mounted in a thing in the wall, with extra batteries stockpiled for rotation.  You could also do a horizontal version of the battery texture, so we could have piles of batteries stacked in our warehouses.

This would also g

[2016-01-07 02:38] codewarrior0 opened #90 "[Request] Bring back seamless asphalt"
I tried the 1.7-dev3.0 branch today and was sad to find my parking lots are now made of asphalt tiles. Any chance of bringing back the seamless asphalt?

[2016-01-09 19:26] turbo22 opened #91 "Graphics issues"
I am having issues with the blocks not showing correctly. I'm not sure what is going on with them.
![2016-01-09_14 25 15](https://cloud.githubusercontent.com/assets/7614708/12217899/e05c1466-b6dc-11e5-9c43-bc4f60432ee6.png)

[2016-01-10 06:24] Drullkus commented on #91
Can you please give us your full game log? It might give us some info.

[2016-01-10 13:57] turbo22 commented on #91
[08:54:56] [Client thread/INFO]: Setting user: Godsownshadow
[08:54:59] [Client thread/INFO]: LWJGL Version: 2.9.1
[08:55:04] [Client thread/INFO]: Reloading ResourceManager: Default, FMLFileResourcePack:Forge Mod Loader, FMLFileResourcePack:Minecraft Forge, FMLFileResourcePack:Not Enough Items, FMLFileResourcePack:Backpacks!, FMLFileResourcePack:bspkrsCore, FMLFileResourcePack:Treecapitator, FMLF

[2016-01-10 18:31] tterrag1098 commented on #91
You have a lot of missing texture errors that you should not be getting. Please try with the latest forge, and then without any mods except Chisel.

[2016-01-10 19:11] turbo22 commented on #91
As i slowly add mods more and more textures error out. I do have the latest forge. Is the a .cfg file anywhere that could be edited?

[2016-01-10 19:15] tterrag1098 commented on #91
If you're getting those errors, you do not have the latest forge.

[2016-01-10 19:17] turbo22 commented on #91
I downloaded it the same day. Clicked the latest version for 1.8.

[2016-01-10 19:19] tterrag1098 commented on #91
Specifying this was 1.8 would have helped. The current 1.8 release is unsupported, we have a rewrite in the works.

[2016-01-10 19:19] #91 closed, assigned to nobody

[2016-01-10 21:27] BlocklockCity opened #93 "Stone bricks texture "roughbricks.png" not available in-game"
I initially updated to 2.9.4.10 to try to fix this.  I let the config regenerate, checked in the creative inventory search and in NEI, but the roughbricks.png texture just doesn't seem to be used.

[2016-01-11 04:16] Drullkus commented on #93
So wait... There's a missing texture for one of the stonebricks variants in-game? This should not be possible.

[2016-01-11 04:39] TehNut commented on #93
No I think it's that the texture doesn't have a block

[2016-01-11 04:55] BlocklockCity commented on #93
TehNut is correct, sorry for not being clear.

[2016-01-11 05:18] SisterJacq opened #94 "Non-API reference in Chisel 3 API"
Gloriously copypasta'd from a .txt document I gave to Drull:

On a side note, TextureSubmap in your CTMLib seems to not implement any of the required functions from IIcon, because I doubt you forgot to declare the class abstract.

[2016-01-11 05:21] tterrag1098 commented on #94
TextureSubmap is not an abstract class, it relies on lombok to fill in the missing methods. Don't use the source, just compile against (and shade) the built jar.

Your suggested code for the ChunkData will not work, that'll crash dedicated servers. But I don't think icon stuff would be used on servers anyways so I'm probably fine just using Minecraft.getMinecraft().

[2016-01-11 05:22] #94 closed, assigned to nobody

[2016-01-13 16:44] cauliflower69 opened #95 "1.8.9 Server Crash"
http://pastebin.com/NHz1xC4U

[2016-01-13 17:39] pasulj95 opened #96 "no recipes"

[2016-01-13 18:29] P3rf3ctXZer0 opened #97 "Branch Version Release Request - 1.8.9"
Hey I have been using this mod since 1.5.4 and I really enjoy it now that far more stable and high performance 1.8.9 is over shadowing 1.7.10 I was wondering if you could start transferring your mod to a 1.8.9 branch.

[2016-01-13 18:44] Drullkus commented on #97
[Brrrruuuuuh](http://minecraft.curseforge.com/projects/chisel/files/2275174)

[2016-01-13 18:44] #97 closed, assigned to nobody

[2016-01-13 18:54] P3rf3ctXZer0 commented on #97
Hehe ... I didn't see that...

[2016-01-13 18:55] alexbegt commented on #97
@Drullkus be nice to @DPxKnightxZero or no movies for u <3

[2016-01-13 18:57] Drullkus commented on #97
@DPxKnightxZero I don't blame you, it's only been 10 hours since we released it, the word needs time to spread (help us by spreading it!)

It, however, is still riddled with bugs... :<

[2016-01-13 19:07] P3rf3ctXZer0 commented on #97
I will do my best to test and report things : D thanks for your continued support for your mod : D

[2016-01-13 19:08] Drullkus commented on #95
A client class is being loaded on a server -.-

[2016-01-13 19:19] cauliflower69 commented on #95
Every other mod in the pack functions fine. We are at about 110 loaded mods. Only this mod crashes on load

[2016-01-13 19:19] cauliflower69 commented on #95
The pack is Requiem 1.8.9 on Technic. I'll double check the mods

[2016-01-13 19:44] P3rf3ctXZer0 opened #99 "1.8.9 - Server Startup Crash"
Crash Log -> https://gist.github.com/DPxKnightxZero/693cf5e9b3a17fb583b9
Full Client Log -> https://gist.github.com/DPxKnightxZero/42bfd2ebcd127fafac56

[2016-01-13 19:49] alexbegt commented on #99
Dupe of #95, Fix waiting in PR for @minecreatr or @tterrag1098 to check.

[2016-01-13 19:51] Drullkus commented on #99
Duplicate of #95

[2016-01-13 19:51] #99 closed, assigned to nobody

[2016-01-13 19:57] P3rf3ctXZer0 commented on #99
Roger

[2016-01-13 21:51] kwpugh commented on #96
No recipe for chisel and crashes if you try the iron ingot and stick.

[2016-01-13 21:56] Xiaminou opened #100 "[MC1.8.9-0.0.2.2] Crash when browsing BC Facades in JEI"
Crashes whenever I browse any of the buildcraft facades.

Crash Report: http://pastebin.com/3ehjC9D6

[2016-01-13 23:29] minecreatr commented on #100
Are you sure this is a chisel related crash? It apears to be related to an obj model and we do not use those.

[2016-01-13 23:32] tterrag1098 commented on #100
Yeah I'd definitely report this to Buildcraft.

[2016-01-13 23:55] Xiaminou commented on #100
I have, and yes I'm pretty sure it's chisel, it crashed right after I added it and was fixed when I removed it.

[2016-01-14 00:57] tterrag1098 commented on #100
I would have no idea how to fix this, I don't know the buildcraft code. The issue on their repo will be more productive.

[2016-01-14 01:02] pasulj95 commented on #96
http://imgur.com/a/F2NT5

[2016-01-14 12:07] CubeTwo commented on #96
Same problem have no recipes http://imgur.com/a/Nqn7J
my mods and forge http://imgur.com/jdbKniY

[2016-01-14 12:10] CubeTwo opened #101 "No chisel recipes in 1.8.9"
Hello. I have no recipes in chisel http://imgur.com/a/Nqn7J
my mods and forge http://imgur.com/jdbKniY

[2016-01-14 12:59] codewarrior0 commented on #74
This also causes slabs to be consumed on right-click, but no slab is placed in the world.

[2016-01-14 15:51] Alaric323 commented on #96
Also, missing the majority of translations, at least in JEI.
![capture](https://cloud.githubusercontent.com/assets/4038592/12329110/bbe227a0-baac-11e5-9d9f-90dcfde495f2.PNG)

Not to mention that half of them can't be crafted cause we're missing items like certus quartz and copper, but I know you guys aren't to blame for that. :P

[2016-01-14 15:54] Alaric323 opened #102 "Blocks are gigantic when held in inventory"
Creative spawned, since Issue #96 exists.  Happens with at least 20 other blocks.
![capture](https://cloud.githubusercontent.com/assets/4038592/12329200/22243b2a-baad-11e5-85fe-be2599a5b059.PNG)

[2016-01-14 17:03] TehNut commented on #101
#96

[2016-01-14 17:59] minecreatr commented on #96
Recipes have not been implemented in 1.8.9 yet, that is one of the reasons it is alpha.

[2016-01-14 17:59] minecreatr commented on #96
Recipes have not been implemented in 1.8.9 yet, that is one of the reasons it is alpha.

[2016-01-14 18:00] tterrag1098 commented on #96
It's still a bug though.

[2016-01-14 18:00] #101 closed, assigned to nobody

[2016-01-14 18:01] ghost commented on #102
That's a lot of lead you have there.

[2016-01-14 18:54] Drullkus commented on #102
Enough metal to make metal underpants to never float on top of water ever again :P

[2016-01-16 18:23] Alaric323 opened #103 "Chisel causes dev console spam"
The end of a huge amount of console spam (Final log is about 30 Megabytes in size):
http://puu.sh/my25X/aa0bec2c92.txt
Issue with JEI.  Only happens when chisel is added.

I figured you guys have enough code to look through, so that small chunk is enough.  I've saved the full log though, if you need it.

[2016-01-16 18:28] tterrag1098 commented on #103
This is the problem with logging errors without cleaning up their cause. However, seems like an issue with BC facades.

[2016-01-16 18:34] Alaric323 commented on #103
My bad.  I'll go post the issue with them then.

[2016-01-16 18:34] #103 closed, assigned to nobody

[2016-01-16 23:58] mezz commented on #100
This crash is suppressed in the latest JEI, and I don't think chisel is the cause.

[2016-01-17 00:02] mezz opened #104 "JEI Integration needs some polish"
![2016-01-16_15 59 02](https://cloud.githubusercontent.com/assets/916092/12375154/1fbaa3d8-bc6a-11e5-871a-a1e4a2e0a952.png)

Using Chisel-MC1.8.9-0.0.2.6
- [x] Items overflow the box
- [x] the recipe blocks the recipe paging at the top when the screen is small
- [x] there's some orange thing to the right side.

[2016-01-17 00:33] Drullkus commented on #104
Güd jorb

[2016-01-17 03:04] tterrag1098 commented on #100
Yes, this is not a chisel issue

[2016-01-17 03:04] #100 closed, assigned to nobody

[2016-01-17 21:30] Avalonzo opened #105 "Chisel/ProjestE conflict (1.8.9)"
Hello just a heads up I Installed ProjectE and I was then unable to load/create worlds seems to be related to Chisel.

Here is the link to the ProjectE Github ticket I have opened - https://github.com/sinkillerj/ProjectE/issues/1150

Also find enclosed my Latest fml log

[latest-fml-log.txt](https://github.com/Chisel-Team/Chisel/files/93616/latest-fml-log.txt)

[2016-01-17 21:42] alexbegt commented on #105
Seems ProjectE is using the old chisel API path for the Chisel2Mapper.

[2016-01-17 21:43] Avalonzo commented on #105
Thank you for such a fast reply :)

[2016-01-18 01:59] tterrag1098 commented on #105
To be fair, there hasn't been an official release with the repackaged API yet. However for 1.8 ours is the only API that exists :P

[2016-01-19 05:05] Shahelion opened #106 "[Minor] [1.7.10] Name Inconsistency"
Shouldn't it be Ender Bismuth? Doesn't really look like any of the other circuit-types.
https://i.gyazo.com/ba9e81b60e9f0b6016cba2ce2dabe35c.mp4

[2016-01-19 06:14] Drullkus commented on #106
Ah, right. Will do :P

[2016-01-19 06:54] Shahelion opened #107 "Amber and Blood Bricks"
I've seen these in the mod for quite a while now, yet they were never implemented. Were they simply forgotten? I'm assuming they're for Thaumcraft and Blood Magic. Also, there are more Aluminum Stairs than Aluminum Blocks, so most have missing textures of course.
![2016-01-18_22 52 14](https://cloud.githubusercontent.com/assets/6917535/12411802/5ef098b4-be36-11e5-99c0-1cfdef36cbba.png)
![2016-01-1

[2016-01-21 09:39] iarspider opened #108 "[1.8.9] ALL BLOCKS BREAK INSTANTLY <- LOOK IT'S ALREADY REPORTED"
Chiseled blocks (at least cobblestone) are broken instanly with any tool (including empty hand). When broken with empty hand, there is a chance of them not dropping item (i.e. disappearing completely).

Chisel 0.0.2.6
Forge 11.15.0.1699

[2016-01-24 22:21] Avalonzo opened #109 "Chisel glass solid grey texture [1.8.9]"
I just re-installed chisel as there is a way to make it work with ProjectE now and when ever I chisel glass it gets a solid grey texture instead of clear please see screenshot attached -

![2016-01-24_22 16 11](https://cloud.githubusercontent.com/assets/8142543/12539362/b312f9f8-c2e8-11e5-8f28-0edea0885e1b.png)

[2016-01-25 16:10] Bogdan-G opened #110 "Disappeared recipes chisel to marble?"
Hello. MC 1.7.10. Forge 1614. Chisel 2.9.4.10 and no more mods.
Marble columns can not be created through the chisel or craft:
![](http://imgur.com/rHzCiS0.png)
![](http://imgur.com/41aJXvC.png)
I can change the existing marble columns, but can not create new ones.

[2016-01-26 03:38] Woif1990 opened #111 "Game locks up with Stone Bricks"
Unsure if anything else will cause it but, when I try to put stone bricks into a normal chisel's slot the game locks up.
Running forge 1.8.9 11.15.0.1718
Chisel 1.8.9 0.0.2.6
[21:37:12] [Client thread/INFO] [Chisel]: There are 97 slots but list is 97
[21:37:13] [Client thread/INFO] [Chisel]: Slot clicked is 90 and slot length is 97
[21:37:13] [Client thread/INFO] [Chisel]: Slot is net.minecraft.in

[2016-01-27 21:05] xJon opened #112 "Upgrades descriptions"
![image](https://cloud.githubusercontent.com/assets/8945347/12628125/56c4337e-c54a-11e5-9fca-36aada62c650.png)

[2016-01-27 21:08] xJon opened #113 "Chiseled glass rendering"
![image](https://cloud.githubusercontent.com/assets/8945347/12628232/d4a60ede-c54a-11e5-8cdf-75377ec2f346.png)
Whenever I get away from it in a certain distance it doesn't really render as expected.
Is this intended or configurable?

[2016-01-27 21:09] tterrag1098 commented on #113
I'm not sure what you're referring to...

[2016-01-27 21:10] xJon commented on #113
![image](http://i.imgur.com/lPr4mxa.png)
In a certain distance from the player the chiseled glass render as a black block. Sorry if the other picture wasn't clear enough.

[2016-01-27 21:11] tterrag1098 commented on #113
That's mipmapping. Turn it off in the graphics menu if you don't like it.

[2016-01-27 21:11] #113 closed, assigned to nobody

[2016-01-27 21:14] xJon commented on #113
Thanks for clarifying :)

[2016-01-28 17:25] MattDahEpic opened #114 "[1.8.9] Game crashes and worldstate corrupted when trying to make a Fancy Fluids Strorage tank with chisel blocks"
Running FFS 1.8.9-1.4.5.69 and Chisel 1.8.9-0.0.2.6

Creating a FFS tank with chisel blocks causes render error and crashes client, shortly after dedicated server crashes and worldstate is corrupted. The attempted tank was made using Detailed Cobblestone Bricks and vanilla glass.

[2016-01-28 17:26] MattDahEpic opened #115 "[1.8.9] Glass is not transparent"
All chisel glass blocks do not actually render transparent

[2016-01-28 17:28] MattDahEpic opened #116 "[1.8.9] Cobblestone (and other?) blocks break instantly with fist and drop no items"
Breaking a chisel cobblestone block with a bare hand breaks the block instantly with no drops, while breaking it with a pickaxe still breaks instantly but drops items

[2016-01-28 17:29] MattDahEpic commented on #116
Whoops copy of #108

[2016-01-28 17:29] #116 closed, assigned to nobody

[2016-01-28 17:29] TehNut commented on #115
#109

[2016-01-28 17:29] #115 closed, assigned to nobody

[2016-01-28 17:30] tterrag1098 commented on #114
This is a bug in FFS, FFS

[2016-01-28 17:30] #114 closed, assigned to nobody

[2016-01-28 17:35] MattDahEpic opened #117 "[1.8.9] Diamond chisel has no model/texture"
![Diamond Chisel](http://i.imgur.com/ZUiOiEU.png)

Chisel 1.8.9-0.0.2.6

[2016-01-29 06:46] Fluxx-1 opened #118 "Chisel 1.8.9 Blocks Break instantly."
Chiseled blocks are breaking instantly with tools or with fist. But when you break with fists you do **not** get the blocks back.
Chisel - MC1.8.9-0.0.2.6
Forge- 11.15.1.1726

[2016-01-29 06:48] TehNut commented on #118
#108

[2016-01-29 06:53] Drullkus commented on #118
Duplicate of #108

[2016-01-29 06:53] #118 closed, assigned to nobody

[2016-01-29 06:57] tterrag1098 commented on #108
Updated title to include layman terms :P

I'm working on a fix for this though, almost done. Soon.

[2016-01-29 07:00] dmodoomsirius commented on #108
@tterrag1098 i know you mean soonTM

[2016-01-29 07:34] Drullkus commented on #108
Soon™

[2016-01-29 07:52] tterrag1098 commented on #108
636916c75be060b8c62af049ee9713dfbd2ee145 at least partially addresses this issue. All blocks will by default have a hardness of 1.

[2016-01-30 17:24] NarigudoBR commented on #108
just waiting to you order jenkins to build the jar

[2016-02-01 20:32] Bellwar opened #119 "Blocks breaks instantly (1.8.9)"
I found out I can break the chiseled blocks instantly with hand and don't get the item back.

[2016-02-01 20:33] TehNut commented on #119
Dupe of #108

[2016-02-01 20:35] #119 closed, assigned to nobody

[2016-02-02 22:52] NdMSnIpEz opened #120 "Error when chiseling blocks in GUI"
The moment blocks are placed, the console is filled with spam. It's also worth mentioning that whenever a block within a new slot is selected a large error also appears in the console. This error is reproducible with all chisel blocks.
Version: Chisel 0.0.2.6 (MC 1.8.9)
Forge: 11.15.0.1715
http://pastebin.com/31fiuTDs
Full log here:
http://paste.feed-the-beast.com/view/8ed66f70

If you require any

[2016-02-03 00:04] IndigoAvemour opened #121 "[1.8.9] Hitting Chisel blocks in survival immediately breaks them like in creative"
Hitting them with anything other than a pickaxe immediately breaks them and they do not drop as items, just like blocks would in creative mode.

[2016-02-03 00:05] tterrag1098 commented on #121
#119 #118 #116

[2016-02-03 00:05] #121 closed, assigned to nobody

[2016-02-03 00:18] tterrag1098 commented on #120
We left the debug switch on, is all. The error in the GUI however is definitely a bug, and I'll look into it.

[2016-02-03 00:20] Drullkus commented on #121
#108

[2016-02-03 09:57] Sempai77 commented on #117
A similar problem.
Not displayed texture.
and blocs have no strength.
Break with a single blow, even in survival mode

[2016-02-03 15:01] tterrag1098 commented on #117
#108

[2016-02-04 01:49] O13SC3N3 opened #122 "[Request] UBC Support"
Would like to see Underground Biome Construct Support with chisel

1.7.10

[2016-02-04 18:57] LuigiHutch commented on #122
There was this: https://twitter.com/asiekierka/status/581774918339158016. Im not sure how much use that would be though :/

[2016-02-04 20:30] O13SC3N3 commented on #122
yeah its a bit outdated as well, looks like asie site is down too.

[2016-02-06 00:55] DnTheMn opened #123 "1.8.9 crash with chisel"
1.8.9 server crashing when i add chisel here is the crash report http://pastebin.com/3ZfvwLiY

[2016-02-06 00:55] tterrag1098 commented on #123
Chisel on 1.8 currently requires java 8. This may change, but for now that's how it is.

[2016-02-06 00:55] #123 closed, assigned to nobody

[2016-02-06 04:20] tterrag1098 commented on #102
This was fixed a few alphas ago

[2016-02-06 04:20] #102 closed, assigned to nobody

[2016-02-08 08:15] Darkhax opened #124 "[1.8.9] Model crash with Botania Platforms"
When applying a chisel block to a platform from Botania, a pretty bad crash takes place. This crash also re-occurs every time the world is loaded up again. Not certain which mod would be responsible for fixing this issue, so I am reporting it to both. The crash log can be seen [here](https://gist.github.com/darkhax/9c4389ffe6134f209834) The Botania version of this crash report can be seen [here](h

[2016-02-08 15:14] williewillus commented on #124
Right now all I do is get the model from BlockModelShapes, then if it's a smartmodel, query it using the camo state. What else do I need to do in order to give the camo state the info it needs?

[2016-02-08 15:21] tterrag1098 commented on #124
You're missing contextual states, since you never call getExtendedState on the block. Ask @Lordmau5, I helped him with the same thing.

[2016-02-08 17:31] williewillus commented on #124
@darkhax you can close this one, it's an issue on my end

[2016-02-08 19:56] darkhax commented on #124
@williewillus Can you reference this issue when you fix it? I am having a similar issue with one of my blocks that is based off of the platform case study in the primer lol

[2016-02-08 19:57] #124 closed, assigned to nobody

[2016-02-09 15:43] michaelgaultjr opened #125 "[1.8.9 ]Server Crash"
I have a 1.8.9 modded Server for my SMP and when i put chisel in it crashes.... when i take it out it works just fine, can you please fix this soon i really want to use this mod for my base.

[2016-02-09 16:14] KnightMiner commented on #125
If it crashes, provide a crash report or we cannot help you.

[2016-02-09 16:17] michaelgaultjr commented on #125
Ok

[2016-02-09 20:10] awkwaRdcaRRot opened #126 "No textures 1.8.9"
Downloaded Chisel through Curse, originally on a instance with quite a few mods, booted the game, got a chisel and when I placed blocks in, nothing popped up. I checked JEI and none of the blocks had textures. I started a new modded instance with only Chisel, and same thing.
![chisel picture](https://cloud.githubusercontent.com/assets/14096186/12929161/4f37e8a4-cf3f-11e5-959e-a15e02c7a88b.png)

[2016-02-09 20:25] Shahelion commented on #104
What is that orange thing, anyway?

[2016-02-09 20:30] TehNut commented on #104
It highlights the block you looked up the recipe for.

[2016-02-09 20:38] tterrag1098 commented on #126
This wasn't meant to be uploaded. Please downgrade to the previous version.

[2016-02-09 20:38] #126 closed, assigned to nobody

[2016-02-09 23:42] michaelgaultjr commented on #125
@KnightMiner here is the crash log. if this changes anything i used the curse launcher to make this pack and i just copyed the mods from my local file and removed the client one side ones, it works when chisel is not in the mods file, i have also found that the blocks are missing textures, the only item that has a texture using my local mods file is the iron basic chisel.

[code]

[2016-02-09 23:43] tterrag1098 commented on #125
Java 8 is required. See #123

[2016-02-09 23:43] #125 closed, assigned to nobody

[2016-02-09 23:51] michaelgaultjr commented on #125
Ok thank you very much! but what would i do about a linux based system using ice tea?

[2016-02-09 23:55] tterrag1098 commented on #125
Update java? I've never used that distro but I'm sure google can help.

[2016-02-10 00:24] michaelgaultjr commented on #125
I'm installing java8 now but i still seems to have the missing texture issue, and i have the latest version of java on my machine.

[2016-02-10 01:39] michaelgaultjr opened #127 "[1.8.9] Missing textures"
I have this glitch I don't know if this has been reported yet or if very few people have it but it make all blocks and textures in chisel purple or invisible except the iron chisel which has its normal texture you can find a screenshot [Here](http://i.imgur.com/2zxdXUT.png)

[2016-02-10 01:43] tterrag1098 commented on #127
#126

[2016-02-10 01:43] #127 closed, assigned to nobody

[2016-02-10 01:46] michaelgaultjr commented on #127
Ah ok thanks!

[2016-02-10 22:37] Altairon73 commented on #9
aluminium stairs still not working. Any updates on this issue?

[2016-02-10 23:52] Drullkus commented on #9
[We've almost got it fixed in 1.8 :P](https://twitter.com/Drullkus/status/697529966968242176)

[2016-02-11 00:18] Altairon73 commented on #9
thats good but more people use 1.7.10 :)

[2016-02-11 10:57] Bogdan-G commented on #9
1.8.x is not popular and buggy 1.8.9, popular 1.7.10, do not ignore the obvious.

[2016-02-12 02:13] matthewray11 opened #128 "choices for chisel items dont show up"
when you place an item in the the chisel gui (for example birch planks) nothing comes up

[2016-02-12 02:25] Drullkus commented on #128
Which chisel version?

[2016-02-12 02:28] matthewray11 commented on #128
1.8.9- 0.0.2.6

[2016-02-13 21:06] PhoenixDBlack opened #129 "Rendering crash when using as a intangible deity block"
Forge - 11.15.1.1738
Chisel - MC1.8.9-0.0.2.6
FTB Unstable Pack

Every Client crashes when looking at a certain block from intangible (pantheon) which displays Blocks as a hologram and works fine with every modded block exept a chisel-block

---- Minecraft Crash Report ----

WARNING: coremods are present:
  NowWithRendering (hopperducts-mc1.8.8-1.4.6.jar)
  thaumicinfusion (ThaumicInfusion-1.8.9-4

[2016-02-13 22:22] tterrag1098 commented on #129
I'd report this to intangible, the crash comes from vanilla code, not ours.

[2016-02-13 23:01] Choonster commented on #129
Intangible's `ModelDeityHead#render` method is passing `null` as the `BlockPos` argument of `BlockRendererDispatcher#getModelFromBlockState`, which calls `Block#getExtendedState` if the block's model is an `ISmartBlockModel`. Chisel doesn't expect this to be `null`, so it crashes.

`BlockFluidBase` is the only block added by Forge that overrides `Block#getExtendedState` and has an `ISmartBlockMode

[2016-02-15 05:43] Drullkus commented on #9
@Bogdan-G Do you think we make mods just to be bossed around by the end users? I don't think so :P

Have fun though, you spoiled brat.

![https://pbs.twimg.com/media/Ca4fzxHUMAEky0t.jpg](https://pbs.twimg.com/media/Ca4fzxHUMAEky0t.jpg)

[2016-02-15 05:50] tterrag1098 commented on #9
Aluminum stairs were never meant to be implemented they were just a test. We don't even have any textures for them in the 1.7 version. This is a non-issue and only exists a reminder for me to remove the code that creates them.

[2016-03-03 23:53] hron84 commented on #105
Currently it appears the problem is addressed a bit, at least you can enter into the world, but some stuff still require the older api, e.g. the repair pendant, and it generates a runtime NoClassDefFoundError in every tick when the pendant get chance to run. Is there a way to put at least the empty api classes to the package to avoid log spam?

[2016-03-05 20:32] SunnyTD opened #130 "[Bug] Dark Matter Pedistal crash with repair talismen on activation"
sinkillerj/ProjectE#1198

[2016-03-05 20:35] TehNut commented on #130
This is completely on ProjectE's end. They're looking for the wrong API.

[2016-03-05 20:42] sinkillerj commented on #130
Yea this can be closed, its on our end. Ill put out a new build once willie gets things updated.

[2016-03-05 23:43] #130 closed, assigned to nobody

[2016-03-09 22:51] JazParks commented on #109
I installed Chisel recently and have the same problem. Texture is see-through on my hot bar but when placed is a solid block.

[2016-03-13 17:00] whyo2 commented on #128
when will this be fixed?

[2016-03-14 19:27] Drullkus commented on #128
I think this was fixed. Not sure. [Try this build.](http://ci.tterrag.com/job/Chisel/branch/1.8%252Fdev/)

[2016-03-17 02:06] HeinerGehtnoch commented on #128
Heya! I followed this thread so far and I have the same problem: the recipes don't show. But when in creative mode an already chiselled block is selected and put into the chisel-window, the alternatives are visible and can be extracted. I tried that last build but there I can't see the textures of any chisel-block. They're just pink and black. This mod is so cool. I'd hate to take it out of my mod

[2016-03-18 01:20] tterrag1098 commented on #128
Recipes are still being finalized. Be aware that you are using an alpha version and it is in no way representative of what the final version will be. We are not even guaranteeing compatible saves going forward until beta. This bug will be fixed in due time.

[2016-03-18 01:40] Drullkus opened #131 "Blocks in the same Series connect to each other"
![2016-03-17_18 39 08](https://cloud.githubusercontent.com/assets/5010174/13866129/a8760a66-ec6f-11e5-8d55-da8c12920a19.png)

![2016-03-17_18 45 08](https://cloud.githubusercontent.com/assets/5010174/13866225/7a3d3696-ec70-11e5-8a72-69f92baf60b4.png)

[2016-03-18 01:42] Drullkus opened #132 "Temple Blocks are not warped"
![2016-03-17_18 41 24](https://cloud.githubusercontent.com/assets/5010174/13866162/e4f50212-ec6f-11e5-9d38-ccdd3d1180be.png)

[For reference](http://www.eldritchgame.com)

[2016-03-18 01:44] tterrag1098 commented on #131
https://github.com/Chisel-Team/Chisel/blob/1.8/dev/src/main/java/team/chisel/client/render/ctm/CTM.java#L275-L276

_cough_

[2016-03-18 01:46] tterrag1098 commented on #132
Yeah this one is going to be tricky to recreate. Will need a completely custom renderer which we currently have no way of doing. Will be done eventually.

[2016-03-18 01:48] Drullkus opened #133 "Colored Glass CTM doesn't connect"
![2016-03-17_18 47 59](https://cloud.githubusercontent.com/assets/5010174/13866262/cf1a8736-ec70-11e5-90ed-042ec4d6aa80.png)

[2016-03-18 05:01] Drullkus opened #134 "Odd Glass Pane Model Behavior"
![2016-03-17_22 00 32](https://cloud.githubusercontent.com/assets/5010174/13868952/c46adff0-ec8b-11e5-80d1-791686e6e25a.png)

[2016-03-19 23:09] tterrag1098 commented on #128
What recipes exactly are you having an issue with? I did some brief testing and they seem to work fine.

[2016-03-21 04:09] Dyonovan opened #135 "1.9/dev - Client Crash"
CrashLog: http://pastebin.com/YcKKSMGm

Trying to break Arcane Stone Block

[2016-03-23 22:24] Drullkus opened #136 "Weird behavior with defaulting or something"
Took me a while to realize this specific problem.

While I was trying to write the CTX files for the glass, the glass wasn't recognizing the CUTOUT that was in the CTX files. I gave up and wrote every CTX file for the glass regardless of broken or not. Now I've done that, NOW they work. It cannot be coincidence.

[2016-03-23 22:27] Drullkus commented on #133
There were never CTM files for these. Whoops.

[2016-03-23 22:29] porteriscool commented on #133
GG

[2016-03-23 22:51] Drullkus commented on #133
"GG" is correct. If I do retexture these... CTM is gonna get tossed in.

[2016-03-24 07:15] Drullkus commented on #136
Maybe related:

Doing:

![screen shot 2016-03-24 at 12 14 01 am](https://cloud.githubusercontent.com/assets/5010174/14010759/6289f446-f155-11e5-8412-a5581f753965.png)

Gives me the right transparent model that I wanted, but if I do:

![screen shot 2016-03-24 at 12 13 50 am](https://cloud.githubusercontent.com/assets/5010174/14010765/729909e4-f155-11e5-929a-11e8ed847c19.png)

It gives me a null mod

[2016-03-31 14:55] Faenum opened #137 "version 2.9.5.11 just doesnt work"
Ive added the mod to my server and to my client, and neither recognize the mod, but i cant work out why.

[2016-03-31 15:02] #137 closed, assigned to nobody

[2016-03-31 15:06] Drullkus commented on #137
Why did you close it? o.O

[2016-03-31 15:20] Faenum commented on #137
cos i realized why it wasn't working, i thought it was for 1.8 with it being the new versions but its not

[2016-03-31 15:23] Drullkus commented on #137
Ooooh.

We have some unstable builds here [on the build server](http://ci.tterrag.com/job/Chisel/branch/1.8%252Fdev/), but we cannot guarantee safety of your worlds...

[2016-03-31 15:26] Faenum commented on #137
i know, ive gone back to the alpha version i had which was ok, its just a test server right now anyway

[2016-04-01 07:09] HammerDave commented on #108
Is this going to be included in a build for 1.8.9?  Latest one seems to be from mid Jan.

[2016-04-01 07:11] tterrag1098 commented on #108
It already was, I believe. Just not posted to CurseForge. Either way, all development going forward will be on 1.9.

[2016-04-01 07:39] HammerDave commented on #108
Wow, that was a quick comment, thanks.  Yes, it is in the #7 build on the Jenkins link.
If it were me, I'd want to release that (barring a reason not to) so that folks who prefer the N-1 release would have it, but up to your team how to handle it of course.  :)
I only did a quick test, On the surface it (0.0.2.7) worked ok in the context of FTB unstable 1.8.9.

[2016-04-01 07:43] tterrag1098 commented on #108
There is a good reason, about half the blocks have no model

[2016-04-02 02:38] AlgorithmX2 opened #138 "1.9/dev - Models without CTX contain strange face data."
https://github.com/Chisel-Team/Chisel/blob/1.9/dev/src/main/java/team/chisel/client/render/ModelChiselBlock.java#L77

Will return cached faces if no CTX is provided, best solution is to have it return default state without connections.

Another option would be to return no faces and require that people use the Item model instead.

Talked on IRC about this.

[2016-04-07 12:04] raymondbh opened #139 "[Request]CTMlib for 1.8/1.9?"
Hi
Are going to make a CTMLib for 1.8/1.9 that can be imported like in 1.7?

[2016-04-09 18:26] Drullkus commented on #139
We're working on it. :)

It's going to be far more powerful than the 1.7 system. In fact, it's no longer about texture management, it involves models too. You can now put different texture types on model, including making them different for each side.

[2016-04-10 20:17] raymondbh commented on #139
Sounds awesome :-)

[2016-04-13 06:10] kosakriszi opened #141 "Wrong InputStreamReader import in ModelLoaderChisel"
The wrong InputStreamReader is being imported here:
https://github.com/Chisel-Team/Chisel/blob/1.9/dev/src/main/java/team/chisel/client/render/ModelLoaderChisel.java#L7

This is an issue that is present across all branches that I have seen. The reason that this wasn't reported by anyone sooner is that jLine (the library that is being imported from) is present on the client even though the library

[2016-04-16 13:44] xiaoschannel opened #143 "Chisel Oak Plank being transparent and required pickaxe to mine"
using forge 1865, mod 4.13 alpha, problem is in title.

Edit: by "transparent", i mean they do not block light. if you build a mob farm that's intended to be dark, it won't work.

[2016-04-19 02:17] RayzoRayy opened #144 "1.9 Issue"
I think the issue is with chisel considering it started happening when I chiseled my base.. Basically I chiseled my floor, walls, roof, etc.. and noticed that after doing so, any block I break, or place, even items such as a torch, my FPS will drop to 3 FPS, and go right back to 120.. So anytime I break or place anything, itll lag down to 3 FPS and go back up to 120, happens every time, also when

[2016-04-19 02:35] minecreatr commented on #144
Yes, this is chisel. What is causing this problem is every time you place a block it causes the chunks render list to be reassembled and it runs ctm logic on every block in the chunk again. I will see if I can solve this by trying to implement a model caching system.

[2016-04-19 02:42] RayzoRayy opened #145 "Chisel 1.9 issue"
Hello again, sorry if this is already posted as a bug, I skimmed through and didin't see it but maybe it already was.. anywho, chiseled glass is see through on the bottom side, meaning I can see through the block under it down to my room below. Kinda hard to explain so i will post a screenshot

http://imgur.com/a/KqZSV

[2016-04-19 15:28] xKarda opened #146 "Lighting issue with chisel blocks?!"
Is there a bug or glitch that allows light pass trough chisel blocks or is it intended to be like that. I tried to make a mob spawner in the Pinefresh 1.9 modpack on curse launcher and light comes through the roof and walls. It stopped happening when I replaced the blocks with vanilla cobblestone.

[2016-04-21 03:35] Drullkus opened #147 "Z-fighting when CTM and R4 are combined in layers"
![2016-04-20_20 29 35](https://cloud.githubusercontent.com/assets/5010174/14697307/4fa6c532-0737-11e6-9f46-06ffff060d8f.png)

Voidstone and Futura controller are fine, but my experimental mossy cobble seems to have Z-fighting on the CTM variations.

[2016-04-21 06:06] Drullkus opened #148 "Odd sidability for certain blocks"
![2016-04-20_23 04 14](https://cloud.githubusercontent.com/assets/5010174/14699411/64830532-074c-11e6-8f41-f7b3a7a22b81.png)

The Top and Bottom use the same TOP texture, but the test texture (Circle/Square/X) is consistent for each side... This should not happen.

Bug found by @ProfessorProspector

model.json

[code]

test.cf

[code]

[2016-04-30 07:33] MastaC729 opened #149 "[1.8.9] Textures don't render when block from Chisel is painted onto an EnderIO facade"
I understand that EnderIO is still not "publicly released," but I was curious as to why facades painted using any block from Chisel are not rendering properly. In other words, they render as the purple "cannot find texture" instead. Is this an issue on EnderIO's part, or is this due to how Chisel renders those blocks in the first place?

If this is an issue with Chisel and you would rather not fix

[2016-04-30 07:49] HenryLoenwind commented on #149
Painting with anything but dumb models is not yet finished on Ender IO's side.

[2016-05-01 02:51] MastaC729 commented on #149
OK, thanks for the heads up. Would you like me to open an issue on the EnderIO page and link to this, or would you rather me wait until you're ready?

[2016-05-01 17:56] HenryLoenwind commented on #149
No issues for missing things, please. That's what we have our tracking sheet for.

But a heads up: I just tweaked some things and this **might** work in the next build.

[2016-05-09 04:03] Ra-Zim opened #150 "Ender Chests from a standard chest?"
Yeah, this is a bit of an issue as you can use a chisel with a regular wooden chest to get a vanilla Ender Chest and basically turn 8 wooden planks into 8 obsidian. We're using version 2.9.5.11 for mc version 1.7.10.

[2016-05-09 04:41] Ra-Zim commented on #150
Well, in an attempt to temporarily "fix" this problem, I went into the config and disabled presents, it definitely has stopped the problem, when you attempt to chisel a chest now, it results in a client-side crash. Please see the crash log here, if needed: http://pastebin.com/wwKWvWXC

[2016-05-09 04:42] tterrag1098 commented on #150
Someone must be adding the ender chest to the ore dictionary, which is now how it's meant to be used. This does not happen with only chisel.

[2016-05-09 04:42] #150 closed, assigned to nobody

[2016-05-09 04:43] Ra-Zim commented on #150
Ahh, thanks, I'm not sure what is doing that, but I've got ModTweaker, I'll go remove the ender chest from the ore dictionary. :+1:

[2016-05-10 03:24] kerberos86 opened #151 "[1.9] No recipe for factory blocks"
Factory Blocks are available in the creative menu and in JEI, but there is no working recipe to craft them.

[2016-05-11 20:03] Mach12 commented on #145
It seems to affect all sides, actually.

[Screenshot](http://imgur.com/tzqlnB2)

[2016-05-11 21:51] Drullkus commented on #145
Known issue

[2016-05-12 18:54] dannydjdk opened #152 "[1.9] Crash on Pre-Init from FTB Launcher"
http://pastebin.com/mfKir558

Version: 1.9-0.0.4.13
Forge: 12.16.1.1887

The pasted crash log was generated when all other mods were disabled except Chisel.

This crash only occurs when launching using the FTB Launcher, and only occurs when Chisel is enabled. Same exact versions and configs work fine in Curse and vanilla launcher, but currently Chisel  does not seem to work with 1.9 packs on the F

[2016-05-12 18:57] tterrag1098 commented on #152
This is only because Chisel happens to trigger a crash caused by a missing library. Take this issue up with the FTB launcher.

[2016-05-12 18:57] #152 closed, assigned to nobody

[2016-05-12 19:40] dannydjdk commented on #152
Reported to FTB (http://forum.feed-the-beast.com/threads/crash-on-pre-init-with-chisel-for-1-9.154519/).

[2016-05-12 22:23] progwml6 commented on #152
Upon further investigation... it looks like a jline import was used instead of a java one here
https://github.com/Chisel-Team/Chisel/blob/1.9/dev/src/main/java/team/chisel/client/render/ModelLoaderChisel.java#L7

[2016-05-12 22:29] minecreatr commented on #152
Fixed in https://github.com/Chisel-Team/Chisel/commit/839e8fa05dd955249cf09612a4208c3d1596d09f

[2016-05-12 22:52] minecreatr commented on #152
I messed up git. Sorry

[2016-05-12 22:53] 0Navis0 opened #153 "(1.8.9 and 1.9) marble and limestone doesn't generate them"
It seems that there is problem with the marble and the limestone wich doesn't generate them in the 1.8.9 and 1.9  version.
There are a lot of missing and broken textures too.

[2016-05-12 23:02] #141 closed, assigned to nobody

[2016-05-12 23:07] Drullkus commented on #153
1.8 has lots of broken/missing textures. 1.9 is 99% fixed except for a few missing features that must be done in code first.

There is no worldgen as of yet.

[2016-05-13 00:08] 0Navis0 commented on #153
I toke some screenshots of the missing textures blocks on 1.9. The torch textures are bugged too.

![capture1](https://cloud.githubusercontent.com/assets/17103411/15234206/a1134092-18af-11e6-9ed2-9697bd9247aa.PNG)
![capture2](https://cloud.githubusercontent.com/assets/17103411/15234207/a1143560-18af-11e6-87d6-6e7541e39071.PNG)
![capture3](https://cloud.githubusercontent.com/assets/17103411/1523420

[2016-05-13 00:18] Drullkus commented on #153
Yes, the Iron+Glass Panes, anything stair-related, and torches are broken. We have to work on the backend for these

[2016-05-14 09:33] yschnellbach opened #154 "Merging Block Categories"
Currently, a lot of block categories have significant thematic overlap, e.g. factory blocks and technical blocks or futura blocks and laboratory blocks.

Some of these categories were limited by the GUI in earlier 1.7.10 and earlier, since it only had so many slots. With the GUI change, a single block type can now have a lot more variation, meaning it might make sense to merge some categories of n

[2016-05-22 17:45] AppleConnoiseur commented on #151
I can confirm this. Guess i will just cheat them in since i play singleplayer :P.

[2016-05-29 04:59] OlexaKid64 commented on #144
Any update coming soon to this problem or the mod itself? Some friends and I got the mod on a server and love it but the lag spikes are awful. Anything we can do to fix them?

[2016-05-29 05:05] minecreatr commented on #144
Am currently working on fix.

[2016-05-29 15:26] OlexaKid64 commented on #144
Awesome! Any ETA? Thanks for the hard work. It doesn't go unappreciated

[2016-05-29 16:44] minecreatr commented on #144
Hard to say, maybe a weekish, but that is a complete guess. I have to finish implementing the new code, but new problems might arise from it so there is really no good way to know.

[2016-05-29 23:57] RaccoonCast opened #155 "Glass"
I wish the glass was actually transparent because in the creative inv or your hand it appears to transparent however on ground it is not.

I am using the latest alpha of version for 1.8.9

[2016-05-31 19:40] enduity opened #156 "Hex plating issue"
Hex plating becomes see-through starting from slabs (cutting). It only renders the hexagons. The issue was also seen in Chisel 2 https://github.com/Chisel-2/Chisel-2/issues/121 but got fixed. You should probably fix it here too. [Screenshot](http://imgur.com/Hg7mfMb)

[2016-05-31 22:45] kingoftheblock opened #157 "Can't load with Dragonapi"
Hey, we're having trouble installing your mod alongside Reika's Dragonapi, thought you might be able to help us?
Reika.DragonAPI.Exception.ModIncompatibilityException: Detected an incompatible mod.
This is a fatal incompatibility. Loading cannot continue.

    at Reika.DragonAPI.Auxiliary.ModIncompatibilityException.check(ModIncompatibilityException.java:58)
    at Reika.DragonAPI.DragonAPIInit.po

[2016-05-31 22:47] minecreatr commented on #157
What version of minecraft and what version of chisel?

[2016-05-31 22:48] Drullkus commented on #157
[Take a moment and consider what you're doing wrong.](https://github.com/search?q=Can%27t+load+with+Dragonapi&type=Issues&utf8=✓)

[2016-05-31 22:57] Drullkus commented on #157
Duplicate of:

- sinkillerj/ProjectE#1238
- jakimfett/Minechem#828
- InfinityRaider/AgriCraft#660
- SleepyTrousers/EnderIO#3354
- micdoodle8/MicdoodleCore#7
- aidancbrady/Mekanism#3311
- OpenMods/OpenBlocks#777
- bspkrs/bspkrsCore#30
- Vazkii/Botania#1852
- BluSunrize/ImmersiveEngineering#1171
- ForestryMC/ForestryMC#1261

[I see where you've posted.](https://github.com/kingoftheblock?tab=activity

[2016-05-31 22:58] way2muchnoise commented on #157
[Auto updates](https://github.com/search?p=1&q=%22Can%27t+load+with+Dragonapi%22&ref=searchresults&type=Issues&utf8=%E2%9C%93)

[2016-05-31 23:09] Drullkus commented on #157
Someone pointed out that this is quite a shitshow; I agree. :P

This issue is also a duplicate of:

- hilburn/AdvancedSystemsManager#94
- SlimeKnights/TinkersConstruct#2125
- bdew/gendustry#165
- rwtema/DenseOres#128
- erogenousbeef/BigReactors#575
- SpitefulFox/Avaritia#95
- AppliedEnergistics/Applied-Energistics-2#2292
- Chicken-Bones/CodeChickenCore#66
- Azanor/thaumcraft-5#609

Also, Thaumcraf

[2016-05-31 23:09] #157 closed

[2016-06-02 04:20] RayzoRayy opened #158 "1.9.4 crash"
Was testing the 1.9.4 version and i found that on the lastest version you've created, Chisel_DEV-MC1.9.4-0.0.4.17
The game crashes when trying to break a chiseled block.. not sure if it's because i have an older world from 1.9.4 and a previous version of Chisel, and the new one doesn't like that, or if it's just the new version, will create a new world and let you know.

P.S. here is the crash log

[2016-06-02 04:25] RayzoRayy commented on #158
Okay, tested on a brand new world with chisel alone, it's the new version of chisel you've released which is causing this issue, as soon as you left click the block to start breaking it, it crashes immediately.

[2016-06-02 07:34] tterrag1098 commented on #158
Thanks for the report, fixed.

[2016-06-02 07:34] #158 closed, assigned to nobody

[2016-06-03 23:10] 0Navis0 opened #159 "(feature suggestion) the slate"
I came with this idea since I saw it on a server and finded this idea really awesome. I wanted to suggest to add the slate to Quark, with the stairs and slabs. It's a block wich craft it with 4 flints and give an another utility to the flints. ;)
![d67cc144-277e-11e6-8656-a180386795eb](https://cloud.githubusercontent.com/assets/17103411/15795357/173ca31a-29f1-11e6-8d67-8be3fcc3267f.png)
![d9ee6f76

[2016-06-04 11:37] ferrari314 opened #160 "[1.7.10] NoClassDefFoundError"
Time: 04.06.16 14:32
Description: Initializing game

java.lang.NoClassDefFoundError: org/apache/commons/lang3/tuple/Triple
    at com.cricketcraft.chisel.api.rendering.TextureType$7.registerIcons(TextureType.java:194)
    at com.cricketcraft.chisel.api.rendering.TextureType$SubmapManagerDefault.registerIcons(TextureType.java:458)
    at com.cricketcraft.chisel.api.carving.VariationInfoBase.registe

[2016-06-04 13:22] tterrag1098 commented on #160
Update forge

[2016-06-04 13:22] #160 closed, assigned to nobody

[2016-06-04 13:44] redgoblin88 opened #161 "chisel2/modtweaker crash"
i want to implement a money mod for trade so i thought of chiseling resources to money and such since there is no trade station things that i can manipulate

i attempted to make it so when you put a 5 dollar note in a chisel you can turn it into coal and vice versa but upon implementing it i crash.

i have colntacted the mod authur of modtweaker (jared) and he said he no longer supports 1.7 mods,

[2016-06-04 13:45] jaredlll08 commented on #161
this isn't a modtweaker bug, I would assume it has to do with items going into the chisel (Items, not blocks)

[2016-06-04 16:21] ferrari314 commented on #160
forge-1.7.10-10.13.4.1614 is latest 1.7.10 version in forge official website

[2016-06-04 16:28] tterrag1098 commented on #160
Well your libraries are not all there. This was a typical problem with older forge versions. It's not a chisel bug

[2016-06-04 18:48] ferrari314 commented on #160
This bug I get when i get chisel in my libraries. Without chisel game working good.

[2016-06-05 14:53] tterrag1098 commented on #160
Chisel is not a library. Libraries are downloaded by forge to run the game. You must be missing some.

[2016-06-05 17:47] Drullkus commented on #159
Er... Wait, are you trying to suggest it to Quark or us?

[2016-06-05 18:25] KnightMiner commented on #159
He did suggest it to Quark, Vazkii/Quark#44. The idea was rejected there, so it seems he wants to suggest it for chisel now.

[2016-06-05 19:12] 0Navis0 commented on #159
Yeah I had suggested it to Quark, but it has been rejected, so I suggest it here. And it seems that some people tracks me everywhere I go...

[2016-06-05 19:49] jriwanek commented on #159
Could always make a lighter texture slate block texture available and suggest it again. (:

[2016-06-05 19:50] Drullkus commented on #159
I'll make a block made from flint, but it will look entirely different and maybe gravelly. It will still look dark and will not be affected by gravity. (unlike gravel)

[2016-06-06 13:54] jeridan opened #162 "Left-click function not working."
Using Chisel-MC1.9-0.0.4.14, forge 1.9-12.16.1.1907, and MC 1.9.

The left-click function to replace placed blocks with the chisel doesn't change the block.
This is using the iron chisel as there is no other chisel recipe listed.

[2016-06-07 12:03] b0bst3r opened #163 "[1.9.4] lines and lines of forge log spam about missing textures/files"
Forge 1954 (although happened with prev Forge versions)
Chisel_DEV-MC1.9.4-0.0.4.18 (I know it's DEV and not released)

Forge log - http://pastebin.ubuntu.com/17087013/

Relevant lines -
278 to 2272
2474 to 3144
3359 to 3373
3791 to 6478
7785 to 11791

[2016-06-07 17:43] tterrag1098 commented on #163
They should now be removed if debugging is off (which it is)

[2016-06-07 17:43] #163 closed, assigned to nobody

[2016-06-11 02:56] tatsu011 opened #164 "[1.8]Chisel glass texture transparency issue."
A friend of mine was working on a decoration pack.  Chisel was added and a few days ago it began to not render any kind of textures.  Attached is a screenshot and a Curse modpack file for testing.
![2016-06-10_21 28 56](https://cloud.githubusercontent.com/assets/3756710/15982738/2eaaa398-2f56-11e6-9c09-857c5409f5d2.png)
[Zombie-1.0.zip](https://github.com/Chisel-Team/Chisel/files/310060/Zombie-1.0

[2016-06-11 03:31] TehNut commented on #164
#109

[2016-06-11 03:33] #164 closed, assigned to nobody

[2016-06-11 23:11] Drullkus opened #165 "Weird CTM behavior, possibly related to Caching"
I haven't observed this happening with any other blocks.

https://gfycat.com/AdorableShadowyAmericancicada

EDIT: Issue happens with stone blocks too.

[2016-06-11 23:28] Drullkus commented on #165
Issue occurs with all blocks :(

![2016-06-11_16 25 44](https://cloud.githubusercontent.com/assets/5010174/15987918/34f3eb42-2ff1-11e6-8944-9d3a06ea9627.png)

First, place a whatever block that occupies the same numeral ID as a CTM block. This issue doesn't occur with blocks with extended IDs. Then, place CTM block next to the first block.

https://gfycat.com/OblongIncomparableEwe

Clarification -

[2016-06-12 04:34] #165 closed, assigned to nobody

[2016-06-20 05:26] Drullkus opened #167 "Make Chiseled Runes usable in Blood Magic Altar"
Credits to @TehNut for notifying. ~~[Self - See this for ref](https://github.com/WayofTime/BloodMagic/commit/aa8d41385f2304f0053607b49f947afc62d942d2)~~

Also, glowstone

---

It appears that given our system, this cannot be done. There must be another way.

[2016-06-21 00:54] Drullkus opened #168 "Broken Textures"
- Futura - ME Controller
- Technical - Transparent Fan

![2016-06-20_17 55 16](https://cloud.githubusercontent.com/assets/5010174/16214729/2beeeb02-3710-11e6-80a2-b5af5ec7b912.png)

[2016-06-21 20:11] #168 closed, assigned to tterrag1098, minecreatr

[2016-06-21 20:17] starg09 opened #169 "Chiseled glass can be picked up without Silk Touch"
Using Chisel-MC1.9.4-0.0.5.27, forge 1.9-12.16.1.1968

[2016-06-21 20:36] #155 closed, assigned to nobody

[2016-06-21 20:36] #154 closed, assigned to Drullkus

[2016-06-21 20:37] #107 closed, assigned to nobody

[2016-06-21 20:47] #70 closed, assigned to Drullkus

[2016-06-21 20:56] #112 closed, assigned to nobody

[2016-06-21 20:56] #117 closed, assigned to tterrag1098

[2016-06-21 20:56] #108 closed, assigned to tterrag1098

[2016-06-21 20:57] #131 closed, assigned to nobody

[2016-06-21 20:58] #143 closed, assigned to tterrag1098

[2016-06-21 21:04] xJon commented on #112
:+1:

[2016-06-21 21:14] Drullkus commented on #112
💯

[2016-06-21 23:33] 0Navis0 opened #170 "(1.9.4) crash with Optifine"
The Chisel creative menu doesn't diplay correctly when Optifine is installed, and then Minecraft crash with this error : http://pastebin.com/6P7bpwUn
In more the log fills it in an alarming rate of errors repeted again and again when both Chisel and Optifine are installed, here is an example of what I get : http://pastebin.com/GZLGXQPB
Sometimes Minecraft crash when I load/create a world with this

[2016-06-22 00:01] Drullkus commented on #170
Optifine probably screwed something up and changed something that broke our end. Report it to them.

[2016-06-22 00:16] 0Navis0 commented on #170
https://github.com/sp614x/optifine/issues/185

[2016-06-22 00:19] Drullkus commented on #170
sp614x/optifine#60 looks related.

EDIT: Yeah... Safe to say that switching to Forge's rendering pipeline would be the best move. 💃

Maybe for once, Optifine won't break Modded rendering. :D

[2016-06-22 00:20] #170 closed, assigned to nobody

[2016-06-22 12:45] sp614x commented on #170
The problem only appears when shaders are active.
It looks like Chisel is using a custom vertex format which is not compatible with the shaders vertex format.
Custom vertex formats are problematic with shaders because they use extended formats with additional fields (normal, midTexCoord, tangent, blockId).
Blocks and items should generally use DefaultVertexFormats.BLOCK and ITEM to avoid conflicts

[2016-06-22 12:54] sp614x commented on #170
More details from Chisel & Bits: https://github.com/AlgorithmX2/Chisels-and-Bits/issues/29#issuecomment-205707163

[2016-06-22 13:09] Xiaminou opened #171 "[1.9.4] All Chisel Blocks let light throught"
Torch on one side of the wall gives light on the other side.

![2016-06-22_15 05 39](https://cloud.githubusercontent.com/assets/8670392/16267650/4094da04-388b-11e6-84ab-47b3018ae598.png)
![2016-06-22_15 05 43](https://cloud.githubusercontent.com/assets/8670392/16267649/4090dfda-388b-11e6-9e99-a4f575efb649.png)

[2016-06-22 15:55] Ozzymud commented on #171
Chisel-MC1.9.4-0.0.5.27
forge:1.9.4-12.17.0.1965

Can confirm as my mob spawner wasn't working, light level inside was as it is outside.

[2016-06-22 23:40] ZiggyAdventures opened #172 "(1.9.4)(Feature Request) Compatability with shaders."
#### Feature Description:

Feature request to not crash in the following ways:
Crash when using Shaders(tried Sues, Chocopic and Slider's on multiple settings) when viewing chisel blocks in JEI with Optifine B5. Cannot see non vanilla chisel blocks in JEI or chisel GUI with Optifine B6.

Crash when using Shaders(tried Sues, Chocopic and Slidur's on multiple settings) when viewing chiseled blocks i

[2016-06-23 02:55] Drullkus commented on #172
See sp614x/optifine#185

[2016-06-23 02:55] #172 closed, assigned to nobody

[2016-06-23 15:38] oitsjustjose opened #173 "Chisel 0.0.5.28 Dupe Bug"
Easy bug to replicate - putting an item in the chisel slot, leaving it there and then closing the GUI makes the itemstack drop in front of you, but stays in the GUI too. Can be repeated easily multiple times - simple bug though!

EDIT: Doesn't seem to be consistent with what items it does it with - doesn't do it with tools, but does do it with normal items and blocks?

[2016-06-23 18:51] Drullkus commented on #173
Thought this was fixed. Pending investigation by @tterrag1098

Sent from my iPhone

[2016-06-23 20:15] tterrag1098 commented on #173
I cannot reproduce this. What items specifically cause it? Which chisel? What MC version?

[2016-06-23 20:25] oitsjustjose commented on #173
Either of the two Chisels do it - most items seem to cause it. I'm on Chisel 0.0.5.28 on MC 1.9.4.

[Here's a video demonstration](https://www.youtube.com/watch?v=PXHIMsA8Pw8&feature=youtu.be)

EDIT: Uploaded to YouTube, MP4 was too long for most services.

[2016-06-23 20:29] Drullkus commented on #173
The chisel container code will be rewritten anyways... IIRC.

[2016-06-23 20:30] oitsjustjose commented on #173
True. Not like this bug makes Chisel Literally Unplayable :P

[2016-06-23 20:30] Drullkus commented on #173
We were trying to mess around with durability on chiseling but that appears to be broken with the ancient container code.

[2016-06-24 01:07] #173 closed, assigned to nobody

[2016-06-24 01:07] tterrag1098 commented on #171
Fixed in 54b6ea00ef41a328f8ef828afb6641495cf93e69

[2016-06-24 01:07] #171 closed, assigned to nobody

[2016-06-24 01:09] tterrag1098 commented on #148
Is this still a problem?

[2016-06-24 01:10] tterrag1098 commented on #146
#171

[2016-06-24 01:10] #146 closed, assigned to nobody

[2016-06-24 01:10] tterrag1098 commented on #145
This is fixed

[2016-06-24 01:10] #145 closed, assigned to tterrag1098

[2016-06-24 01:10] tterrag1098 commented on #144
Performance has been improved drastically

[2016-06-24 01:10] #144 closed, assigned to minecreatr

[2016-06-24 01:11] tterrag1098 commented on #138
Fixed

[2016-06-24 01:11] #138 closed, assigned to nobody

[2016-06-24 01:11] #136 closed, assigned to nobody

[2016-06-24 01:12] tterrag1098 commented on #135
This shouldnt' be an issue anymore

[2016-06-24 01:12] #135 closed, assigned to nobody

[2016-06-24 01:12] #128 closed, assigned to nobody

[2016-06-24 01:12] #120 closed, assigned to nobody

[2016-06-24 01:12] #95 closed, assigned to nobody

[2016-06-24 01:12] #96 closed, assigned to nobody

[2016-06-24 01:14] tterrag1098 commented on #129
1. This seems to be incorrect behavior in a mod
2. Reproduce on 1.9 and I may look at it. For now, closing.

[2016-06-24 01:14] #129 closed, assigned to nobody

[2016-06-24 01:14] #111 closed, assigned to nobody

[2016-06-24 01:14] #110 closed, assigned to nobody

[2016-06-24 01:15] #109 closed, assigned to nobody

[2016-06-24 01:15] tterrag1098 commented on #105
Reproduce on 1.9 and will reopen.

[2016-06-24 01:15] #105 closed, assigned to nobody

[2016-06-24 01:16] #58 closed, assigned to nobody

[2016-06-24 01:19] #9 closed, assigned to nobody

[2016-06-24 01:19] tterrag1098 commented on #33
This will be done with forge system eventually

[2016-06-24 01:19] #33 closed, assigned to nobody

[2016-06-24 06:11] Prospector commented on #148
Probably unless you fixed it :P

[2016-06-24 10:18] Daomephsta opened #174 "[1.9] Rusty Scaffolding occlusion culling is broken"
The factory block variant, rusty scaffolding does not do occlusion culling properly.
![2016-06-24_22 14 24](https://cloud.githubusercontent.com/assets/10936237/16335227/9b3c332e-3a59-11e6-8da0-5b13d4982b0f.png)

[2016-06-24 11:35] B0bbyD0llar commented on #153
Hi, is there still an problem with marble and limestone generation at version MC1.9.4-0.0.5.29?

[2016-06-24 11:38] Drullkus commented on #153
We still haven't yet added them to the worldgen.

[2016-06-24 11:39] Drullkus commented on #174
Oh ffs!

@tterrag1098 ? How do we fix this

[2016-06-24 11:40] B0bbyD0llar commented on #153
ahhh. that means that is not a bug, this feature is still missing?

[2016-06-24 11:57] Drullkus commented on #153
It's still an alpha. It's stable enough to be in modpacks but not feature complete. Go ahead and spawn your blocks via `/give @p chisel:basalt 64` or whatever block you needed. They will be made craftable, cheap in worldgen, and we're considering NPC trades.

[2016-06-24 12:05] B0bbyD0llar commented on #153
Thanks for your explanation and your hint. Is there any schedule for add this feature. It is a question not a annoying ask :-)

[2016-06-24 12:07] Drullkus commented on #153
We never know when stuff gets added. There's still things in the chisel core we're still trying to work out. :P

[2016-06-24 14:03] tterrag1098 commented on #174
The same way it was fixed for glass etc?

[2016-06-24 17:26] Bogdan-G commented on #110
the problem is solved in versions for MC 1.8/1.8.9/1.9.4?

[2016-06-24 17:28] tterrag1098 commented on #110
Yes

[2016-06-25 14:40] Drullkus commented on #136
@tterrag1098 You sure this is fixed?

[2016-06-25 14:42] Drullkus commented on #174
But I set the transparency for all of the blocks by setting it before starting variations. I'm guessing if I set it on one variation, it does that for that just one variation.

[2016-06-25 17:53] tterrag1098 commented on #174
Yes

[2016-06-25 17:53] tterrag1098 commented on #136
I remember doing something to fix this. Feel free to try and reproduce.

[2016-06-26 11:48] starg09 opened #175 "[1.9.4] Suggestion: Add a "market block" for obtaining blocks in survival which aren't available"
While some of the metal blocks are starting to appear in other mods (Like tin, copper and silver in Forestry/IC2), some others may take some time (Platinum, Invar...). How about making a "Market" block (the idea came from the one in Pam's Harvestcraft), where you could buy a stack of a certain block for an emerald? (maybe allowing to change amount per trade, cost and payment item in config)

An al

[2016-06-26 18:40] Drullkus commented on #175
Crafting, worldgen, and NPCs are already planned. A new NPC house and maybe chiseling every single house.

[2016-07-03 17:00] MichaelDays commented on #162
Experienced this in Chisel-MC1.9.4-0.0.5.29, forge-1.9.4-12.17.0.1976, MC 1.9.4 (modpack: "All The Mods", with the diamond chisel, and the iron chisel (chisel.cfg has B:ironChiselCanLeftClick=true).

[2016-07-03 18:04] Drullkus commented on #162
We actually haven't coded this function yet. It will come when we finish the durability code.

[2016-07-03 21:33] MichaelDays commented on #162
Thanks for the update, I didn't realise that. :)

Maybe the config file could have a comment marking which options aren't yet available?

[2016-07-05 22:00] ghost opened #177 "Lighting bugs . 3."
Put a torch down, redstone or coal torch, either one works.
Put chisel blocks on the north, south, east, and west sides of the torch.
The block on the north side has a shading glitch. All sides visible turn the same shade.

[2016-07-05 22:06] tterrag1098 commented on #177
Screenshots?

[2016-07-06 22:19] cactusbee opened #178 "[1.9.4] Only one block chisels at a time/disappearing styles"
Hi, we're using Chisel in a private modpack for 1.9.4 and since updating to the latest build, **1.9.4-0.0.5.29**, we've encountered a problem trying to chisel any quantity of blocks from the GUI. Only one block may be changed at a time. On the prior version we were using, **1.9.4-0.0.5.27**, this feature worked perfectly. Here is a list of the mods we are currently using: http://pastebin.com/rdNTT

[2016-07-06 22:36] Drullkus commented on #178
Potentially invalid in future due to future Gui rewrite

[2016-07-07 00:01] ChloeDawn opened #179 "Block suggestion: Hay Bales"
Chiselled hay bales have been something I've been thinking about for a while now. Having different variants of them, including ones that would work as flooring/bedding for a barn/farmhouse style build would be great. If needed I could probably provide textures as examples, given time.

[2016-07-07 14:23] Voidi opened #180 "Chisel API jar is missing Javadoc"
It seems that javadoc is striped from the API jar (1.9 Builds) . Shouldn't they be included or should i use another version in my dev enviroment? (I only want to use the API)

[2016-07-07 15:01] Drullkus commented on #180
I don't thing the API is considered stable, but idk, @tterrag1098 ?

[2016-07-07 16:41] tterrag1098 commented on #180
It's not, but it should still be building properly. The api jar should have source in it, but even if not, we do publish a source jar which gradle should download and attach automatically.

[2016-07-07 18:39] Voidi commented on #180
Ok, i deleted and readded the API in the IDEA Project settings and now it seems to work.
Sorry for the inconvenience.

[2016-07-07 18:39] #180 closed, assigned to nobody

[2016-07-09 22:47] MysticAura opened #181 "[Inquiry] Render method"
Are you guys using a special renderer for your blocks?

I'm asking in hopes that there is a way for MultiStorage mod to be able to clone your blocks with its chameleon storage. Currently it only shows missing texture when he clones the rendered block model.

Any ideas you could give would be much appreciated.

[2016-07-09 23:32] kwpugh opened #182 "[1.10.2] Crash on server startup"
Crash report: http://pastebin.com/raw/L8ZHHSLw

Forge: 2008
Mod: Chisel-MC1.9.4-0.0.6.30.jar

[2016-07-11 02:51] C0rn3j commented on #182
Crashes on Forge 2010 too

[2016-07-11 03:00] tterrag1098 commented on #182
This should be fixed in the latest release

[2016-07-11 04:29] Redlotus99 opened #183 "1.10.2 Crash with Shaders and Optifine"
This may be related to https://github.com/Chisel-Team/Chisel/issues/172 or https://github.com/Chisel-Team/Chisel/issues/170 but wanted to open a new ticket as I don't see this exact same issue listed. It may also be a dupe from a few of the Optifine issues.

Here is the paste bin of the client crash I am getting. It seems server runs fine.

http://pastebin.com/drt5nuqh

Chisel - 0.0.5.29 also occu

[2016-07-11 10:50] B0bbyD0llar opened #184 "[REQUEST] Dynmap Support"
Hello,

it is possible to support Dynmap (https://github.com/webbukkit/dynmap/wiki/Custom-Block-Definitions).

Unfortunately my skills are not enough to the making itself.

It would be great. Thanks a lot.

[2016-07-11 10:56] B0bbyD0llar opened #185 "[BUG/SUGGESTION] Language vars missing"
There is missing an entry for Hightech-Chisel in lang/en_US.

Btw. Maybe you can start an translation project at https://crowdin.com/ (or somthing else). I guess the community will help to translate this project.

[2016-07-11 13:56] 0Navis0 commented on #183
Now it crashs again with the new chisel version, the 0.0.6.33. :(

[2016-07-11 13:58] tterrag1098 commented on #183
Optifine is not supported

[2016-07-11 13:58] #183 closed, assigned to nobody

[2016-07-11 13:58] tterrag1098 commented on #177
Anything on this?

[2016-07-11 14:08] 0Navis0 commented on #183
Will it be supported one day ?

[2016-07-11 14:10] tterrag1098 commented on #183
Likely not. As our code works on vanilla, Optifine should be assuring that our code works with whatever nasty hacks they are doing to cause this crash. Chisel is a forge mod, and it works with forge.

Consider this. If you added chisel to a game with lots of other mods, and it started causing crashes in all of them (crashes that don't necessarily point to chisel, but go away when chisel is not the

[2016-07-11 14:13] 0Navis0 commented on #183
Yeah I understand it, but you have to tell that to the optifine owner, because you both shift the blame on the other.

[2016-07-11 14:39] Zaweri opened #186 "[1.10.2] Crash upon placing a cloud block from Chisel onto slimy grass from TiC"
http://pastebin.com/GaAFm2HD

The server keeps crashing when the chunk that contains said block is loaded. A player on our server placed a cloud block onto slimy grass, and this occurred. I will report this to the Tinkers' Construct mod authors as well.

[2016-07-11 15:50] alexbegt commented on #186
This is due to code that the Tinkers Construct team removed, It has not been pushed to curse yet. (Commit https://github.com/SlimeKnights/TinkersConstruct/commit/37cf0b2f3b9f90c042302d9518d80328bfcb5610). Turns out on the old version, it would send the BlockState of the Slimy Grass, and Chisel uses that to get the light opacity. (https://github.com/Chisel-Team/Chisel/blob/1.9/dev/src/main/java/tea

[2016-07-11 16:31] ChloeDawn opened #187 "Crash when generating terrain on server"
Server crashed when flying into new terrain after updating to the latest version of your mod. Tried logging in again after rebooting the server and it instantly crashed again. I'll downgrade the mod to a version that doesn't include world gen on my server until the issue is fixed.

Minecraft version: 1.10.2
Forge version: 12.18.0.2010
Mod version: [0.0.6.33](http://minecraft.curseforge.com/project

[2016-07-11 16:33] tterrag1098 commented on #187
Hm. Did you disable the basalt feature?

[2016-07-11 16:34] ChloeDawn commented on #187
No, but I've set specialGen to false now and I'm going to try logging in again. Would I need to downgrade and then upgrade to remove existing world gen? Or will disabling the basalt feature fix the issue?

[2016-07-11 16:35] tterrag1098 commented on #187
I'd rather resolve this issue than avoid it. Could you post your entire fml client log?

[2016-07-11 16:43] ChloeDawn commented on #187
I disabled specialGen and it seems to have solved the issue. Maybe you could have it set to false by default until the feature is less WIP?

My client log exceeds the limit on pastebin so I had to upload the file itself to my dropbox.

https://www.dropbox.com/s/i10gfo77u9daadc/fml-client-latest.log?dl=0

[2016-07-11 16:47] tterrag1098 commented on #187
But that's the thing. The code the normal gen uses is here:

https://github.com/Chisel-Team/Chisel/blob/1.9/dev/src/main/java/team/chisel/Features.java#L188

And the code the special gen uses is here:

https://github.com/Chisel-Team/Chisel/blob/1.9/dev/src/main/java/team/chisel/common/util/GenerationHandler.java#L93

Notice that they are the exact same bit of code?

[2016-07-11 16:53] ChloeDawn commented on #187
The crash report says its struggling on this line though , which needs to be processed before the actual generation happens, right? https://github.com/Chisel-Team/Chisel/blob/1.9/dev/src/main/java/team/chisel/common/util/GenerationHandler.java#L76

[2016-07-11 16:55] ChloeDawn commented on #187
I don't personally know enough about world gen code to help out, I'm merely reporting a crash involving your mod :P

[2016-07-11 16:55] tterrag1098 commented on #187
The actual exception spawns from

[code]

Which is called from the line you linked.

[2016-07-11 17:05] ChloeDawn commented on #187
I realise that I am using Vazkii's realistic terrain wrapper from Quark, but I don't think that would affect how Chisel interacts with the world? Here's the values for lava lakes in the realistic world type.

`\"useLavaLakes\":true,\"lavaLakeChance\":80,\"useLavaOceans\":false,`

And here's the class that handles the wrapper: [WorldTypeRealistic.java](https://github.com/Vazkii/Quark/blob/master/sr

[2016-07-11 17:08] tterrag1098 commented on #187
~~Ok, this is undoubtedly involved. @Vazkii are you causing the PopulateChunkEvent.Post event to be fired before worldgen somehow?~~

On second thought I doubt this.

[2016-07-11 17:14] tterrag1098 commented on #187
So this is a dedicated server? I will admit I haven't specifically tested that. I'll see if I can reproduce it.

[2016-07-11 17:15] ChloeDawn commented on #187
Here's a crash report I got from trying to generate a singleplayer world using default world type. It's having trouble with other mods' world gen now too? http://pastebin.com/rmKNk2JA

The initial crash I reported was from connecting to an existing world after updating the mod, this crash was caused whilst trying to generate an entirely new world, which might explain why its also causing issues fo

[2016-07-11 17:16] tterrag1098 commented on #187
No, it's just that other mods (Pam's) are cascading their generation into other chunks, causing a recursive chunk load.

[2016-07-11 17:24] tterrag1098 commented on #187
Tested out of dev, in latest forge for 1.10.2, working just fine.

![](http://i.imgur.com/zCLCBu6.png)

This must be caused by one of the many mods you have installed alongside chisel. I would recommend doing a binary search. Remove half of the mods (other than chisel) and test. If it works, then you know the problem mod is in the half you removed. If it's still broken, you know it's not. Repeat u

[2016-07-11 17:54] Peach774 opened #188 "[Ore Dict] Basalt. Marble, and Limestone should be registered in the Ore Dictionary"
Similar to andesite, diorite and granite, basalt and limestone should be respectively registered as 'stoneBasalt' and 'stoneMarble' and 'stoneLimestone'. This will increase mod compatibility.

[2016-07-11 18:14] ChloeDawn commented on #187
Okay, so. I have been through my _entire_ pack, and by the end of testing I have disabled every single mod except for Chisel, lost a bit of sanity.. and it's still crashing. So it must be how I have my config. I have a lot of the WIP blocks disabled in my pack.. And up until this update I've had Basalt, Limestone, and Marble disabled among other blocks such as Copper. So something is causing it to

[2016-07-11 18:18] ChloeDawn commented on #187
Can confirm: Enabling the basalt feature fixed the issue. So maybe it's not checking to see if the feature is actually enabled when it tries to use specialGen?

[2016-07-11 18:24] tterrag1098 commented on #187
https://github.com/Chisel-Team/Chisel/issues/187#issuecomment-231789320

You mean _literally_ the first thing I asked you?

[2016-07-11 18:24] ChloeDawn commented on #187
Shit I'm so sorry I thought you were talking about the specialGen feature for basalt D:

[2016-07-11 18:34] #187 closed, assigned to nobody

[2016-07-12 04:42] Kyyndle opened #190 "Crash when any Chiseled Block is rendered with Shaders"
After a lot of trial and error, I discovered that frequent crashes were occurring when any Chiseled Block was rendered while Shaders were enabled.

Additionally, Textures for Chiseled Blocks in the Chisel GUI's were also not rendered while Shaders were active. However, this did not cause a crash.

When Shaders were disabled, Chisel worked perfectly.

Here's my latest crash log:
http://pastebin.com

[2016-07-12 04:44] tterrag1098 commented on #190
Optifine/Shaders are not supported.

[2016-07-12 04:44] #190 closed, assigned to nobody

[2016-07-12 04:54] Kyyndle commented on #190
Ah I see, thank you for the really quick reply!

Is it listed anywhere that Chisel isn't compatible with Optifine Shaders? Maybe I'm missing something. I've noticed you guys seem to get a lot of annoying tickets regarding this issue. It could save you a lot of headaches to add a disclaimer.

I'm still going to use this mod regardless. I just didn't know if it was an issue or not!

[2016-07-12 04:55] tterrag1098 commented on #190
Read my comment here. https://github.com/Chisel-Team/Chisel/issues/183#issuecomment-231745710

In my mind, it doesn't need a disclaimer, as it is obvious that this crash is caused BY Optifine, not Chisel. They are incompatible with us, not the other way around.

[2016-07-12 04:56] Kyyndle commented on #190
Thanks for putting things in perspective, much appreciated. :)

[2016-07-12 19:11] C0rn3j commented on #182
Can confirm it works.(Chisel-MC1.9.4-0.0.6.33)

[2016-07-12 19:24] kwpugh commented on #182
Confirmed, working on Forge 2011.

[2016-07-12 19:25] #182 closed, assigned to nobody

[2016-07-13 16:48] Drullkus commented on #188
What other mods use those oredict names?

[2016-07-13 18:30] Peach774 commented on #188
This is how stone is registered in vanilla minecraft. stone, stoneAndesite, etc. Quark currently uses stoneBasalt and I am trying to get Environmental Technology to use it also because having 3 types of basalt is ridiculous.

[2016-07-13 21:18] LlubNek opened #192 ""Tesselating block model" crash when entering new world"
I got an NPE "Tesselating block model" crash when entering a new world (just as Minecraft starts trying to render the world).

I'm using Chisel-MC1.9.4-0.0.6.33.jar, Forge 12.18.1.2013 and Minecraft 1.10.2.  I'm not using Optifine or any MCPatcher mods.

crash report:  [crash-2016-07-13_17.05.29-client.txt](https://github.com/Chisel-Team/Chisel/files/362461/crash-2016-07-13_17.05.29-client.txt)
lo

[2016-07-13 21:58] tterrag1098 commented on #192
This commit may improve things, though I'm not sure how this could have happened. It seems to be implying that the model got a null icon, but the block being drawn is a marble block (from worldgen) which works fine for plenty of other people. Could you try removing some of the many mods you have to see if the crash still occurs? You have far to many for me to attempt to reproduce this.

[2016-07-13 22:14] Drullkus commented on #188
Excellent. I will use `stoneBasalt`, `stoneMarble`, and `stoneLimestone` then!

[2016-07-13 22:23] Peach774 commented on #188
Thank you so much!

[2016-07-16 14:51] Vaerys-Dawn opened #193 "Depreciated blocks between 1.9 and 1.10?"
so upon updating between minecraft 1.9 and 1.10 there seems to have been some blocks depreciated (or not yet implemented).

affected version
Chisel - MC1.9.4-0.0.6.33

any word on that?

affected blocks:
fantasy/*
fantasy2/*
sandstone/*
there may be others i have not yet noticed

[2016-07-16 15:44] Drullkus commented on #193
Between 1.9 and 1.10? We never ported at all because our 1.9 jars work on 1.10. We literally never compiled with version 1.10. You probably were using FTB Unstable or one of the jars from our Jenkins.

Fantasy(2), Grimstone, Holystone, Leaves, Linemarkings, and several others if I forgot were nuked.
- If you're looking for black-themed blocks like Grimstone, check out new Basalt. Coal and Flint bl

[2016-07-18 19:52] 0Navis0 opened #194 "(feature suggestion) Quartz variants"
I realized recently that Chisel didn't add any variants for Quartz, I told me it would be a nice idea if Chisel added more Quartz blocks. This idea came when I saw the mod Quartzly. http://minecraft.curseforge.com/projects/quartzly?gameCategorySlug=mc-mods&projectID=247159

[2016-07-18 20:42] KnightMiner commented on #194
If you read the comments of #193, quartz is planned.

[2016-07-18 22:40] Drullkus commented on #194
Yep. We'll also have chiseled flint which will look like black Quartz. I looked at that mod you linked and we'll be having most of those patterns and then many more.

[2016-07-18 22:57] 0Navis0 commented on #194
It's awesome ! And the chiseled flint has been suggested by me if I remember. Anyway I can't wait to see it. :)

[2016-07-22 20:33] LlubNek commented on #192
Just got a similar crash with a different mod set after adding environmental tech and base metals (and their dependencies).  Might be an issue with one of those two mods (I'd guess environmental tech... maybe a conflict with their basalt?).  I'll try a couple tests.

[crash-2016-07-22_16.24.11-client.txt](https://github.com/Chisel-Team/Chisel/files/379002/crash-2016-07-22_16.24.11-client.txt)
[lat

[2016-07-22 21:46] LlubNek commented on #192
With just these mods there's no crash (added a few rendering-related mods incase they're involved):

**Testing repeatability**

Reentering the crashed world (from the comment above) with the same mod set as when it first crashed crashes again.
[crash-2016-07-22_17.05.02-client.txt](https://github.com/Chisel-Team/Chisel/files/379077/crash-2016-07-22_17.05.02-client.txt)
[latest.log.txt](https://git

[2016-07-22 22:40] LlubNek commented on #192
**Removing base metals, environmental tech, and their dependencies**

Creating a new world (different seed) after removing mods doesn't crash.
[latest.log.txt](https://github.com/Chisel-Team/Chisel/files/379140/latest.log.txt)

Recreating a world that previously crashed (same seed as in comment 3) doesn't crash.
[latest.log.txt](https://github.com/Chisel-Team/Chisel/files/379155/latest.log.txt)

D

[2016-07-22 23:39] LlubNek commented on #192
Using just these mods doesn't crash:

**Removing zoology**

Creating a new world with the crashing mod set after removing zoology and readding environmental tech crashes.
[crash-2016-07-22_19.23.29-client.txt](https://github.com/Chisel-Team/Chisel/files/379220/crash-2016-07-22_19.23.29-client.txt)
[latest.log.txt](https://github.com/Chisel-Team/Chisel/files/379221/latest.log.txt)

Trying again wit

[2016-07-23 00:08] LlubNek commented on #192
Since McJtyLib has been crashing occasionally, I'll see if that's related (maybe there's a race condition to see whether Chisel or McJtyLib crashes first).

Using just these mods doesn't crash:

**Removing mcjtylib**

Creating a new world with the crashing mod set after removing mcjtylib and its dependents crashes.
[crash-2016-07-22_20.04.18-client.txt](https://github.com/Chisel-Team/Chisel/files/

[2016-07-23 09:43] Rushmead opened #196 "[1.10.2][Shaders][Optifine]"
Hi all,

Getting this crash when joining a server / world with shaders on. If you could fix this, would be great. I love myself some shaders in my trailers :)

http://pastebin.com/62RaxcrD

Thanks
Rushmead

[2016-07-23 10:14] LuigiHutch commented on #196
See https://github.com/sp614x/optifine/issues/185

[2016-07-23 10:21] #196 closed, assigned to nobody

[2016-07-23 16:21] Drullkus commented on #192
I wonder if it's caused by some mod screwing around with the Model Registry that causes our mod to have a.... hiccup.

[2016-07-23 23:26] awkwaRdcaRRot opened #197 "1.10.2 You can use transparent blocks to look through the world"
Placed down a rust transparent factory block and looking inside the block lets you see through the ground

[2016-07-24 03:21] aravol commented on #162
Could the tooltip line indicating this functionality be removed? It's perplexing having to find our way to this bug when the game says it's there but it actually isn't

[2016-07-26 04:04] acanady opened #198 "Invisible Blocks with Optifine"

[2016-07-26 04:07] acanady commented on #198
As it says I'm using the lates Optifine 1.10.2 Ultra C2 version with Chisel version 0.0.6.33 and the chisel blocks don't show up in JEI or the Chisel. If I use the Chisel and try to say transform a piece of cobble to a chiseled variant buy guessing where it is on the GUI the game crashes horribly. Removing Optifine fixes this issue. Normally I would just remove Optifine but my shaders wouldn't wor

[2016-07-26 04:09] Drullkus commented on #198
Wait.

[2016-07-26 04:10] Drullkus commented on #198
Nvm, I'm bad at reading. Duplicate of #170.

[2016-07-26 04:10] #198 closed, assigned to nobody

[2016-07-26 04:11] acanady commented on #198
Thanks

[2016-07-26 04:36] acanady opened #199 "[1.10.2] No HolyStone"
I'm not seeing any holystone recipe or block in JEI. Is holystone not yet implemented in this version of Chisel or am I missing something?

[2016-07-26 04:40] Drullkus commented on #199
Removed, use ~~Marble/Quartz (Quartz coming in a future update)~~ Chiseled Cobblestone as a replacement. Chiseled Cobblestone looks nearly identical.

[2016-07-26 04:40] #199 closed, assigned to nobody

[2016-07-26 04:41] Drullkus commented on #199
If lots of people ask, we're release a Chisel blockpack in the future re-adding all of the legacy blocks.

[2016-07-27 06:52] Continous commented on #192
Check chisels and bits. This may also fix the crash relating to shaders and optifine.

[2016-07-27 13:04] Rodg88 commented on #177
I got a video of this happening to basalt in 1.10.2 FTB Unstable pack (with a couple of mod updated from the vanilla pack), chisel 0.0.6.33 forge 2026
https://www.youtube.com/watch?v=5veGEp5v-Q8

[2016-07-28 04:09] LlubNek commented on #192
Remember chisels and bits was in the trimmed down tests, which didn't crash.

[2016-07-28 06:16] Apocryphai opened #200 "Dupe Bug With Items Being Chiselled"
If I use a chisel to carve some items, [REDACTED] they duplicate in my inventory. Mostly it doubles the item stack but sometimes it creates more than that.

This is in AllTheMods pack 1.10.2 v1.7, Chisel-MC1.9.4-0.0.6.33 and tested with Diamond Chisel.

[2016-07-28 11:08] Apocryphai commented on #200
Update: it's to do with right-clicking to use the chisel straight after logging in. [REDACTED]. You can even do it with blocks that can't be chiselled, [REDACTED].

[2016-07-28 18:41] ghost commented on #200
Blocks and Items are two different things.
You may or may not have confused one of the devs with this.

[2016-07-28 18:44] Apocryphai commented on #200
My bad, it's blocks only.

[2016-07-28 18:52] tterrag1098 commented on #200
I'm not 100% clear on how to reproduce this. Would it be possible for you to record a video/gif of it happening?

[2016-07-28 21:09] Apocryphai commented on #200
Here you go:  [REDACTED]

[2016-07-28 21:27] tterrag1098 commented on #200
~~I could not reproduce this on the laggiest server I know of (BTM). I suspect another mod might be playing a role here.~~

Nevermind.

[2016-07-28 23:47] tterrag1098 commented on #200
Fixed

[2016-07-28 23:47] #200 closed, assigned to nobody

[2016-07-29 01:01] tterrag1098 commented on #200
To prevent the spread of (fixed) dupe bug information, I have censored some portions of this issue.

[2016-07-30 16:34] Ryudragon2 opened #201 "1.7.10 Chisel 2.9.5.11 Carpet vanishes"
I like your guys carper and wanted to use them but half of it vanishes and now i cannot use it
![2016-07-30_11 32 54](https://cloud.githubusercontent.com/assets/10014757/17271732/84dc2952-5649-11e6-93cc-ae6404d14636.png)

[2016-07-30 16:45] Ryudragon2 commented on #201
![2016-07-30_11 45 08](https://cloud.githubusercontent.com/assets/10014757/17271785/1b75e55a-564b-11e6-8ffb-47af652b1780.png)

[2016-07-31 01:52] tterrag1098 commented on #201
Optifine?

[2016-07-31 20:01] oitsjustjose commented on #188
Hey @Drullkus, any chance for adding the plank variants to the OreDict too?

[2016-07-31 20:03] oitsjustjose opened #202 "[Suggestion] [1.10.2] Make Basalt drop a flame-retardant ItemStack"
Pretty straight forward suggestion - it'd be super helpful if Basalt didn't burn in lava. Could you change basalt to spawn an ItemStack that isn't flammable? I know stuff like this is possible, ExU's Ender Pearls and Ender Lilly Seeds don't get destroyed by the Ender Lilly plants by a similar mechanic. In fact, I could probably write up a PR if it'd save you guys some time.

[2016-08-01 13:25] Keridos commented on #188
Hm, my Hitech diamond chisel apparently does not check for oredictionary alternatives for those items, too. Used Minetweaker to add them all to ore:basalt and ore:stoneBasalt and I cannot chisel the other mods basalt with the chisel.

[2016-08-01 18:27] Drullkus commented on #202
Not bad, I guess. A PR would be nice!

[2016-08-01 20:41] 016Nojr opened #203 "No crafting recipe for Tyrian blocks [1.10.2]"
Used to be 1 iron ingot surrounded by 8 stone, but I guess it is not implemented

[2016-08-01 21:19] oitsjustjose commented on #202
Well crap, I thought I'd be able to figure it out, but I tried and tried and tried. While I can get the ItemStack to technically live through fire damage, it stops rendering after it's been caught on fire (so it's as though on the client the item dies, but on the server it does not).

Closing since I wasn't able to provide my own solution and it's not a big enough deal to inconvenience you guys fo

[2016-08-01 21:19] #202 closed, assigned to nobody

[2016-08-04 18:02] Drullkus commented on #188
We don't have oreDict handled yet.

[2016-08-06 11:36] raymondbh commented on #139
Any news on this?

?

[2016-08-06 15:31] Rated01010010 opened #204 "1.10.2 - Add ore dictionary support please."
Please add ore dictionary support for Basalt, Marble, and Limestone. There are other mods that generate it and they should be able to be chiseled too. I don't want 1.10 to end up like 1.7.10

[2016-08-06 18:09] KnightMiner commented on #204
Duplicate of #188

[2016-08-06 23:44] #204 closed, assigned to nobody

[2016-08-09 19:22] VsnGamer opened #205 "[1.10.2] Crash when picking blocks from the chisel GUI with mouse wheel (ItemScroller Mod)"
(Not sure if its ItemScroller Mod or Chisels bug)
Heres the crash log.

[crash-2016-08-09_20.11.46-client.txt](https://github.com/Chisel-Team/Chisel/files/409733/crash-2016-08-09_20.11.46-client.txt)

[2016-08-09 19:27] tterrag1098 commented on #205
The stack in the target slot is somehow null. This should never be possible with vanilla, so I have to blame ItemScroller. @masa ?

[2016-08-09 19:27] tterrag1098 commented on #205
Wrong ping. @maruohon

[2016-08-10 03:05] maruohon commented on #205
This is now fixed in Item Scroller 0.6.2+ (release some time tomorrow, hopefully).

[2016-08-10 04:38] Felkey opened #206 "2.9.5.11 crash on server start"
http://pastebin.com/Pj3CzxHz

when i try and install chisel it first always asks me to do /fml confirm because forge detects the backup level.dat is being used

i also tried updating automagy to the most recent version as that seems to show up a lot in the crash report

EDIT: i should also point out that my client works fine with these mods

[2016-08-10 04:50] tterrag1098 commented on #206
What in the world makes you think this is caused by chisel?

[2016-08-10 04:50] #206 closed, assigned to nobody

[2016-08-10 04:54] Felkey commented on #206
because i never had this issue until i installed chisel, works fine without

[2016-08-10 04:55] tterrag1098 commented on #206
Take it up with automagy

[2016-08-10 16:10] VsnGamer commented on #205
nice

[2016-08-10 17:21] #205 closed, assigned to nobody

[2016-08-10 17:21] Drullkus commented on #205
👍

[2016-08-10 17:23] #193 closed, assigned to nobody

[2016-08-10 17:40] maruohon opened #207 "Shift + clicking items out of the chisel input slot destroys any items in the cursor"
I believe the offending code is this: https://github.com/Chisel-Team/Chisel/blob/1.9/dev/src/main/java/team/chisel/common/inventory/ContainerChisel.java#L123-L128

I'm not sure what the point of that onPickupFromSlot() is, but if it's to update the chisel inventory, then you should at least temporarily store whatever is in the cursor and restore it after.

[2016-08-10 17:51] #207 closed, assigned to nobody

[2016-08-13 15:18] tenten8401 commented on #192
I'm getting a very similar error when using Optifine w/ shaders enabled. (on 1.10)

[2016-08-13 15:23] Drullkus commented on #192
Or a combination of them, perhaps. Would be harder to isolate.

[2016-08-13 15:52] tterrag1098 commented on #192
@tenten8401 Optifine is not supported.

[2016-08-13 17:59] tenten8401 commented on #192
@tterrag1098 I know, I've seen you post that on a few other issue reports already, and know that you both keep shifting the blame. I'm just stating the fact that I am getting a very similar error with it.

[2016-08-13 18:05] Drullkus commented on #192
@tenten8401 @tterrag1098 Optifine is not the cause of this issue.

Regardless, we still don't exactly support Optifine. It's simply too high-maintainence for us.

[2016-08-14 21:56] Redlotus99 commented on #196
Obviously Optifine folks aren't going to fix this is there anything you ac do at all about this? Config option, anything?

[2016-08-15 01:40] tterrag1098 commented on #196
As I don't know what causes it, no.

[2016-08-15 06:03] CorneliusCornbread opened #210 "Marble stairs with large dent turn into marble stairs without the large dent"
When you break Marble stairs with large dent it turns into the stair variant without a large dent
![2016-08-15_01 02 26](https://cloud.githubusercontent.com/assets/8294697/17656843/10219100-6284-11e6-8411-8a5d2a45ae8d.png)

[2016-08-18 12:04] AtomicBlom opened #212 "Dupe bug using chisel"
Steps to reproduce:
- Give yourself a diamond ore block
- Give yourself a piece of redstone dust
- Open the gui for a chisel or diamond chisel
- Place the diamond ore block in the preview slot
- Close the gui
- Open the gui
- Pick up the redstone
- Replace the diamond ore in the preview slot
- Place the diamond ore back in your inventory
- Close the gui
- Open the gui

You should have a second dia

[2016-08-20 23:16] MrAmericanMike opened #213 "[1.10.2] Crash when entering a Cavern Dimension"
Trying to enter the Cavern dimension in 1.10.2 in presence of the mod Chisel and Caverns the pack hangs with this errors on console.

http://pastebin.com/TmUhQYnB

Please if you need any fiurther information let me know, but mods versions and Forge version should be there on the log ;) Thanks.

[2016-08-21 01:35] tterrag1098 commented on #213
Considering I have no reports of this for vanilla dimensions, I am inclined to blame the mod that adds the Cavern Dimension.

However, I know very little about worldgen, so if the dev of that mod wants to explain why I am wrong, I'd listen.

[2016-08-21 02:40] Drullkus commented on #212
Reproduced. @tterrag1098 you said this old GUI was up for a re-write?

[2016-08-21 12:34] ghost opened #214 "NullPointerException"
dont know if its Chisel or Forge related crash

crashlog

http://pastebin.com/eqZkj9Dq

[2016-08-21 20:39] Drullkus commented on #214
What were you doing before this crash happened?

[2016-08-21 20:43] ghost commented on #214
nothing special placing a torch on a redstone block

[2016-08-21 21:01] ghost commented on #214
its probably a issue with enderzoo mobs in combo with light updates , a enderzoo mob spawned a few blocks next to me and my game crashed with the same crashlog. and i tested it in creative world and used a spawn egg from enderzoo and my game crashed with same log as in the first post

[2016-08-21 23:28] MrAmericanMike commented on #213
I have reported the issue on their GitHub also, I will let you know if I get any answer from the devs there ;)

[2016-08-22 02:54] Drullkus opened #215 "Crash when looking at an Entity"
Tested on Chisel .38 (grabbed from Jenkins). [Get logged m8](https://dl.dropboxusercontent.com/s/7mv0hm8wdt5zhdy/crash-2016-08-21_19.47.09-client.txt)

Crash found when testing Shear Madness with latest Chisel version. Problem was isolated to just Chisel. @tterrag1098 pls

Problem appears to be in the offset tool.

[2016-08-22 17:11] SrAnthony opened #216 "Dupe bug with Caches"
Chisel version: 2.9.5.11
Thermal Expansion version: 4.1.4-247
(Modpack github: https://github.com/TheKingdomServer/JordannPack)

Tested both multi and singleplayer.
Put an item on chisel gui.
Now, right and left click with your chisel on a cache frenetically, it will open the gui so you'll be able to pick the block back and pick another chisel on cache.

[2016-08-24 16:17] univalent-universe opened #217 "Crash at loading assets [1.7]"
Everytime I start a modpack with Chisel, the game crashes before even on the menu screen.
It tries to load the asset and then crashes with the following error:
net.minecraft.client.renderer.StitcherException: Unable to fit: chisel:factory/wireframewhite - size: 16x16
Full crash log here: https://gist.github.com/THE-MegaMan/b3d7bb66ae12d6af103ed17efef0944e

[2016-08-24 19:34] kimfy opened #218 "Cracked Concrete"
It would be nice if concrete had a cracked variant with CTM. Here's a picture to illustrate what I'm thinking of. In the image I'm looking at my ceiling, that's why the perspective is so weird.
![cracked_concrete](http://i.imgur.com/78t43D9.png)

[2016-08-24 21:13] tterrag1098 commented on #217
You didn't even read the log? It says right there "Maybe try a lower resolution resource pack." If you aren't using a resource pack at all, then your GPU simply can't handle the size of all the textures in the game.

[2016-08-24 21:13] #217 closed, assigned to nobody

[2016-08-25 07:20] univalent-universe commented on #217
I did. The GPU I'm using is really not good, I don't use a resource pack.

[2016-08-25 07:21] tterrag1098 commented on #217
You're out of luck then. Try disabling some of the chisel modules you don't use in the config.

[2016-08-27 15:04] ghost opened #219 "[1.10.2] No recipes for some blocks"
- Carpets
- Sandstone scribbles
- Tyrian (this one already reported)

[2016-08-30 06:46] drakray opened #220 "[Bug] Naming compatibility"
Some [mods](https://minecraft.curseforge.com/projects/ruins-structure-spawning-system) do not support having a block/item with an hyphen in it, like the chisel:sandstone-scribbles block, it should be named chisel:sandstone_scribbles, to follow naming convention

[2016-08-31 12:14] xlxAciDxlx opened #222 "[1.10.2] Crash When Entering New Chunks"
For some reason, any time I go into a new chunk my game crashes. I was originally thinking it was Biomes O Plenty at fault as I had just updated it, but disabling Chisel makes the error non reproducible and I can then enter new chunks without crashing. It may be a Biomes O Plenty issue as well, if it is please let me know and I can post on their GitHub as well. :)

[Crash Log](http://pastebin.com/

[2016-09-02 13:11] ghost opened #223 "Light can travel through all blocks"

[2016-09-02 13:54] tterrag1098 commented on #223
As of what version? This duplicates #171

[2016-09-02 13:59] ghost commented on #223
0.0.6.3 I believe, I'll double check the version and issue in a minute.

[2016-09-02 14:25] ghost commented on #223
Light from the sky just passes through them and zombies burn under them

![](http://i.nentify.me/ooEza5gQ.png)

Note no shadows on the floor and burning zombies compared to the minecraft stone on the right

[2016-09-04 06:56] TheRedcode8821 opened #224 "Disappearing blocks"
![2016-09-04_13 51 27](https://cloud.githubusercontent.com/assets/21981691/18229545/5397586a-72a7-11e6-8bfd-b445eb1b1c3b.png)
Some blocks keeps disappearing and re-appearing

[2016-09-04 15:58] TehNut commented on #224
Do you have Optifine installed?

[2016-09-04 22:28] DimkaDrug opened #225 "Crash with any Chisel version"
Crashing game when starting  with any chisel version unless 1.5.7

Report: http://pastebin.com/4kq4bEWr

[2016-09-05 02:45] EverNife commented on #216
The fact is that works with any storage (jabba, bins, etc)

Please, fix it for heaven's sake :V

[2016-09-05 12:01] knoxhack opened #226 "RFTools Dims+Chisel Server Crash"
https://gist.github.com/knoxhack/fc6049153e4545a104cbff1dafcc7c48

[2016-09-05 12:02] knoxhack commented on #226
https://github.com/MinecraftModDevelopment/MMD-Dev-Server/issues/81

[2016-09-06 11:53] Drullkus commented on #226
ಠ_ಠ

It looks like StackOverflow, but it's a classnotfound. Paging @mcjty and @tterrag1098

[2016-09-06 16:14] tterrag1098 commented on #226
The CNFE is hiding the stack overflow due to mojang's stupid crash system.

[2016-09-09 13:29] cosmicdan commented on #210
I have a couple issues related to Marble stairs, seems something is very wrong. One minor issue, the other major.

1) The second variant of Marble Stairs is incorrectly labelled (and textured, I suppose) - they appear identical to the Marble Block Stairs.
![chisel1](https://cloud.githubusercontent.com/assets/2092676/18388096/86df0494-76e3-11e6-92e2-7aec608a308a.png)

2) Breaking either of the ment

[2016-09-10 13:32] TheRedcode8821 commented on #224
Yes i do

[2016-09-10 17:32] SephirothWS commented on #224
Disable Optifine, and see if the blocks disappear and re-appear. If they don't, its a conflict with Optifine's rendering code, and not a bug with Chisel.

[2016-09-12 23:09] ilordnightmarei commented on #132
u dont need render just make a model set for them  woldnt that work beter and have variants posibly

[2016-09-12 23:17] ilordnightmarei opened #227 "better optimized rendering of chisel blocks"
rendering of chisel blocks like the connected ones glass chisel block and metal chisel blocks  rendering seems slow and rather unoptimized implemented block can be probably  just youse base  minecraft rendering for  non connected blocks and maby  connected blocks can  try to use a  more nicer method of connecting  and rendering  as in not rendering unseen faces and  fixing some of the scafold fact

[2016-09-13 01:48] tterrag1098 commented on #227
For the most part, we do. However what we add on top of the vanilla system allows for resource packs to change how our blocks render easily.

This already happens.

#197

[2016-09-13 01:48] #227 closed, assigned to nobody

[2016-09-13 01:49] tterrag1098 commented on #132
That won't work. The model system cannot recreate this effect.

[2016-09-13 01:50] Drullkus commented on #132
Bloody heck. Should we just dump them wholesale if players have not already gotten their hands on it?

[2016-09-13 09:40] ilordnightmarei opened #228 "uncraftble carpet blocks 1.10.2 and ore ditionary detection for certan blocks"
ya really no crafting recipe for carpet block those are my favorite  and  ore dictionary detection for  metal blocks  as in  copper tin aluminum uranium ect automatic ore dictionary

[2016-09-13 11:23] ilordnightmarei commented on #169
i like this feature

[2016-09-14 01:35] EverNife commented on #212
maybe related https://github.com/Chisel-Team/Chisel/issues/216

[2016-09-16 05:20] p455w0rd commented on #226
any news on this?

[2016-09-16 18:39] Stapleton opened #229 "[1.10.2] Chisel and CraftTweaker or Modtweaker support?"
Just curious at this point.
Is there a plan to get CraftTweaker or ModTweaker support for 1.10.2 Chisel?
I did some oredict fixing and now the blocks that I have fixed arent able to be used in the Chisel.
The fix I had in mind was to use one of the before mentioned mods to add the blocks back into the groups.
The unchiselable blocks being all the metals from Substratum that compat with the Chisel

[2016-09-16 18:45] Stapleton commented on #229
The metal blocks that arent able to be added is Aluminum, Copper, Cobalt, Bronze, Electrum, Invar, Lead, Nickel, Platinum, Silver, Steel, Tin, and Uranium.
I added this info just incase it helps the situation.

[2016-09-19 05:08] Drullkus commented on #225
You are using a very, very, old version. [Download the latest from here.](https://minecraft.curseforge.com/projects/chisel/files?filter-game-version=1738749986%3A5&filter-status=1)

[2016-09-19 05:08] #225 closed, assigned to nobody

[2016-09-20 22:53] Drullkus commented on #38
Whoops, never closed this issue, and bricks got a total redo.

[2016-09-20 22:53] #38 closed, assigned to Drullkus

[2016-09-20 22:53] #46 closed, assigned to Drullkus

[2016-09-20 22:54] Drullkus commented on #203
Fixed recipe

[2016-09-20 22:54] #203 closed, assigned to Drullkus

[2016-09-21 00:08] Drullkus commented on #5
Texture removed

[2016-09-21 00:08] #5 closed, assigned to Drullkus

[2016-09-21 00:10] #197 closed, assigned to Drullkus

[2016-09-21 00:11] Drullkus commented on #16
Fixed for 1.9/10

[2016-09-21 00:11] #16 closed, assigned to Drullkus

[2016-09-21 00:11] Drullkus commented on #93
Old textures were abandoned

[2016-09-21 00:11] #93 closed, assigned to nobody

[2016-09-21 00:12] Drullkus commented on #106
Ender Bismuth no longer exists

[2016-09-21 00:12] #106 closed, assigned to nobody

[2016-09-21 00:16] Drullkus commented on #181
Paging @minecreatr and @tterrag1098

Alternatively, @lordmau5 could help

[2016-09-21 00:17] tterrag1098 commented on #181
Our model requires the extended state to be provided. However, with no extended state given it should still render the default block. I would need to see how exactly you are "cloning" our render to see what the problem is.

[2016-09-21 00:19] AtomicBlom commented on #181
I've been able to render their blocks with little difficulty using a default state.

[2016-09-21 00:21] Drullkus commented on #17
Obsidian Chisel removed

[2016-09-21 00:21] #17 closed, assigned to nobody

[2016-09-21 00:22] Drullkus commented on #29
1.8 and above - Chisels and Bits.
1.7 - Carpenter's Blocks

[2016-09-21 00:22] #29 closed, assigned to nobody

[2016-09-21 00:24] Drullkus commented on #35
[See this comment](https://github.com/Chisel-Team/Chisel/issues/29#issuecomment-248475260)

[2016-09-21 00:24] #35 closed, assigned to nobody

[2016-09-21 00:25] #40 closed, assigned to tterrag1098

[2016-09-21 00:26] Drullkus commented on #48
Outdated, we've moved onto a MC Version where it exists in Vanilla

[2016-09-21 00:26] #48 closed, assigned to tterrag1098

[2016-09-21 00:26] Drullkus commented on #50
Minetweaker, if it bothers badly

[2016-09-21 00:26] #50 closed, assigned to nobody

[2016-09-21 00:26] Drullkus commented on #53
Outdated

[2016-09-21 00:26] #53 closed, assigned to nobody

[2016-09-21 00:27] Drullkus commented on #55
Outdated

[2016-09-21 00:27] #55 closed, assigned to tterrag1098

[2016-09-21 00:29] Drullkus commented on #63
Outdated; Rieka's Mods not ported; Chisel ported and support dropped for 1.7

[2016-09-21 00:29] #63 closed, assigned to nobody

[2016-09-21 00:29] Drullkus commented on #68
Outdated. Is it fixed anyway?

[2016-09-21 00:29] #68 closed, assigned to tterrag1098

[2016-09-21 00:29] Drullkus commented on #72
Unable to do in 1.9 due to how blocks-items are handled.

[2016-09-21 00:29] #72 closed, assigned to nobody

[2016-09-21 00:29] Drullkus commented on #73
Outdated; We no longer have slabs

[2016-09-21 00:29] #73 closed, assigned to tterrag1098

[2016-09-21 00:30] Drullkus commented on #74
Slabs removed; Outdated

[2016-09-21 00:30] #74 closed, assigned to tterrag1098

[2016-09-21 00:30] Drullkus commented on #75
Outdated; Related Chisel Bug found at #212 however

[2016-09-21 00:30] #75 closed, assigned to tterrag1098

[2016-09-21 00:31] Drullkus commented on #80
@tterrag1098? ¯\_(ツ)_/¯

[2016-09-21 00:32] Drullkus commented on #81
Chiseled Chests removed

[2016-09-21 00:32] #81 closed, assigned to tterrag1098

[2016-09-21 00:33] Drullkus commented on #82
Should be different due to new model system

[2016-09-21 00:33] #82 closed, assigned to tterrag1098

[2016-09-21 00:34] Drullkus commented on #85
Should be fixed? ¯\_(ツ)_/¯

[2016-09-21 00:34] #85 closed, assigned to nobody

[2016-09-21 00:36] Drullkus commented on #90
Textures reverted

[2016-09-21 00:36] #90 closed, assigned to Drullkus

[2016-09-21 00:36] Drullkus commented on #104
Issue still persists in Chisel's JEI thing (look at Factory Blocks)

[2016-09-21 00:37] Drullkus commented on #122
1.7.10 dropped

[2016-09-21 00:37] #122 closed, assigned to nobody

[2016-09-21 00:39] Drullkus commented on #149
This should be fixed. I saw it working at BTM 16.2

[2016-09-21 00:39] #149 closed, assigned to nobody

[2016-09-21 00:39] Drullkus commented on #151
Recipes were added

[2016-09-21 00:39] #151 closed, assigned to nobody

[2016-09-21 00:39] Drullkus commented on #153
Worldgen added for Limestone marble basalt

[2016-09-21 00:39] #153 closed, assigned to nobody

[2016-09-21 00:40] Drullkus commented on #156
No solution; Outdated

[2016-09-21 00:40] #156 closed, assigned to nobody

[2016-09-21 00:41] Drullkus commented on #159
Will be implemented as Flint blocks; will look like black quartz

[2016-09-21 00:41] Drullkus commented on #161
Didn't this get fixed?

[2016-09-21 00:42] Drullkus commented on #174
Fixed

[2016-09-21 00:42] #174 closed, assigned to nobody

[2016-09-21 00:43] Drullkus commented on #175
Limestone Marble Basalt added to oregen, will add villagers

[2016-09-21 00:43] Drullkus commented on #177
I still see this issue persisting

[2016-09-21 00:46] Drullkus commented on #178
I can chisel full stacks

[2016-09-21 00:46] #178 closed, assigned to nobody

[2016-09-21 00:47] Drullkus commented on #192
Is this still happening?

[2016-09-21 00:48] Drullkus commented on #201
Is this still happening?

[2016-09-21 00:56] Drullkus commented on #213
Anything on kegare/Cavern#10 ?

[2016-09-21 00:56] #215 closed, assigned to tterrag1098

[2016-09-21 00:58] Drullkus commented on #222
Related to #213

[2016-09-21 00:58] #212 closed, assigned to tterrag1098

[2016-09-21 00:58] #223 closed, assigned to nobody

[2016-09-21 00:59] #224 closed, assigned to nobody

[2016-09-21 01:01] tterrag1098 commented on #222
I might know what causes this. Will make the change, and let it get tested

[2016-09-21 01:12] HenryLoenwind commented on #149
Yes, it is. We also got connected textures working in both directions now.

[2016-09-21 01:22] tterrag1098 commented on #222
Wait. This report is strange. Did you disable the basalt feature?

[2016-09-21 01:27] Drullkus commented on #177
@minecreatr I really think you might want to investigate this. Maybe you'll find out why and even find a solution to making the blocks glow when we want them to.

[2016-09-21 01:31] #222 closed, assigned to nobody

[2016-09-21 02:49] Drullkus commented on #148
Still a problem

[2016-09-21 07:41] ilordnightmarei opened #231 "glowstone textures missaligned or not resized peoperly"
http://imgur.com/44t0Czk   really that looks ugly please make it border less  and the other ones do this as well  the glow stone blocks

[2016-09-21 12:39] Drullkus commented on #231
It's how the texture style goes and the way it's formatted. I already spent too long of time working with those. Feel free to PR alternative textures but I can't guarantee accepting.

These are my babies and you called it ugly :'(

[2016-09-21 12:39] #231 closed, assigned to nobody

[2016-09-21 13:28] MrAmericanMike commented on #213
On the last worlds with both mods in the pack, the crash didn't happened again, so I guess it was some temporary bug or something. Will let you guys know if it happens again at some point.

[2016-09-21 13:28] #213 closed, assigned to nobody

[2016-09-21 22:32] Bennyboy1695 opened #232 "Right click dupe bug"
If you right click the chisel onto the ground after removing a chiseled block it will then have the chiselable block in the chisel inventory aswell as in your own.
Version - Chisel-MC1.9.4-0.0.6.44

[2016-09-21 22:33] Drullkus commented on #232
Can you please clarify a little more of how you're doing it? What version are you using? What minecraft version? What mods are involved?

[2016-09-21 22:37] Bennyboy1695 commented on #232
Simply right clicking the chisel to open it again will essentially rollback the inventory of the chisel to before you chose and removed a chiseled block, but will keep the chiseled block in your inventory therefor duping it.
MC Version - 1.10.2
Mod Version - Chisel-MC1.9.4-0.0.6.44
Mod list - https://minecraft.curseforge.com/projects/all-the-mods/files/2331445

[2016-09-21 22:41] tterrag1098 commented on #232
This might be fixed in latest. Can you confirm?

[2016-09-21 22:41] Drullkus commented on #232
They're on .44? Damn, they're fast about updating!

Can you please record this happening? You could just record a gif too. I'm trying to reproduce but it's not happening.

[2016-09-21 22:50] Bennyboy1695 commented on #232
https://www.youtube.com/watch?v=DdPHKI8P1mI heres a video, the chisel had durability but it didnt matter if it was brand new or used would still do the same thing

[2016-09-21 22:55] Drullkus commented on #232
Wow... that is super bad. I reproduced it.

[2016-09-21 22:59] tterrag1098 commented on #232
Oh I know why this happens...will fix tonight
On Sep 21, 2016 6:55 PM, "Drullkus" notifications@github.com wrote:

[2016-09-21 23:12] ilordnightmarei commented on #231
im sorry but some of them   look beter borserless and  they just dont look aligned right dosnt fit thats all :P they just need minor tweaks and ya ill gladly make some  textures

[2016-09-21 23:19] Drullkus commented on #231
If you do make the textures, PR them to the [Textures Repo](https://github.com/Drullkus/Chisel-Textures)

[2016-09-21 23:25] ilordnightmarei commented on #231
will do ya  ill  prolly send u border less  versions of some i mean i love the textures but some of the borders  make it look odd and some textures need rotated to match the top bottom  small changes but ya ill defenetly  bring some nice textures to the tables 🌴

[2016-09-21 23:45] Drullkus commented on #147
This issue is still persisting
![2016-09-21_16 42 10](https://cloud.githubusercontent.com/assets/5010174/18732799/d2bc642a-801a-11e6-9095-fca29d73364b.png)

[2016-09-21 23:50] Drullkus opened #233 "Weird rendering prioritization"
Ignore the sexy cape.

The issue is occurring when there's platform of blocks that use the TRANSLUCENT layer. The problem is more visible when seen in F5, but still seen in first-person.

![2016-09-21_16 49 29](https://cloud.githubusercontent.com/assets/5010174/18732888/6be50904-801b-11e6-9b6b-7de1133baf87.png)

[2016-09-21 23:57] Drullkus commented on #194
Added

[2016-09-21 23:57] #194 closed, assigned to Drullkus

[2016-09-21 23:58] Drullkus commented on #185
Did the iChisel lang, will see about Crowdin thing later :)

[2016-09-22 01:09] Drullkus commented on #169
Fixed, you can now truly break glass.

That seems a bit counterintuitive...

[2016-09-22 01:09] #169 closed, assigned to Drullkus

[2016-09-22 01:48] KnightMiner commented on #233
Pretty sure this is a vanilla issue as I have seen it with slime blocks and ice. Vanilla does not know how to properly order semi-transparent faces due to something with OpenGL rendering (beyond what I understand). I would link you my issue report where TheMogMiner mentioned, but the issue for this on the vanilla bug tracker has split and been merged so much I lost track of where it ended up.

For

[2016-09-22 02:01] #233 closed, assigned to tterrag1098

[2016-09-22 02:53] #147 closed, assigned to tterrag1098

[2016-09-22 04:00] #232 closed, assigned to tterrag1098

[2016-09-22 07:33] Not-February opened #234 "Crash on startup (1.10.2)"
The log points to Chisel as the culprit. At first it was throwing this error for aluminum, and since that material doesn't exist in my set of mods, I tried disabling that feature(and others for materials not present in the pack) from the config - only for it to then throw the same thing for basalt. Which should definitely be present from this mod.

https://paste.ee/p/ufnQ1

[2016-09-22 08:20] Slither88 commented on #234
Getting the same crash. First Aluminium then basalt. Have several mods that have basalt in.

http://pastebin.com/1SzmAgL9 - Alu

http://pastebin.com/F0SX1W03 - Basalt

[2016-09-22 09:21] trevpan commented on #234
I'm also throwing this error.
http://pastebin.com/hMzT5eXH

[2016-09-22 11:54] jensz12 commented on #234
Same issue here :-)
[crash-2016-09-22_13.51.11-server.txt](https://github.com/Chisel-Team/Chisel/files/487186/crash-2016-09-22_13.51.11-server.txt)

[2016-09-22 13:43] 0Navis0 commented on #234
I have exactly the same problem too.

[2016-09-22 13:44] tterrag1098 commented on #234
Sorry about this. I'm working on a fix now.

[2016-09-22 13:44] 0Navis0 commented on #234
It's fine don't worry, it happens to everybody to make errors. ;)

[2016-09-22 13:48] #234 closed, assigned to nobody

[2016-09-22 15:55] Drullkus commented on #228
Oredict added

[2016-09-22 15:55] #188 closed, assigned to Drullkus

[2016-09-22 20:38] ilordnightmarei commented on #228
excellent now all that's left is missing recipes and  texture fixes

[2016-09-26 19:54] GreenWolf13 opened #236 "Missing Textures on Factory Blocks"
Exactly what it says in the title. Since the latest update, the side textures for the "metal box" factory block have been missing.
![q8ivcdf7](https://cloud.githubusercontent.com/assets/2723312/18849536/44bcddc2-83e8-11e6-962d-e7284bfeca38.png)

[2016-09-27 01:29] Drullkus commented on #236
Whoops. Didn't mean that to get into the release.

[2016-09-27 01:33] #236 closed, assigned to Drullkus

[2016-09-27 11:36] ShetiPhian commented on #181
I'll chime in here,
While the chameleon block is able to clone most blocks it doesn't work with everything, MysticAura asked me to support Chisel, but since I was already using the extended state I figured it was using the TESR.

The block's getExtendedState, embeds the extended state of the cloned block into its own extended state.
In its IBakedModel.getQuads it extracts the embedded iblockstate,

[2016-09-27 18:06] ilordnightmarei commented on #228
um the carpet blocks  are you going to add a recipe to them cause i love the carpet blocks

[2016-09-27 19:04] Drullkus opened #237 "FTBU Guide"
[Example](https://github.com/LatvianModder/XPTeleporters/tree/1.9/src/main/resources/assets/xpt/guide)

[2016-09-28 03:49] Tony1l commented on #228
the carpet is mind blowingly good in this mod, hope you get around to making a base carpet recipe for 1.10 for us survivalist purists. : )

[2016-09-28 23:32] jelaw21 opened #238 "iChisel not creating blocks."
Crafted an iChisel, selected the block, selected the pattern hollow, clicked chisel and nothing. Tried all patterns, nothing. 1.10.2 Chisel 6.46.

[2016-09-29 02:23] tterrag1098 commented on #238
Pattern has nothing to do with crafting. Select the variant you want in the list, it changes the block in your inventory in place.

[2016-09-29 02:27] jelaw21 commented on #238
Will test tomorrow.

[2016-09-29 03:17] Drullkus commented on #238
[Works fine for me](https://gfycat.com/DishonestHomelyIndianjackal). What version of Chisel are you using?

[2016-09-29 09:52] jelaw21 commented on #238
Alright, close this ticket.

On Wed, Sep 28, 2016 at 11:17 PM, Drullkus notifications@github.com wrote:

[2016-09-29 09:54] #238 closed, assigned to nobody

[2016-09-29 13:01] Drullkus opened #239 "Models broken in inv and in-hand?"
The tops fail to render in-inventory and in-hand. Renders fine on bottoms and sides. Renders full block in overworld as expected

<img width="595" alt="screen shot 2016-09-29 at 5 59 56 am" src="https://cloud.githubusercontent.com/assets/5010174/18954934/09ef8572-860a-11e6-9cb7-456e3ab88d98.png">

[2016-09-29 13:21] Drullkus commented on #228
Carpets added. Tossed in some [new variations](https://twitter.com/Drullkus/status/781472596575477760) as well. Have fun! 👍

[2016-09-29 13:22] #228 closed, assigned to Drullkus

[2016-09-29 13:31] Drullkus commented on #26
16 Wool variations added based off of Llamas

[2016-09-29 13:36] #4 closed, assigned to Drullkus

[2016-09-29 15:08] BBoldt commented on #26
🙏

[2016-09-29 18:19] Drullkus commented on #26
If you find me 16 carpet designs, each one of them being a general color found in Vanilla and focus around a theme, I will add it ;)

I'm bad at googling unique and different carpet designs. Maybe look at different cultures and such :D

[2016-10-01 05:00] #239 closed, assigned to tterrag1098

[2016-10-01 17:41] Drullkus opened #240 "Chisel Model jsons need to respect json transformations in-hand"
![carpetissue](https://cloud.githubusercontent.com/assets/5010174/19015976/80a9dec8-87c3-11e6-8da6-e68fc5ce296f.gif)

The Chisel carpet is so far down you can only see one pixel of it.

[2016-10-01 19:55] #67 closed, assigned to Drullkus

[2016-10-01 19:55] Drullkus commented on #67
Chiseled Wool + Chiseled Carpets done. There's plenty of hardened clay variations.

Feel free to reply with specific examples though. :D

[2016-10-01 20:04] #219 closed, assigned to Drullkus

[2016-10-01 20:05] Drullkus commented on #219
Carpets recipes added via chiseling from vanilla carpets, Wool recipes added via chiseling from vanilla wools, Sandstone Scribbles added to `sandstoneyellow` carving group, Tyrian recipe conflict resolved

[2016-10-01 21:30] Drullkus commented on #214
I think this was fixed when #215 was fixed. I tried reproducing just now, looked at all entities, and slew them with a diamond sword.

[2016-10-01 21:30] #214 closed, assigned to nobody

[2016-10-02 17:47] Unrepentant-Atheist opened #241 "Random crashes.."
https://gist.github.com/anonymous/8e0def07b79dc5019d1c444bbdb77f2b

https://gist.github.com/anonymous/102824ae47634de692817e500b335a0e

https://gist.github.com/anonymous/3264ac43daaec55cac848d902bcb0ceb

[2016-10-02 17:52] TehNut commented on #241
More Optifine crashes! \o/

[2016-10-02 17:54] Drullkus commented on #241
Does this issue occur without Optifine? What were you doing before this crash occurred?

[2016-10-02 18:28] RobertLSnead opened #242 "Causing Other Mod Blocks to go Invisible!"
The latest update Chisel-MC1.9.4-0.0.6.48 is causing several headache to the following mods:
Thut's Elevator
Malisis Door's
Storage Network

Most if not all the blocks are going invisible and downgrading the update fixes the issue!
I have addressed all the mods listed and have come to the conclusion something changed that caused this issue!

[2016-10-02 18:29] Drullkus commented on #242
What mods do you have? All of them?

[2016-10-02 18:39] RobertLSnead commented on #242
Yes and then some!
I have only loaded the select few and have done several trouble shooting, I had help from the owner from Thut's that helped me determine this!

[2016-10-02 18:40] Drullkus commented on #242
No optifine?

[2016-10-02 18:40] RobertLSnead commented on #242
Yes! Sorry!

[2016-10-02 18:40] RobertLSnead commented on #242
Can not run mc without it!

[2016-10-02 18:41] RobertLSnead commented on #242
I can try leaving all and removing optifine that I can do?

[2016-10-02 18:41] Drullkus commented on #242
Please try seeing if the problem persists without Optifine

[2016-10-02 18:41] RobertLSnead commented on #242
will do, doing that now!

[2016-10-02 18:46] RobertLSnead commented on #242
Removing Optifine does not help!  The problem still persists!

[2016-10-02 18:50] RobertLSnead commented on #242
Also I noticed your file description still shows 1.9.4 but is released for 1.10.2 nothing major though!

[2016-10-02 18:51] Drullkus commented on #242
Yes, the 1.9.4 mod jar works with both 1.9.4 and 1.10.2. I'll personally look at the issue later

[2016-10-02 18:54] RobertLSnead commented on #242
I have also notified all the mod authors as well!  Thut is seeing what he can do on his end, not sure if that will help much though.

[2016-10-02 20:57] Drullkus opened #243 "Chiselable Beacons"
The Glass on the beacons could be chiseled between each variations of Chiseled glass. We shouldn't be doing colored beams this time around

Thoughts? @tterrag1098 @minecreatr

[2016-10-03 11:01] bloodyraoul commented on #241
I have the same kind of crashes. Optifine is installed.
Only appears with Chisel - MC1.9.4-0.0.6.48 version
I have downgraded my chisel version and Chisel - MC1.9.4-0.0.6.46 doesnt crash yet

[2016-10-03 16:53] OldManCraft opened #244 "Issue when adding the newest Botania"
https://github.com/Vazkii/Botania/issues/1905?_pjax=%23js-repo-pjax-container

This does not happen with the 46 version of Chisel and New Botania 326

Reported to Botania, Just wanting you to see it as well.

[2016-10-03 16:58] Drullkus commented on #241
Does it happen without optifine?

[2016-10-03 20:37] RobertLSnead commented on #242
I should add it is also affecting redstone paste and MalisisSwitches more to be discovered!

[2016-10-03 22:24] SiblisCu commented on #242
It also affects Ender IO facades painted like chisel blocks.

[2016-10-04 01:18] tterrag1098 commented on #242
Revert to previous release for now. Fix is in the works.

[2016-10-04 09:24] bloodyraoul commented on #241
I have tested it without Optifine, the bug didnt occur again.
So what have changed in your code between 6.46 and 6.48 that is not compatible with optifine ?
Do you think the problem is on your side or optifine side ?

[2016-10-05 19:03] MakerTim commented on #216
Confirmd for 1.10
https://www.youtube.com/watch?v=T6UUrKl5pWs

[2016-10-05 21:59] Drullkus commented on #177
So far we've established that this is the result of the Forge Lighting pipeline. Works fine with vanilla's.

[2016-10-06 08:22] Alexusexcel commented on #242
I can't downgrade Chisel to prev. 6.46 version! My world is crushing!! Can you fix the trouble? 6.48 still not working with Malisis doors and seems to conflict with other mods as well(((

[2016-10-06 15:22] trabpukcip commented on #242
I noticed that build 48 was pulled from CurseForge after already downloading it to use in a modpack, so ducked that one.

[2016-10-06 17:37] EverNife commented on #216
Why dont just prevent the items from being stored inside the chisel?

When chisel is closed the blocks fall onto the ground...

[2016-10-06 17:58] Drullkus commented on #216
@MakerTim That's a different dupe. Already patched

@evernife You are supposed to be able to store blocks inside the chisel, it is used for left-click in-world chiseling (implemented in 1.7, on TODO for 1.10). Alternatively it is used for Chiseling Sheep in [AtomicBlom/ShearMadness](https://github.com/AtomicBlom/ShearMadness)

[2016-10-06 18:08] EverNife commented on #216
--'

Cant create a patch to disable it ?

A dupe bug cause a server owner to ban the chisel itself, and we need to sell blocks in a market.

Or, in my case, ban any type of storage... (Jabba, caches, etc) :/

[2016-10-06 20:44] TheBritishBrotherhood opened #245 "Huge duping bug! [1.10.2]"
If you combine two nearly broken chisels in a crafting grid, and then use the new chisel it provides, It will dupe whatever block you try and chisel, This needs to be fixed, I sent TTERRAG a video of this bug

Thank you :)

[2016-10-06 22:19] C0rn3j opened #246 "Unable to set public static team.chisel.common.block.BlockCarvable"
Errors: http://pastebin.com/7Har8wRQ

Forge 2095, happens in server startup log.

Modlist: https://rys.pw/Minecraft#Modlist

[2016-10-07 01:06] tterrag1098 commented on #246
@Drullkus are carpets not inheriting from BlockCarvable? If so, then the field in ChiselBlocks cannot be of type BlockCarvable.

[2016-10-07 01:34] tterrag1098 commented on #245
Fixed via https://github.com/Chisel-Team/Chisel/commit/069efe64451668b3205cc67110631c63f4cb9f08

[2016-10-07 02:41] ghost opened #247 "[1.10.2] iChisel Causes Client Crash"
When you right click on a iChisel to open the GUI it crashes the client

[Gist Crash Report](https://gist.github.com/Stuart74/bf882409250102ecc64d28c132c3ccc1)

Chisel Version  1.9.4-0.0.6.46
Forge Version 2092

[2016-10-07 02:46] Drullkus commented on #247
That is weird. I have been using my iChisel left and right just fine. What were you doing before you crashed?

[2016-10-07 03:10] Drullkus commented on #246
This makes no sense. BlockCarvableCarpet does inherit from BlockCarvable. [Code](https://github.com/Chisel-Team/Chisel/blob/1.9/dev/src/main/java/team/chisel/common/block/BlockCarvableCarpet.java#L15)

[2016-10-07 03:16] Drullkus commented on #246
Can you please isolate what other mods besides Chisel are causing this? I'm suspecting a mod causing problems alongside chisel.

[2016-10-07 03:33] AtomicBlom commented on #246
I would also like to see a full server log, as opposed to just the exception so I can check for warnings that would have happened earlier.

[2016-10-07 04:44] ghost commented on #247
nothing i logged as one of my players reported the issue and as the admin ii wanted to confirm the crash and get a crash report.

I tested to see if it occurred  in single player since we use sponge for forge on our server and wanted to ensure that it was not a sponge related crash which it isn't as it crashes in single player also.

[2016-10-07 04:48] tterrag1098 commented on #247
I would test without so many other mods installed. The crash here is in vanilla code so I suspect something else is messing with things.

[2016-10-07 10:45] C0rn3j commented on #246
http://pastebin.com/fBYAHXiN

[2016-10-07 15:33] ph1823 opened #248 "Chisel 1.8?"
Hello, i see chisel on Minecraft 1.7.10 and 1.10 not in 1.8 the chisel version 1.8 isn't exit?

[2016-10-07 16:13] MyNameIsKodos commented on #248
No it does not, and it won't as far as I know.  1.10 is the current version of modded Minecraft, and there are plenty of mods on it so I'd suggest moving to it

[2016-10-07 18:19] ph1823 commented on #248
Ok thank.

[2016-10-07 19:43] WenXin20 opened #249 "Crash w/ Better Foliage 1.10.2"
Forge 2092
[Better Foliage 2.1.0](https://minecraft.curseforge.com/projects/better-foliage)
Better Foliage Config: [BetterFoliage.txt](https://github.com/Chisel-Team/Chisel/files/516988/BetterFoliage.txt)
It crashes on world load with this mod.
[Crash Log](http://pastebin.com/mR3m7eQB)

[2016-10-07 21:31] #248 closed, assigned to nobody

[2016-10-07 21:32] tterrag1098 commented on #249
There is a reason .48 was pulled, please downgrade to .46 until a fix is released.

[2016-10-08 03:55] WenXin20 commented on #249
Ok, thanks, I didn't realize that version had been pulled.

[2016-10-08 06:36] #249 closed, assigned to nobody

[2016-10-08 07:30] robaimes commented on #247
Replicated it here: http://pastebin.com/VNhs7vnZ

I believe the problem is NEI as it is also preventing other GUI aspects from showing while JEI shows. The relevant issue is here: https://github.com/TheCBProject/NotEnoughItems/issues/25

Edit: Removed NEI and the problem goes away, so the above issue should be where further discussion takes place.

[2016-10-08 07:51] #247 closed, assigned to nobody

[2016-10-08 08:02] Napkin opened #250 "Missing texture on Futura Block"
Whether I place the block or look at it in JEI, the textures are missing (using Chisel-MC1.9.4-0.0.6.46.jar in MC 1.10.2):
![futura_block](https://cloud.githubusercontent.com/assets/274086/19211496/385bbb5c-8d3e-11e6-8d4e-9bf920a9596c.png)

[2016-10-08 16:26] Fortanono opened #251 "[Suggestion] Gabbro"
Gabbro would be a rough stone, like Granite or Diorite (maybe a bit less so), but a pale olive color (kinda like US Dollar bills). It would have all the same variations as other blocks. What do you think?

[2016-10-08 18:57] quantumsheep opened #252 "Downgrade make ID fails"
There is a lot of peoples having this problem: The downgrade is making all the ID changed...

Because Chisel 48 is no longer on Curse, we can't update let this version in our modpack, when the update comes?

[2016-10-08 19:31] LemADEC commented on #246
We're having same issue in our modpack. Common mods are:
ActuallyAdditions
AppleCore
armorplus
AutoRegLib
Baubles
bdlib
Botania
Chameleon
Chisel (obviously)
CookingForBlockheads
CraftingTweaks
FastLeaveDecay
forestry
gendustry
ImmersiveEngineering
InventoryTweaks
jei
journeymap
JurassiCraft
llibrary
MCMultiPart
Morph-o-Tool
Morpheus
NoMoreRecipeConflict
Pam's HarvestCraft
Quark
RoguelikeDungeons
S

[2016-10-08 19:31] Drullkus commented on #251
Good idea. I'll have a look at that.

[2016-10-08 20:15] LemADEC commented on #246
Issue is related to the map itself.
Maybe an old chisel registry name isn't converting properly?

[2016-10-08 20:28] LemADEC commented on #246
Issue is reproduced with just Chisel and Forge provided the map level.dat includes a "chisel:carpet" registered block.
Forge version tested: forge-1.10.2-12.18.1.2094-universal.jar

Here's a level.dat that reproduces the issue (I've renamed one of chisel carpet_xxx blocks to just carpet):
[level.zip](https://github.com/Chisel-Team/Chisel/files/517920/level.zip)

[2016-10-08 22:45] MrNinja93 commented on #242
May be related, Blood Magic mimic blocks used on Chisel blocks causes them to render invisible, though this happens in versions of Chisel prior to 48. Currently running chisel 46 with this happening (No optifine)

[2016-10-08 23:35] tterrag1098 commented on #242
Should be fixed by .50

[2016-10-08 23:35] #242 closed, assigned to nobody

[2016-10-08 23:36] tterrag1098 commented on #246
That's not a crash

[2016-10-08 23:36] #246 closed, assigned to Drullkus

[2016-10-08 23:36] tterrag1098 commented on #252
.50 is up now

[2016-10-08 23:36] #252 closed, assigned to nobody

[2016-10-08 23:37] tterrag1098 commented on #250
Working for me in .50, can you confirm?

![](http://i.imgur.com/sNAM828.png)

[2016-10-09 00:13] C0rn3j commented on #246
I never claimed it was. It's an error happening in the server startup phase.

Was the bug fixed since you closed the issue?

[2016-10-09 00:15] tterrag1098 commented on #246
The error can be ignored. It was caused by downgrading and missing blocks.

[2016-10-09 00:17] C0rn3j commented on #246
So unless I create a new world I will keep seeing this error in the console?

[2016-10-09 00:30] tterrag1098 commented on #246
Sadly yes, it is a bug in the Registry/@ObjectHolder system

[2016-10-09 00:39] C0rn3j commented on #246
Wouldn't it be possible to detect broken blocks and fix them instead of just letting them stay broken?

[2016-10-09 00:40] tterrag1098 commented on #246
That's not up to us, Forge manages the registries

[2016-10-09 01:41] Susjin opened #253 "Some blocks still invisible and missing textures (Ender IO Paited!!)"
In the first image is some conduit facades painted with tyrian, and the second is a glowstone block painted with a chiseled stone that have connected textures (other glowstone painted with chisel blocks are working fine)

I didn't saw other blocks with that problem

EDIT: all the chiseled stones are with that missing texture (just with painted blocks) and facades painted Laboratory blocks are with

[2016-10-09 03:51] Drullkus commented on #250
Issue occurs outside dev env, will investigate personally

[2016-10-09 07:35] utoc opened #254 "Error during startup"
Greetings,

I've updated to MC1.9.4-0.0.6.50 (FML2095) and with this version I get this error each time we start the server: http://pastebin.com/yQeKsMP2

Full log here: https://gist.github.com/utoc/1b35494286c2d35043c42ea86aa92cec

Just passing the issue on.. We have not noticed any ill side effects yet; close out this ticket as needed.

[2016-10-09 08:45] tterrag1098 commented on #254
See #246

[2016-10-09 08:45] #254 closed, assigned to nobody

[2016-10-09 19:45] #167 closed, assigned to tterrag1098, Drullkus

[2016-10-10 07:05] #245 closed, assigned to tterrag1098

[2016-10-10 19:57] Napkin commented on #250
As tterrag1098 suggested, I tried Chisel-MC1.9.4-0.0.6.50.jar. Can't get those textures to show up, though.

I tried in a copy of the normal world I play with lots of other mods. I tried in a separate new world with only forge-1.10.2-12.18.1.2095-universal.jar and jei_1.10.2-3.12.5.297.jar. And I tried in a separate new world with the new forge-1.10.2-12.18.2.2099-universal.jar and JEI.

The textu

[2016-10-10 23:01] Susjin commented on #250
Looks like blocks from other mods are doing weird things in Chisel, in my world, Tyrian facades are invisible, but in my test world they are fine, it is too weird o.O

[2016-10-13 00:12] Drullkus opened #255 "StackOverflow on replacing Beacon's Model via CTM loader"
[Not kidding. WTF?](http://pastebin.com/W1e8hEgQ)

[2016-10-13 00:14] Drullkus commented on #255
User error. Set a parent of the model as itself. Did a stupid

[2016-10-13 00:14] #255 closed, assigned to nobody

[2016-10-13 00:18] Drullkus opened #256 "Using CTM Loader replaces *ALL* quads of a cuboid face."
![2016-10-12_17 17 54](https://cloud.githubusercontent.com/assets/5010174/19332325/d28c194c-909f-11e6-8971-a5f3665024fd.png)

That's a beacon.

[code]

beacon_model.json is the exact copy of the vanilla beacon.json.

Also: Item Model Broken

[2016-10-14 00:24] BrelanAllin opened #257 "Version 0.51 and Inventory pets (missing textures)"
Works fine with version 0.50.

No update to inventory pets in months.

Most items are missing textures.

[2016-10-14 05:39] capnkirok commented on #257
Can confirm, 4 separate reports since yesterday.  (Hi @Drullkus!)

[2016-10-14 16:51] Drullkus commented on #257
Wait... what?

I know we changed our way of loading our resources, are you talking about InvPet's Item icons being missing? Weird...

[2016-10-14 16:52] Drullkus commented on #257
~~I'm gonna go ahead and look at how you handle resources in your json files, there might be some weird stuff happening.~~ Your Git Repo is empty! :(

[2016-10-14 19:27] jawsawn opened #258 "[1.10.2] Worldgen blocks doesn't voxel up with the stone"
When you go into spectator mode you can see all the Chisel stones in the worldgen. I assume this might cause lag or ping issues.

It bugs me a lot. Please fix the block renders just fo the worldgen stones.

[2016-10-14 20:42] capnkirok commented on #257
Could be. Let me know if you find anything. I'll also look tomorrow.